body {
  margin-top: 5vh;

  max-width: 100vw;
  padding-left: 20vw;
  padding-right: 20vw;
}

@media screen and (max-aspect-ratio: 1/1 ) {
  body {
    padding-left: 8vw;
    padding-right: 8vw;
  }

  div.art {
    max-height: 100vh !important;
    height: auto !important;
  }

  img {

  }
}

@media screen and (max-width: 850px) {
  body {
    padding-left: 8vw;
    padding-right: 8vw;
  }

}

@media screen and (max-width: 600px) {
  body {
    padding-left: 5vw;
    padding-right: 5vw;
  }
}

::selection {
  background-color: rgba(240, 240, 240, 0.9);
}

::-moz-selection {
  background-color: rgba(240, 240, 240, 0.9);
}

p {
  margin: 0;
}

h1 {
  font-weight: 800;
  color: #333;
}

h2 {
  font-weight: 600;
  color: #333;
  font-size: 20pt;
}

p.section {
  font-weight: 700;
  font-size: 17pt;
  padding: 5px;
  font-style: italic;
}

p.section a {
  padding: 0 5px;
}

.sub {
  font-weight: 100;
}

div.art {
  padding: 50px 0;
  height: 100vh;
  font-family: 'Minion Pro';
  align-content: center;
}

.art p.sub {
  font-size: 10pt;
  padding: 5px 0;
  text-align: left;
  display: table;
  max-width: 80%;
}

.art.photojournal {
  font-family: 'Courier New', monospace;
}

img {
  display: block;
  height: auto\9;
  max-width: 100%;
  width: auto\9;
  max-height: 100%;
}

a {
  text-decoration: none;
  color: #a44;
}

a:hover {
  font-style: italic;
}

.back a{
  position: absolute;
  left: 20px;
  top: 10px;
  color: #ddd;
  font-weight: 800;
  font-size: 20pt;
}

.back a:hover {
  background-color: white;
  font-style: normal;
  color: #a44;
}

.time-jump {
  font-weight: 200;
}

.time-jump a {
  padding: 0 3px;
}

.time-jump a:hover {
  background-color: #eee;
  font-style: normal;
}

footer a {
  color: #ddd;
}

footer a:hover {
  background-color: white;
}
