@font-face {
    font-family: 'Minion Pro';
    src: url('fonts/Minion Pro Regular.ttf');
}

@font-face {
    font-family: 'Minion Pro';
    src: url('fonts/minionpro-bold.otf');
    font-weight: bold;
}

/* @font-face {
    font-family: 'Charter';
    src: url('CharterITC.otf');
} */

@font-face {
    font-family: 'Garamond Pro';
    src: url('fonts/AGaramondPro-Regular.otf');
}

@font-face {
    font-family: 'Garamond Pro';
    src: url('fonts/AGaramondPro-Bold.otf');
    font-weight: bold;
}

@font-face {
    font-family: 'Garamond Pro';
    src: url('fonts/AGaramondPro-Italic.otf');
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: 'Garamond Pro';
    src: url('fonts/AGaramondPro-BoldItalic.otf');
    font-style: italic;
    font-weight: bold;
}

body {
  padding: 50px;
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
  /* font-family: 'Source Sans Pro', sans-serif; */
  /* font-family: 'Crimson Text'; */
  font-family: 'Open Sans';
  padding-left: 30vw;
  max-width: 600px;
  font-size: 12pt;
}
@media screen and (max-width: 850px) {
  body {
    padding-left: 15vw;
  }
}

@media screen and (max-width: 600px) {
  body {
    padding-left: 5vw;
  }
}

a {
  color: #00B7FF;
}

footer a{
  position: fixed;
  left:0px;
  bottom:0px;
  height:25px;
  width:99%;
  font-size: 8pt;
  text-align: right;
  font-weight: 600;
  opacity: 0.5;
  color:white;
  text-decoration: none;
}

footer a:hover {
  opacity: 1;
}
