@font-face {
    font-family: 'Minion Pro';
    src: url('Minion Pro Regular.ttf');
}

@font-face {
    font-family: 'Minion Pro';
    src: url('minionpro-bold.otf');
    font-weight: bold;
}

body {
  padding: 50px;
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
  /* font-family: 'Source Sans Pro', sans-serif; */
  /* font-family: 'Crimson Text'; */
  font-family: 'Open Sans';
  padding-left:25%;
  /* padding-right:20%; */
  max-width: 600px;
  font-size: 12pt;

}

a {
  color: #00B7FF;
}

footer {
  position: fixed;
  left:0px;
  bottom:0px;
  height:30px;
  width:99%;
  font-size: 8pt;
  text-align: right;
  /* color: #6d0e05; */
  /* color: #333; */
  color:#aaa;
  color:white;
  /* font-style: italic; */
  /* font-family: mon */
  font-weight: 300;

}
