body {
  padding: 50px;
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
  /* font-family: 'Source Sans Pro', sans-serif; */
  /* font-family: 'Crimson Text'; */
  font-family: 'Open Sans';
  /* padding-left: 30%; */
  /* padding-right: 30%; */
  /* margin-left: 30%; */
  /* margin-right: 40%; */

  /* margin-left:20%; */
  padding-left:20%;
  padding-right:20%;
  /* padding-right:30%; */
  max-width: 600px;

  font-size: 12pt;
}

a {
  color: #00B7FF;
}

footer {
  position: fixed;
  left:0px;
  bottom:0px;
  height:30px;
  width:99%;
  font-size: 8pt;
  text-align: right;
  /* color: #6d0e05; */
  /* color: #333; */
  color:#aaa;
  color:white;
  /* font-style: italic; */
  font-family: 'IBM Plex Mono', monospace;

}
