:root {
  --main-color: rgb(17, 100, 196);
  --hover-color: rgb(47, 179, 255);
  --subtle-color: rgb(171, 200, 236);
  --highlight-color:  rgb(47, 179, 255, 0.25);
}

.blog, .post {
  /* font-family: 'Minion Pro'; */
  font-family: Times;
  font-size: 13pt;
}

::selection {
  background: var(--highlight-color);
}

footer a {
  color: #bbb;
}


h3 > a.title {
  color: #a44;
  color: rgb(19, 109, 212);
  text-decoration: none;
  border: none;
}

h3 > a.title:hover {
  color: rgb(47, 179, 255);
  color: var(--hover-color);
}

/* links to the posts on the main page */
a.thoughtpost {
  text-underline-offset: 4px;
  color: var(--main-color);
  text-decoration-color: var(--subtle-color);
}

/* regular links within posts */
a {
  color: var(--main-color);
  text-underline-offset: 2px;
  text-decoration-color: var(--subtle-color);
}

a:hover {
  color: #d64d4d;
  color: rgb(47, 179, 255);
  color: var(--hover-color);
}

h1 {
  font-size: 30pt;
  margin: 0.5em 0;
}

h2 {
  font-size: 20pt;
  margin: 0.5em 0;
}

h3 {
  font-size: 17pt;
  margin: 0.5em 0;
}

h1, h2, h3, .title{
  font-family: 'Secular One';
  font-family: Georgia;
}

p {
  margin: 1em 0 0.25em 0;
}

ul {
  margin: auto 0;
}

p, ul, div {
  line-height: 1.3;
}

div.caption {
  margin: 0;
  font-size: 11pt;
}

img {
  margin: 1em 0 0 0;
}

p.quote {
  margin: 0.5em 0 0 1em;
  padding: 0 0 0 1em;
  border-left: 2px solid var(--main-color);
  font-size: 11.5pt;
}

img {
  height: auto\9;
  max-width: 100%;
  width: auto\9;
  max-height: 100%;
}

hr {
  max-width: 250px;
  border: none;
  height: 1px;
  background-color: var(--subtle-color);
}