body {
  background-color: #000000;
  color: #eeeeee;
  max-width: 100vw;
  padding-left: 20vw;
  padding-right: 20vw;
}

@media screen and (max-width: 850px) {
  body {
    padding-left: 10vw;
    padding-right: 10vw;
  }
}

@media screen and (max-width: 600px) {
  body {
    padding-left: 5vw;
    padding-right: 5vw;
  }
}

::selection {
  background-color: rgba(0,26,61,0.99);
  color: #888;
}

::-moz-selection {
  background-color: rgba(0,26,61,0.99);
}

h1 {
  font-weight: 700;
}

h1 a {
  text-decoration: none;
  color: #eeeeee;
}

.menu {
  color: #444;
  font-size: 10.5pt;
  font-family: 'Open Sans';
  font-weight: 100;
}

.menu .link a {
  padding: 0 4px;
  text-decoration: none;
  color: #666;
  font-family: 'Open Sans';
}

.menu .link a:hover {
  font-weight: 600;
  color: #a44;
}

.menu > .link.selected a {
  color: #a44;
  font-weight: 600;
  font-style: italic;
}

.movie {
  padding-bottom: 80px;
  max-width: 100%;
}

img {
  max-width: 100%;
  width: auto\9;
}

iframe {
  width: 100%;
}

p {
  margin-left: 5px;
}

.title {
  color: #aaa;
  font-weight: 700;
  line-height: 0.8;
  font-style: italic;
}

.sub {
  color: #555;
  font-weight: 300;
}

.description {
  color: #666;
  letter-spacing: 0.01em;
  font-family: 'Lato';
  font-size: 9.5pt;
  /* font-family: "Minion Pro"; */ 
}

.date {
  color: #666;
  font-weight: 300;
  font-size: 9pt;
  line-height: 0.5;
}

.movie a {
  color: #888;
  text-decoration: none;
}

.movie a:hover {
  color: #aaa;
  background-color: #111;
}

.movie a:visited {
  color: #888;
  text-decoration: none;
}

a.quiet-link {
  padding: 5px 20px;
}

.movie-list {
  font-size: 10pt;
  color: #888;
  font-family: 'Open Sans';
}

.movie-list .sub {
  padding: 0 3px 0 6px;
  /* font-weight: 100; */
  vertical-align: middle;
  line-height: 10px;
}

.movie-list ol li {
  counter-increment: list -1;
  list-style-type: none;
  position: relative;
  /* vertical-align:middle; */

}

.movie-list ol li:before {
  color: #555;
  content: counter(list) "";
  left: -38px;
  position: absolute;
  text-align: right;
  width: 26px;
  font-weight: 100;
}

ul.marker-list{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ol > .fav > span:nth-child(1):before,
ul > .fav :before {
  color: #a44;
  content: "*";
  font-weight: 800;
  padding: 0 5px 0 0;
}

ol > .good > span:nth-child(1):before,
ul > .good :before {
  color: #666;
  content: "*";
  font-weight: 800;
  padding: 0 5px 0 0;
}

.movie-list .date {
  /* hide for now, idk how to style this. */
  display: none;
  font-size: 6pt;
  /* color: #33d52; */
  color:#666;
  /* font-style: italic; */
  /* font-family: 'Lato'; */
  font-family: 'Roboto Mono';
  /* margin: 0 0 10px 0; */
  font-weight: 600;
}

.movie-list .date:before {
  /* content: ' ··· '; */
  /* content: '«'; */
  content: ' ';
  /* color: #1e2c42; */
  /* padding: 0 2px 0 1px; */
  /* font-family: 'Courier New', Courier, monospace; */
}

.movie-list .date:after {
  /* content: '»'; */
  /* color: #1e2c42; */
  /* padding: 0 0 0 2px; */
}

footer {
  color: #333;
}
