body {
  background-color: #000000;
  color: #eeeeee;
  max-width: 100vw;
  padding-left: 20vw;
  padding-right: 20vw;
}

@media screen and (max-width: 850px) {
  body {
    padding-left: 10vw;
    padding-right: 10vw;
  }
}

@media screen and (max-width: 600px) {
  body {
    padding-left: 5vw;
    padding-right: 5vw;
  }
}

::selection {
  color: #ddd;
}

::-moz-selection {
  color: #ddd;
}

h1 {
  font-weight: 700;
}

.movie {
  padding-bottom: 80px;
  max-width: 100%;
}

img {
  max-width: 100%;
  width: auto\9;
}

iframe {
  width: 100%;
}

p {
  margin-left: 5px;
}

.title {
  color: #aaa;
  font-weight: 700;
  line-height: 0.8;
}

.sub {
  /* color: #404040; */
  color:#555;
  font-weight: 300;
}

.description {
  /* color: #353535; */
  color:#666;
  font-size: 9pt;
  letter-spacing: 0.01em;
}

.date {
  color: #666;
  font-weight: 300;
  font-size: 9pt;
  line-height: 0.5;
}

footer {
  color: #333;
}
