body {
  background-color: #e8e3e3;
  color: #333;
  max-width: 600px;
  /* font-family: 'Garamond Pro'; */
}
@media screen and (max-width: 850px) {
  body {

  }
}

@media screen and (max-width: 600px) {
  body {
    max-width: 400px;
  }
}

::selection {
  background:#fff;
}

::-moz-selection {
  background:#fff;
}

p {

}

:hover {
  transition-duration: 0.2s;
}

h1 {
  font-weight: 700;
  color: #fefefe;
  margin-bottom: 0px;;
}

h1:hover {
  font-weight: 800;
  color: white;
}

/* page title */
h3 {
  font-weight: 700;
  color: #fff;
  font-size: 25pt;
  font-family: 'Lora';
}

h3:hover {

}

h2 {
  font-weight: 700;
  color: #fff;
  font-family: 'Lora';
}

p.sub {
  font-weight: 300;
}

a {
  text-decoration: none;
}

div.link {
  /* line-height: 1.5; */
}

.link a {
  /* font-family: 'Garamond Pro'; */
  font-family: 'Lora';
  /* font-size:15pt; */
  line-height: 1.8;
  font-weight: 300;
  color: #ba5555;
  letter-spacing: 0.01em;
}

.link a:hover {
  /* font-style: italic; */
  /* font-weight:800; */
  /* color: #7a2e2e; */
  background-color: #ba5555;
  /* color:#e8a7a7; */
    /* border-bottom: 2px solid #ba5555; */
  transition-duration: 0.2s;
}

div.link {
  /* margin-left:5px; */
}

.title {
  font-family: 'Lora';
  height: 5pt;
  /* color: #333; */
  /* color: #fefefe; */
  color:#fff;
  /* font-weight: 700; */
  opacity: 1.0;
  padding-top: 10px;
}

p.title:hover {

}


.description {
  color: #353535;
  font-size: 9pt;
}

.serif {
  /* font-family: 'Minion Pro'; */
  font-family: 'Garamond Pro';
  line-height: 1.3;
  font-size: 15pt;
}

.serif i {
  letter-spacing:0.01em;
}

.secret, .secret a {
  color:  #e8e3e3;
}

.secret a:hover {
  background: #e8e3e3;
}


/**************************** poems *******************************/
.poem {
  /* font-family: 'Minion Pro'; */
  /* font-family: 'Source Serif Pro'; */
  font-family: 'Garamond Pro';
  margin: 0px;
  line-height: 1.3;
  font-size: 15pt;
  padding-bottom: 100px;
}

.poem-title {
  font-weight: bold;
  padding-bottom: 10px;
  /* font-family: 'Lora'; */
}

.poetry-heading {
  font-family: 'Lora';
  /* font-family: 'Garamond Pro'; */
  font-size: 24pt;
  padding-bottom: 40px;

}

.poem-link.poem {
  padding-bottom: 50px;
}

.poem-link a {
  font-weight: 300;
  color: #e8a7a7;
}

.poem-link a:hover {
  background-color: #e8a7a7;
  transition-duration: 0.2s;
}

/************************ prose *************************/
.indent {
  margin-left: 3em;
  margin-right: 3em;
}

@media screen and (max-width: 600px) {

  .indent {
    margin-left: 2em;
    margin-right: 1em;
  }
}

.fiction {
  line-height: 1.8;
  background-color: white;
}

.fiction i {
  /* letter-spacing: 0.01em; */
}

.fiction h1 {
  color: #e8e3e3;
  font-family: 'Josefin Sans';
  font-size: 25pt;
  /* font-weight: 800; */
  letter-spacing: 3px;
}

.fiction ::selection {
  background: #e8e3e3;
}


/************************ write home page link *************************/
.home {
  font-weight: 300;
  font-family: 'Garamond Pro';
  /* color: #ecc; */
  color:#e8a7a7;
  margin: 5px;
  font-size: 14pt;
}

.home:hover {
  /* font-weight:800; */
  /* background: #eee; */
  /* color: #e8a7a7; */
  /* color: #ba5555; */
  background-color: #e8a7a7;

  /* border-bottom: 4px solid #e8a7a7; */
  transition-duration: 0.2s;
}
