include ./../layout

link(rel='stylesheet', href='/stylesheets/thoughtblog_style.css')

block content
  div.post
    h3
      a(href='/thoughtblog').title thoughtblog
    h1 #{postInfo.title}
    | !{postInfo.html}

  script(src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-lazyload/8.7.1/lazyload.min.js")
  script.
    new LazyLoad();
