<!DOCTYPE html>

<html>
  <head>
    <title>Lungs</title>
    <meta http-equiv='cache-control' content='no-cache'> 
    <meta http-equiv='expires' content='0'> 
    <meta http-equiv='pragma' content='no-cache'>
    <style>
      html, body {
        margin: 0;
        overflow: hidden;
      }
      canvas {
        width: 100%;
        height: 100%;
      }
      #info {
        position: absolute;
        top: 100px;
        width: 100%;
        text-align: center;
        z-index: 100;
        display:block;
        font-family:sans-serif;
        color: white;
      }
    </style>
  </head>
  <body>
    <div id='info'>click anywhere to play</div>
    <script src='https://sknop8.github.io/lungs/bundle.js'></script>
  </body>
</html>
