<!DOCTYPE html>
include ./../layout
include watch_menu

link(rel='stylesheet', href='/stylesheets/watch_style.css')

block content
  h1
    i watch
    
  +menu('Index')
  br

  p.description Here is my full watch list! (Mostly for my own reference because I have a poor memory). I'll continue to put the ones I felt were worth mentioning on the year-specific pages.

  br

  div.movie-list
    div.title 2021
    ol(style="counter-reset: list 42")
      li The Father
        span.sub 2020, Florian Zeller
        //- 20 apr
      li Promising Young Woman
        span.sub 2020, Emerald Fennell
        //- 18 apr
        //- wow, I hope men watch this and get scared.
        //- provocative revenge film and good black humor from fennell (who did se2 of killing eve!). The ending nearly turns this thriller into a horror .. horror at even (especially) the nice men of the world.
      li Nomadland
        span.sub 2020, Chloe Zhao
        //- 17 apr
        //- to convey a sense of emptyness?
      li Shall We Dance
        span.sub 1937
        //- 15 apr
      li Killing Eve (TV S2 & 3)
        span.sub 2019 & 2020
        //- 14  apr
      li Trial of the Chicago 7
        span.sub 2020, Aaron Sorkin
        //- 10 Apr
        //- good!
      li Woman of the Year
        span.sub 1942, George Stevens
        //- 3 apr
      li Twentieth Century
        span.sub 1934, Howard Hawks
        //- 31 mar
      li Minari
        span.sub 2020, Lee Isaac Chung
        //- 27 mar
      li Swing Time
        span.sub 1936
        //- 20 mar
      li Easy Living
        span.sub 1937
        //- 19 mar
      li Crazy, Stupid, Love.
        span.sub 2011
        //- 18 mar
      li You Can't Take it With You
        span.sub 1938, Frank Capra
        //- 14 mar
      li Follow the Fleet
        span.sub 1936
        //- 3 mar
      li Baby Face
        span.sub 1933
        //-  2 mar
        //- barbara stanwyck's character remains mysterious, invulnerable and in control until the end ... the whole thing is strangely empowering 
        //- how she blazes through men, knocks them over with barely a struggle
        //- overall an immensely satisfying story
      li Dinner at Eight
       span.sub 1933
        //- 22 feb
        //- billie burke the true star in this haha
      li Little Women
        span.sub 1933
        //- 19 feb
      li Top Hat
        span.sub 1935
        //- 18 feb
        //- :")
      li The Divorcee
        span.sub 1930
        //- 15 feb
      li Three on a Match
        span.sub 1932
        //- 14 feb
        //- wow :0
      li Knives Out
        span.sub 2019
        //- 13 feb
      li Grand Hotel
        span.sub 1932, Edmund Goulding
        //- 12 feb
        //- " Grand Hotel. Always the same. People come, people go. Nothing ever happens."
      li Only Angels Have Wings
        span.sub 1939, Howard Hawks
        //- 11 feb
        //- jean arthur
      li Anna Christie
        span.sub 1930, Clarence Brown
        //-  8 feb
        //- garbo talks!!
        //- my first pre-code film .. interesting 
      li Key Largo
        span.sub 1948, John Huston
        //- 6 feb
        //- mobster vs hurricane
        //- cute bogie/bacall
      li Stage Door
        span.sub 1937, Gregory La Cava
        //- 5 feb
        //- :) a gem with ginger rogers, katharine hepburn, and so many other wonderful funny women (and the first pre-50s film I've watched that passes the bechdel test with flying colors!). I really loved Ginger Rogers' spunky, sarcastic, loyal character. The clever banter between Rogers' and Hepburn's characters had me laughing throughout.
      li Camille
        span.sub 1936, George Cukor
        //- Greta Garbo
        //- 4 feb
        //- ...enter  greta  garbo!! sgarbo is perhaps the most special
      li Morning Glory
        span.sub 1933, Lowell Sherman
        //- 3 feb
      li Bringing Up Baby
        span.sub 1939, Howard Hawks
        //- 2 feb
        //- you know these crazy cats kate and cary i think are becoming my favorite duo
        //- both are sillier and more feminine in this, which just adds to the humor and the ridiculous lovability of their eccentric characters. the comedy in this was amazing!!
        //- "this is probably the silliest thing that has ever happened to me" ... me too
        //- hilarious screwball! really funny and absurds
        //- "all that happened happened because I was trying to keep you near me and I just did anything that came into my heads  "

      li His Girl Friday
        span.sub 1940, Howard Hawks
        //- feb 1
      li Holiday
        span.sub 1938, George Cukor
        //- 31 Jan
        //- I liked this one :-)
      li Sylvia Scarlett
        span.sub 1935, George Cukor
        //- 29 jan
        //- omg this was a wild ride. katharine hepburn is a wonderful boy. interesting queer overtones, and now that i've watched a significant number of wwii-era and post-war films, I'm more attuned to the difference in pre-war films: looser, less structured, playful, more promiscuous. I wonder if this film was unsuccessful at the time because hepburn was too good at her part, truly androgynous
        //- wikipedia says it best:
        //- The film is mostly known for its queer elements, with Hepburn's character continuing to do drag even after it is not necessary anymore for the character,[10] which "confused and disconcerted in equal measures."[11] It is considered that the sexual ambiguities and gender misunderstandings of the films were too daring for the time period, which made the audiences fail to see the humor in cross-dressing and mistaken identity.[12] It also resulted in movie audiences walking away from the movie, especially since it was insinuated or shown that both male and female characters were attracted to Hepburn's character, in and out of drag. While in drag, Sylvia is kissed by a woman and Monkley comments that he'd made "a proper hot water bottle" when they are changing to go to sleep. At the same time, Fane shows more interest in Sylvia while in drag, and losing it after she revealed she is a woman.[13]
        //- Some have argued that "Gender as a separate concept from sexuality or physical sex wouldn’t come about for another twenty years, so audiences had no context for Sylvia’s odd apparel" through the movie.[14] Nevertheless, the film is considered one of the few of the Golden Age of Hollywood to represent queerness respectfully.[15] It is now seen as "a monument to the sapphic impression Hepburn left in Hollywood",[16] with the film implying "that Sylvia might stay as Sylvester forever", even as she enters a relationship with a man.[17] Some, on the other hand, have considered that "these deliciously cheeky invitations are met with sexual panic and a predictable retreat into befrocked femininity".[18]
        //- 
        //- In conclusion though this movie was fun, interesting, even edgy, and has been one of the most memorable (and probably one of the favoritte) films I've watched pre-1950s. 
      li Adam's Rib
        span.sub 1949
        //- jan 28
      li Pat and Mike
        span.sub 1952, George Cukor
        //- jan 27
      li Rear Window
        span.sub 1954, Alfred Hitchcock
        //- jan 26
      li Happiest Season
        span.sub 2020, Clea Duvall
        //- jan 25
      li A Matter of Life and Death
        span.sub 1946, Michael Powell & Emeric Pressburger
        //- 23 jan 
        //- metaphysical fantasmic archers .. love it
      li High Fidelity
        span.sub 2000, Stephen Frears
        //- 22 Jan
        //-  john cusack very good dfw-esque music chump kind of dreamy but selfish and deluded..... jack black a surprising blast... fun to be in a record store in the 90s/00s, weird juggling of records, tapes, cds
      li Before Sunrise
        span.sub 1995, Richard Linklater
      li Twin Peaks: Fire Walk with Me
        span.sub 1992, David Lynch
      li Twin Peaks: The Missing Pieces
        span.sub 2014, David Lunch

  div.movie-list
    div.title 2020
    ol(style="counter-reset: list 86")
      li High Art
        span.sub 1997, Lisa Cholodenko
      li War Games
        span.sub 1983
      li Soul
        span.sub 2020, Pete Doctor
      li The Midnight Sky
        span.sub 2020
      li Tenet
        span.sub 2020, Christopher Nolan
      li mid90s
        span.sub 2018, Jonah Hill
      li Stranger Than Fiction
        span.sub 2006
      li Us and Them
      li Babel
        span.sub 2006, Inarritu
      li Fargo
        span.sub 1996, Coen brothers
      li Twin Peaks
        span.sub 1990-1991, David Lynch & Mark Frost
        //- Nov - Dec 2020
      li A Canterbury Tale
        span.sub 1944, Powell / Pressburger (The Archers)
        //- 27 oct 2020
        //- wonderful. pals on the road to canterbury
      li 2010: The Year We Make Contact
        span.sub 198?, 
        //- 10 oct 2020
      li The Life and Death of Colonel Blimp
        span.sub 1943, the archers
        //- a fun movie
        //- love the abrupt alternations between serious War and Politics stuff and
        //- mundanities (want to go the movies? will you stay for dinner?). the editing and writing
        //-  esp in this are a delight
        //- ilike roger livesey, he's a blast
        //- this is real  interesting comedy and storytelling, and compared to other 
        //-  films creating around this time (esp. american) this is much less trite
        //- and due to the talent of the writers, actors, and editors, really comes together
        //- as enjoyable and innovative cinema!
        //- I look forward to watching the rest of powell  & pressburgers films :)
        //- 2 oct 2020
      li I Know Where I'm Going!
        span.sub 1945, Powell & Pressburger
        //- playful, i like the camera layers, scene transitions, cheerful expressionism(?) of
        //- the film style
        //- also i appreciate the on location / naturally lit filming in sctoland,
        //- the foggy dark daytime sea 
        //- one of the most scottish things ive ever seen..
        //- 28 sep
        //- i enjoyed this, though the plot was kind of wandering, here and there, it had a very british :: scottish qualitiy, and scattered with nuggets of expressionist film style in a wonderfully moody, naturally lit scotland shot on location
      li To Be or Not to Be
        span.sub 1942
        //- 26 sep, pretty funny
      li The Best Years of our Lives
        span.sub 1946
        //- 25 sep
          //- omg have i ever cried this much???
      li The Red Shoes
        span.sub 1948, Michael Powell & Emeric Pressburger
        //- amazing!! captivating, could not take my eyes away .. it's like
        //- the film medium itself was an expressionistic ballet, or perhaps the ballet
        //- was  a film?? idk ... the red shoes also a haunting/chilling metaphor for
        //- the ballet production itself..obsession, cold-heartedness of lermontov,
        //- the music is the only thing that matters
        //- ballet x surrealism x film
        //- the ballet itself was a surreal expressionist masterpiece of film
        //- Lermontov IS the red shoes!!!!!
        //- 23 Sep
        //- like one of the best dance films ever, and probably on my list of all-time favs
        //- art worth dying for
      li Shadow of a Doubt
        span.sub 1943, Alfred Hitchcock
      li To Have and Have Not
        span.sub 1944
        //- 20 sep
      li The Setup
        span.sub 1949
        //- 18 sep
        //- strangely engrossing and beautifully shot ...boxing in black & white
        //- i liked this film, it was simple, focused on 1 event, took its time, yet emotionally suspenseful and quite rich, understated
        //- liked how it focused on the audience too, so many background characters..like in these sports events everyone joins
        //- together for an isolated Moment. it's pretty modern, almost like scientific in the way the film is "studying" this event
        //- and the romantic aspect was pure, uncomplicated, not central to the plot but central to the character,
        //-  more about caring about someone truly than about falling in love
      li Leave Her to Heaven
        span.sub 1945
        //- 16 sep
      li All About Eve
        span.sub 1950, Joseph L. Mankiewicz
        //- 14 sep
      li I'm Thinking of Ending Things
        span.sub 2020, Charlie Kaufman
      li Into the Wild
      li Train to Busan
      li The Dawn Wall
      li Dark Victory
        span.sub 1939
      li The Witch
        span.sub 2015
      li Insomnia
        span.sub 2002, Christopher Nolan
      li Spellbound
        span.sub 1945, Alfred Hitchcock
      li White Heat
       span.sub 1949
      li Steve Jobs
        span.sub 2017, Danny Boyle, Aaron Sorkin
      li M
        span.sub 1931, Fritz Lang
      li Suspicion
        span.sub 1941, Alfred Hitchcock
        //- 25 june
      li The Lost Weekend
        span.sub 1945, Billy Wilder
      li Notorious
        span.sub 1946, Alfred Hitchcock
        //- 17 june, ingrid bergman and cary grant's performances were of the most sensual and tremendous (sensual? remarkable? intimate? tremendous?) couples of 40s and 50s films
        //- really well sustained tension/suspense
      li Laura
        span.sub 1944, Otto Preminger
      li Alien
        span.sub 1979, Ridley Scott
      li Kind Hearts and Coronets
        span.sub 1949
      li The 39 Steps
        span.sub 1935, Alfred Hitchcock
      li Bicycle Thieves
        span.sub 1948, Vittorio De Sica
      li The Maltese Falcon
        span.sub 1941, John Huston
        //- 7 june
      li Rebecca
        span.sub 1940, Alfred Hitchcock
      li In a Lonely Place
        span.sub 1950, Nicholas Ray
      li Double Indemnity
        span.sub 1944, Billy Wilder    
      li Kidding (TV Show)
      li Monty Python and the Holy Grail
        span.sub 1975
      li The Philadelphia Story
        span.sub 1940, George Cukor
      li Moneyball
        span.sub 2011
      li Burning
        span.sub 2018, Lee Chang-dong
      li Molly's Game
        span.sub 2017, Aaron Sorkin
      li The Big Sleep
        span.sub 1946, Howard Hawks
      li The Third Man
        span.sub 1949, Carol Reed
      li Mildred Pierce
        span.sub 1945, Michael Curtiz
      li Singin' in the Rain
        span.sub 1952, Stanley Donnen, Gene Kelly
      li Gaslight
        span.sub 1944, George Cukor
      li Rope
        span.sub 1948, Alfred Hitchcock
      li Us
        span.sub 2019, Jordan Peele
      li Strangers on a Train
        span.sub 1951, Alfred Hitchcock
      li Gone with the Wind
        span.sub 1939
      li Onward
        span.sub 2020
      li It's a Wonderful Life
        span.sub 1946, Frank Capra
      li The Chronicles of Narnia: Prince Caspian
        span.sub 2008
      li Cleo from 5 to 7
        span.sub 1962, Agnès Varda
      li Casablanca
        span.sub 1942, Michael Curtiz
      li Sunset Boulevard
        span.sub 1950
      li My Life as a Zucchini
        span.sub 2017
      li Lovely & Amazing
        span.sub 2001, Nicole Holofcener
      li Ford v Ferrari
        span.sub 2019
      li Joker
        span.sub 2019
      li The Meyerowitz Stories (New and Selected)
        span.sub 2017, Noah Baumbach
      li Swiss Army Man
        span.sub 2015
      li The Talented Mr. Ripley
        span.sub 1999
      li The Master
        span.sub 2012, Paul Thomas Anderson
      li Frozen II
        span.sub 2019
      li Contagion
        span.sub 2011
      li Parasite
        span.sub 2019, Bong Joon Ho
      li Lincoln
        span.sub 2012, Steven Spielberg   
      li Uncut Gems
        span.sub 2019
      li Spiderman: Far from Home
        span.sub 2019    
      li Lost Highway
        span.sub 1997, David Lynch   
      li Enemy
        span.sub 2013, Denis Villeneuve   
      li The King's Speech
        span.sub 2010
      li 21
        span.sub 2008

  div.movie-list
    div.title 2019
    ol(style="counter-reset: list 51")
      li Other People
        span.sub 2016
      li About Time
        span.sub 2013
      li Private Life
        span.sub 2018
      li Solo: A Star Wars Story
        span.sub 2018
      li Star Wars: the Rise of Skywalker
        span.sub 2019
      li Marriage Story
        span.sub 2019, Noah Baumbach
      li Seven Years in Tibet
        span.sub 1997
      li Six Days
        span.sub 2017
      li The Big Short
        span.sub 2015, Adam McKay
      li Enough Said
        span.sub 2013, Nicole Holofcener
      li Panic Room
        span.sub 2002, David Fincher
      li The Sound of Music
        span. sub 1965
      li El Camino: A Breaking Bad Movie
        span.sub 2019
      li Magnolia
        span.sub 1999, Paul Thomas Anderson
      li Close Encounters of the Third Kind
        span.sub 1977, Steven Spielberg
      li The Butterfly Effect
        span.sub 2004
      li The French Connection
        span.sub 1971
      li Rosemary's Baby
        span.sub 1968, Roman Polanski
      li Vertigo
        span.sub 1958, Alfred Hitchcock
      li The Graduate
        span.sub 1967
      li Ad Astra
        span.sub 2019
      li American Psycho
        span.sub 2000
      li The Lord of the Rings trilogy
        span.sub 2001-2003
      li A Clockwork Orange
        span.sub 1971, Stanley Kubrick
      li Please Give
        span.sub 2010, Nicole Holofcener
      li Lion King
        span.sub 2019
      li Independence Day
        span.sub 1996
      li One of Us
        span.sub 2017
      li A Star is Born
        span.sub 2018, Bradley Cooper
      li Ringu
        span.sub 1998
      li Free Solo
        span.sub 2018
      li The 40-Year-Old Virgin
        span.sub 2005, Judd Apatow
      li (500) Days of Summer
        span.sub 2009
      li Punch-Drunk Love
        span.sub 2002, Paul Thomas Anderson
      li Shoplifters
        span.sub 2018, Kore-eda Hirokazu
      li Mary and the Witch's Flower
        span.sub 2017
      li Vice
        span.sub 2018, Adam McKay
      li The Favourite
        span.sub 2018, Yorgos Lanthimos
      li The Lobster
        span.sub 2015, Yorgos Lanthimos
      li Wildlife
        span.sub 2018, Paul Dano
      li My Week with Marilyn
        span.sub 2011
      li There Will Be Blood
        span.sub 2007, Paul Thomas Anderson
      li Café Lumière
        span.sub 2003, Hsiao-Hsien Hou
      li Killing Eve (TV Show, S1)
        span.sub 2018-
      li Office Space
        span.sub 1999
      li Maniac (TV Mini-Series)
        span.sub 2018
      li Spider-Man: Into the Spider-Verse
        span.sub 2018
      li A Late Quartet
        span.sub 2012
      li Forever (TV Show)
        span.sub 2018
      li Nostalgia
        span.sub 2018

  div.movie-list
    div.title 2018
    ol(style="counter-reset: list 58")
      li Eighth Grade
        span.sub 2018, Bo Burnham
      li Song of the Sea
        span.sub 2014
      li Blue Jasmine
        span.sub 2013, Woody Allen
      li Bohemian Rhapsody
        span.sub 2018
      li Coherence
        span.sub 2013
      li The Sixth Sense
        span.sub 1999, M. Night Shyamalan
      li Edward Scissorhands
        span.sub 1990, Tim Burton
      li Rushmore
        span.sub 1998, Wes Anderson
      li Gaga: Five Foot Two
        span.sub 2017
      li The Hours
        span.sub 2002
      li Fantastic Mr. Fox
        span.sub 2009, Wes Anderson
      li Tuesdays with Morrie
        span.sub 1999
      li The Firefly
        span.sub 2013
      li An Education
        span.sub 2009
      li Certain Women
        span.sub 2016
      li Adaptation.
        span.sub 2002, Spike Jonze / Charlie Kaufman
      li Trainspotting
        span.sub 1996, Danny Boyle
      li TRON
        span.sub 1982
      li Disobedience
        span.sub 2017
      li Anomalisa
        span.sub 2015, Charlie Kaufman
      li Blue Valentine
        span.sub 2010
      li Crazy Rich Asians
        span.sub 2018
      li Back to the Future
        span.sub 1985
      li Cube
        span.sub 1997
      li Synecdoche, New York
        span.sub 2008, Charlie Kaufman
      li Lovesong
        span.sub 2016
      li Out of the Blue
        span.sub 1980
      li The Fountain
        span.sub 2006, Darren Aronofsky
      li Persona
        span.sub 1966, Ingmar Bergman
      li Hard Candy
        span.sub 2005
      li Being John Malkovich
        span.sub 1999, Spike Jonze / Charlie Kaufman
      li Dazed and Confused
        span.sub 1993, Richard Linklater
      li Citizen Kane
        span.sub 1941, Orson Welles
      li Velvet Goldmine
        span.sub 1998, Todd Haynes
      li Taxi Driver
        span.sub 1976, Martin Scorcsese
      li Incredibles 2
        span.sub 2018, Brad Bird
      li Days of Being Wild
        span.sub 1990, Wong Kar-wai
      li The Big Lebowski
        span.sub 1998
      li Black Panther
        span.sub 2018
      li Boyhood
        span.sub 2014, Richard Linklater
      li Silence
        span.sub 2016, Martin Scorsese
      li Nymphomanic: Vol. 1
        span.sub 2013
      li Changeling
        span.sub 2008
      li Thelma & Louise
        span.sub 1991, Ridley Scott
      li Ikiru
        span.sub 1952
      li Dunkirk
        span.sub 2017, Christopher Nolan
      li The Shape of Water
        span.sub 2017, Guillermo del Toro
      li Blade Runner 2049
        span.sub 2017, Denis Villeneuve
      li I, Tonya
        span.sub 2017
      li Pinocchio
        span.sub 1940
      li Hasan Minhaj: Homecoming King
        span.sub 2017
      li Your Name.
        span.sub 2016
      li Summertime (La belle saison)
        span.sub 2015
      li Atonement
        span.sub 2007
      li The Shining
        span.sub 1980, Stanley Kubrick
      li Mudbound
        span.sub 2017, Dee Rees
      li Akira
        span.sub 1988

  div.movie-list
    div.title 2017
    ol(style="counter-reset: list 56")
      li Dead Poet's Society
        span.sub 1989
      li Call Me By Your Name
        span.sub 2017
      li Experimenter
        span.sub 2015
      li Star Wars: Episode VIII - The Last Jedi
        span.sub 2017
      li The Shawshank Redemption
        span.sub 1994
      li Lady Bird
        span.sub 2017, Greta Gerwig
      li Fallen Angels
        span.sub 1985, Wong Kar-wai
      li Drive
        span.sub 2011
      li The Silence of the Lambs
        span.sub 1991
      li 2046
        span.sub 2004, Wong Kar-wai
      li Happy Together
        span.sub 1997, Wong Kar-wai
      li Paprika
        span.sub 2006, Satoshi Kon
      li Millenium Mambo
        span.sub 2001, Hsiao-Hsien Hou
      li 127 Hours
        span.sub 2010, Danny Boyle
      li Goodfellas
        span.sub 1990, Martin Scorsese
      li The Godfather: Part II
        span.sub 1974, Francis Ford Coppola
      li Titan A.E.
        span.sub 2000
      li District 9
        span.sub 2009
      li The Day the Earth Stood Still
        span.sub 1951
      li Solaris
        span.sub 1972, Andrei Tarkovsky
      li Moon
        span.sub 2009
      li Strange Days
        span.sub 1995
      li Twelve Monkeys
        span.sub 1995
      li The Dark Knight
        span.sub 2008, Christopher Nolan
      li Nightcrawler
        span.sub 2014
      li Batman Begins
        span.sub 2005, Christopher Nolan
      li Atlantis: The Lost Empire
        span.sub 2001
      li Mr. Nobody
        span.sub 2009
      li Blade Runner
        span.sub 1982, Ridley Scott
      li Sunshine
        span.sub 2007, Danny Boyle
      li The Godfather
        span.sub 1972, Francis Ford Coppola
      li Children of Men
        span.sub 2006, Alfonso Cuarón
      li Upstream Color
        span.sub 2013, Shane Carruth
      li Primer
        span.sub 2004, Shane Carruth
      li Princess Mononoke
        span.sub 1997, Hayao Miyazaki
      li La La Land
        span.sub 2016
      li The Red Turtle
        span.sub 2016
      li Saving Face
        span.sub 2004
      li Do the Right Thing
        span.sub 1989, Spike Lee
      li Tampopo
        span.sub 1985 
      li Chungking Express
        span.sub 1994, Wong Kar-wai
      li Get Out
        span.sub 2017, Jordan Peele
      li Hoop Dreams
        span.sub 1994
      li When We Were Kings
        span.sub 1996
      li Amores Perros
        span.sub 2000, Alejandro G. Iñárritu
      li City of God
        span.sub 2002
      li THX 1138
        span.sub 1971, George Lucas
      li Jackie
        span.sub 2016
      li In the Mood for Love
        span.sub 2000, Wong Kar-wai
      li Lion
        span.sub 2016
      li La Haine
        span.sub 1995
      li 20th Century Women
        span.sub 2016, Mike Mills
      li Meshes of the Afternoon (short)
        span.sub 1943, Maya Deren
      li The Handmaiden
        span.sub 2016, Park Chan-wook
      li La Jetée (Short)
        span.sub 1962 

      
  script(src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-lazyload/8.7.1/lazyload.min.js")
  script.
    new LazyLoad();
