
-
  var menu_list = [
    {name:'2021',href:'/watch/2021'},
    {name:'2020',href:'/watch/2020'},
    {name:'2019',href:'/watch/2019'},
    {name:'2018',href:'/watch/2018'},
    {name:'2017',href:'/watch/2017'},
    {name:'Index',href:'/watch/index'}
  ];

mixin menu(selected)
  div.menu
    each item, i in menu_list
      if (selected == item.name)
        span.link.selected
          a(href=item.href) #{item.name}
      else
        span.link
          a(href=item.href) #{item.name}
      if i != menu_list.length - 1
        span |


