include ./../layout
include watch_menu
include watch_imgs

link(rel='stylesheet', href='/stylesheets/watch_style.css')

block content
  h1
    i
      a(href='/watch') watch

  +menu(2024)

  br

  div.movie
    p.title Polytechnique
    p.sub 2009, Denis Villeneuve
    img(data-src=polytechnique)
    p.date 14 Jul 2024
    //- p.description.



  div.movie
    p.title The Age of Innocence
    p.sub 1993, Martin Scorcese
    img(data-src=the_age_of_innocence)
    p.date 28 Jun 2024
    //- p.description.

  div.movie
    p.title Badlands
    p.sub 1973, Terrence Malick
    img(data-src=badlands)
    p.date 27 May 2024
    //- p.description.


  div.movie
    p.title sex, lies, and videotape
    p.sub 1989, Steven Soderberge
    img(data-src=sex_lies_videotape)
    p.date 2 May 2024
    //- p.description. watched this because lucy liu said it was




  +menu(2024)

  script(src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-lazyload/8.7.1/lazyload.min.js")
  script.
    new LazyLoad();
