<!DOCTYPE html>
include ./../layout
include watch_menu

link(rel='stylesheet', href='/stylesheets/watch_style.css')

block content
  h1
    i
      a(href='/watch') watch

  +menu('Index')
  br

  p.description Here is my full watch list! (Mostly for my own reference). I'll put the ones I felt were worth mentioning on the year-specific pages when I have time.

  div.movie-list
    ul.marker-list
      li.good
        span.sub = notably good / would rewatch / recommend
      li.fav
        span.sub = all of the above + personal favorite


  br
  div.movie-list
    div.title 2023
    ol(style="counter-reset: list 67")
      li Aliens
        span.sub 1986, James Cameron
        span.date 7 nov
      li Super Dark Times
        span.sub 2017
        span.date 26 oct
      li Cameraperson
        span.sub 2016
        span.date 2 oct
      li The Straight Story
        span.sub 1999
        span.date 26 sep
      li Hackers
        span.sub 1995, Iain Softley
        span.date 21 sep
      li Adrift in Tokyo
        span.sub 2007, Satoshi Miki
        span.date 19 sep
      li Hiroshima Mon Amour
        span.sub 1959, Alain Resnais
        span.date 17 sep
      li The Five Obstructions
        span.sub 2003, Lars von Trier, Jorgen Leth
        span.date 28 aug
      li.good Goodbye, Dragon Inn
        span.sub 2003, Tsai Ming-liang
        span.date 25 aug
      li Beef (TV Series)
        span.sub 2023
      li Oppenheimer
        span.sub 2023, Christopher Nolan
        span.date 22 aug
      li Skinamarink
        span.sub 2022, Kyle Edward Ball
        span.date 17 aug
      li.good Yi Yi
        span.sub 2000, Edward Yang
        span.date 10 aug
        //- !!!!!!!!!!!!!
        //- ah
        //- the letter that yang-yang wrote for grandma at the end ..... oh my god... i loved him, and the other characters were so good too, just human,
        //- life stays the same and changes and things dont change and they do
        //- wow, wow
      li.good After Yang
        span.sub 2022, Kogonada
        span.date 5 aug
        //- omggggg
        //- the lily chou chou references!!!! (mitski cover??)
        //- wow this is the stuff ....
        //- emotional scifi
        //- much love
        //- spock-like yang's hair .. justin h min's performance was so good
        //- and colin farrell
        //- blade runner esque with the techno shop
        //- really interesting near future world, very asian
      li Joy Ride
        span.sub 2023, Adele Lim
        span.date 19 jul
      li Glorious Ashes
        span.sub 2023, Bui Thac Chuyên
        span.date july 16
      li BlacKkKlansman
        span.sub 2018, Spike Lee
        span.date july 12
      li Spider-Man: Across the Spider-Verse
        span.sub 2023
        span.date june 23
      li You Hurt My Feelings
        span.sub 2023, Nicole Holofcener
        span.date june 16
      li Past Lives
        span.sub 2023, Celine Song
        span.date june 10
      li.good Waking Life
        span.sub 2001, Richard Linklater
        span.date may 26
      li My So-Called Selfish Life
        span.sub 2023, Therese Shechter
        span.date may 16
      li Leviathan
        span.sub 2014, Andrey Zvyagintsev
        span.date may 7
      li Suzume
        span.sub 2023, Makoto
        span.date may 4
      li Showing Up
        span.sub 2022, Kelly Reichardt
        span.date Apr
      li.good Mirror
        span.sub 1975, Andrei Tarkovsky
        //- very good
        //- i was very confused but loving it
        //- memories, dreams, thoughts, poetry
        //- most epic tarkovsky ive seen? since it spans generations, also feels historically significant (and is semi-autobiographical) with footage from communist era war stuff
        //- visually amazing, stream of consciousness style camera and i loved the use of voiceover and the poetry
      li Vivre Sa Vie
        span.sub 1962, Jean-Luc Godard
        span.date Apr 8
        //- watched after reading the sontag essay
      li Little Women
        span.sub 2019, Greta Gerwig
        span.date 7 Apr
        //- not sure if i liked the metafiction element
        //- saoirse very good
        //- like.. super star cast but idk if ppl were cast for the right roles lool...like whiney florence pugh didnt seem fitting ... and timothee doesnt seem very good at period pieces
        //- i don't know enough about the louise may alcott novel to comment much on the adaptation, ive only seen the katharine hepburn film
      li My Architect
        span.sub 2003, Nathaniel Kahn
        span.date 7 Apr
        //-
      li Come and See
        span.sub 1985, Elem Klimov
        span.date 22 Mar
      li Tokyo Godfathers
        span.sub 2003, Satoshi Kon
        span.date 21 Mar
        //- fun! :') chosen family shenanigans best christmas movie..coincidence as an intentional device / theme
      li.good The Lighthouse
        span.sub 2019, Robert Eggers
        span.date 19 Mar
        //- YESSSS wow holy shit
        //- like the shining and persona and expressionistic as fuck and dark and weird and rob pattinson goes crazy very good and willem dafoe is enigmatic crazy too
        //- i loved the visuals so much .. the stormy lonely violent sea on that little island and dirty men, black and white, squarish aspect ratio (1.19:1) .. the aspect ratio enhanced symmetries and also gave a kind of claustrophobic feel
        //- THIS is the kind of movie I want to see more
        //- it was like ... so psychological and kind of surreal but still sort of on the thriller side of horror
        //- increasing confusion and madness about who is mad, who is lying, who is the killer, what actually happened or not
        //- im extremely impressed
        //- ugh just love .. the dark new england-y stark and wetness that eggers also did extremely well in the witch...great cinemtography
        //- the violence in the story was interesting
        //- the story is very ripe for analysis
        //- SO MUCH ART INFLUENCE IN THIS
        //- poe, oedipus, photography, durer's the sea monster, 'hypnonsis' by sascha schneider (and other symbolist artists), melville, expressionism
        //- homoerotic in like a mythological sea creature way
      li The Pianist
        span.sub 2002, Roman Polanski
        span.date 18 Mar
      li The Act of Killing
        span.sub 2012, Joshua Oppenheimer
        span.date 17 Mar
        //- extremely disturbing
        //- killing from the perspective of the killer is just as disturbing
      li The Menu
        span.sub 2022, Mark Mylod
        span.date 13 Mar
        //- lol
        //- lotta hong chau content :-0
        //- this did manage to surprise me a -little- but still wasnt that crazy
        //- pretty entertaining
        //- the parodying of chef's table was rly good
        //- caracature of rich people was like kinda ehhh just like triangle of sadness
      li Triangle of Sadness
        span.sub 2022, Ruben Östlund
        span.date 12 Mar
        //- was quite funny and absurd and engaging for me
        //- thought it didnt have much of a point, i get why some people wouldn't like it
      li Memories of Murder
        span.sub 2003, Bong Joon-ho
        span.date 10 Mar
        //- wowwwwww
        //- bong joon ho has such a talent for tonal complexity, humor and moral/political commentary and darkness
        //- this got darker and more tragic as time went on :" .. a tragedy
        //- while also being genuinely funny/absurd at many moments, at the incompetency of the local police and the petty absurd fighting and jump kicks
        //- and the soeul police guy eventually resorting to and being okay with torture and killing the suspect
        //- and as audience we don't even know 100%
        //- very good thriller
        //- and great performance by song kang-ho!!! his character was interesting, it's the only character that we got an insight into his personal/home life
        //- i was a little like fearful that there would be some twist and one of the cops was actually the murderer, but it ended up being a straight up tragedy and failure of justice type story, i think it is based on real events so makes sense. in that vein though the success of the thriller elements without the investigators ever making that great progress is kind of impressive , narrative/filmmaking wise.
        //- i paid more attention to framing - some good close zoom ins to faces, horizontal pans, and also composition to get all the guys in the frame
        //- omg there was also this one brilliant scene transition of them looking at a dead rotting corpse and everyone needing to cover their noses and then cut to raw steak being put on a grill at a restaurant
      li The Whale
        span.sub 2022, Darren Aronofsky
        span.date 9 Mar
        //- (see phone notes)
      li Lolita
        span.sub , Stanley Kubrick
        span.date 5 Mar
      li Ice Merchants (short)
        span.sub 2022,
        span.date 4 Mar
      li Tokyo Story
        span.sub 1953, Yasujiro Ozu
        span.date 4 Mar
        //- made me feel very sad :""""(((((
      li Edge of Seventeen
        span.sub 1998
        span.date 3 Mar
      li Early Summer
        span.sub 1951, Yasujiro Ozu
        span.date 24 Feb
        //- interesting following late spring
        //- nuance, ambivalence, and conflict around marriage
        //- bittersweet ending
        //- like noriko's whole family scheming to get her married and when she finally finds someone she wants to marry they get upset
      li Full Metal Jacket
        span.sub 1987, Stanley Kubrick
        span.date 23 Feb
        //- oh wow
      li My Octopus Teacher
        span.date 21 Feb
      li Late Spring
        span.sub 1949, Yasujiro Ozu
        span.date 21 Feb
        //- ended in marriage but was a tragedy .. wow
        //- crazy how analyzed this film is lolol
        //- it was good .. felt very neat and purposeful and tight yet subdued .. which has its own elegance and economy .. so i can see why people would call this ozu's most perfect film
      li Barry Lyndon
        span.sub 1975, Stanley Kubrick
        span.date 20 Feb
        //- very captivating despite a subject i wasnt too interesting
        //- the story was pretty classic tragedy of character, in line with citizen kane, macbeth etc
        //- it was executed very well though, and interesting throughout the 3 hours. I think the pacing was especially good all things considered.
        //- the costume design seemed very good, like just as a period piece was already very good
        //- so like..definitely respect
        //- good acting
        //- cinematagrophy notes (after reading wikipedia):
        //- "The film's cinematography has been described as ground-breaking. Especially notable are the long double shots, usually ended with a slow backwards zoom, the scenes shot entirely in candlelight, and the settings based on William Hogarth paintings."
        //- scenes shot without electric light - using super-fast lenses - the film features the lowest f-stop in film history
        //- "the film is consciously a museum piece, its characters pinned to the frame like butterflies."
        //-  main title music, Handel's Sarabande from the Keyboard suite in D minor (HWV 437).
      li Kiki's Delivery Service
        span.sub 1989, Hayao Miyazaki
        span.date 17 Feb
        //- kiki :""""
      li Millennium Actress
        span.sub 2001, Satoshi Kon
        span.date 13 Feb
        //- was ready to be traumatized but instead it was fun
        //- kon used the reality/fiction technique to tell a life story
        //- interesting "fractal" stories
        //- music was good
      li Inside Llewyn Davis
        span.sub 2013, Coen brothers
        span.date 11 Feb
        //- third act of a coen bros movie is always fuckin wild
        //- pretty sad overall?? but there were a lot of funny moments
        //- oscar isaac great, also i liked the songs
      li Go
        span.sub 2001, Isao Yukisada
        span.date 10 Feb
        //- aesthetically cool, i liked all the friendship characters
        //- the love story was a bit cheeky .. very romdram, and the music leaned that way. I felt like it couldve been a lot more interesting with better score but it was still enjoyable even just for vibes
        //- had never seen anything about koreans in japan so that was also interesting (zainichi)
      li.good Aftersun
        span.sub 2022, Charlotte Wells
        span.date 7 Feb
        //- I was surprised this continued at the pace as it did, never really changing but always with this sad overtone, a grief, purely depicted in tone
        //- i found by the end it was really effective and tragic, and i cried, mourned
        //- so much told so beautiful with very little, just a father and daughter on vacation
        //- the film is quite enigmatic in a way i like - we dont really know what will happen or what has happened, but paul mescal did a -really- great job acting, and he seemed so sad :"(( but a loving father, and keeps the sadness from his daughter but it still leaks out, and the sophie actress was also so great in portraying that age of youth but the beginning of sadness :"
        //- very beautiful
        //- also the filmmaking was visually very cool, playing with footage from the video cam, and the seen where the cam is on the tv and we also see the room is very cool
        //- the father calum is sensitive in a beautiful but sad way, like tai chi, and loving the rug, and running out into the ocean at night :", and moody but never losing his temper
        //- i feel like it's implied he eventually commits suicide :"(
      li Anima (Short)
        span.sub Paul Thomas Anderson, Thom Yorke, 2019
        span.date 6 Feb
        //- i cried during dawn chorus TTToTTTT
        //- beautiful
      li Paths of Glory
        span.sub 1957, Stanley Kubrick
        span.sub 5 Feb
        //- boring but good i guess
        //- some streaks of the absurdity that would make up dr.strangelove
      li.good Y tu mamá también
        span.sub 2001, Alfonso Cuarón
        span.date 4 Feb
        //- oooo this was good
        //- i like the way it was shot
        //- like the complicated relationship between the friends, the simiplicty of high school teenage boy horniness, the interleaving of political and historical notes along the road journey
      li Kicking and Screaming
        span.sub 1995, Noah Baumbach
        span.date 3 Feb
        //- was very sleepy but i enjoyed it
      li Funny Ha Ha
        span.sub 2002, Andrew Bujalski
        span.date 2 Feb
        //- omfg ... this hits too hard ... too close to life
        //- " i just feel like  i knew every person" andrea
        //- "everything hurts"
        //- auguhg
        //- the main actress was so good though !! i felt her whateverness and sadness :(((
        //- when the dialogue is just like "i dont know" but the subtext is so there akhsjdfkajhsdfklsj
      li Lost in Translation
        span.sub 2003, Sofia Coppola
        span.date 30 Jan
        //- the kevin shields score didn't save this :(
        //- maybe one of the least relatable things ive ever seen, but it got better over time, when the sadness sunk in and the friendship grew - the scene when they go out is really sweet
        //- best just as a film about loneliness and connection
        //- but the premise of white people in japan is so cringey and using japan as this like super weird exotic place doesn't age well because tokyo is one of the coolest places
        //- like, this would NOT be my reaction to being stuck in tokyo wtf
      li Petite Maman
        span.sub 2021, Celine Sciamma
        span.date 29 Jan
        //- anything about meeting the child versino of your mother is already such volatile emotional territory
        //- classic Sciamma kind of mechanical acting performances (?) with little to no background music/score
        //- but i feel like that aspect was fitting with the inner life of an 8 year old: you don't have a sense of what's normal, everything just happens kind of matter-of-fact and you develop your own working understanding of it all
        //- ahhh and the desire to be close to your mother :"" your mother who is sad :(( and has left for a bit :(( ...in the meantime to be close to your petite maman, to understand her :"" ugh
        //- really sweet, strange, simple story :""
        //- the crepe making scene was so cute!!! the one with the highest emotional display i think, children allowed to be children
        //- and I love how this didn't have any explicit fantastical elements, it feels more true to how children actually experience life
      li.fav Stalker
        span.sub 1979, Andrei Tarkovsky
        span.date 28 Jan
        //- wow, tarkovsky is so enigmatic, expressionistic, contemplative
        //- show dont tell
        //- this was really beautiful, a lot of layers slowly unfolding to unpack around a relatively simple setup
        //- the whole thing is just those 3 characters going to the "room" (aristotelian unity - 1 action, 1 location, 1 point in time (1 day)), but the "Zone" is mysterious and the coloring is interesting, the place is almost beckett-like/post-apocalyptic, the Stalker is the most hopeful while the Professor and the Writer were both more doubtful
        //- the characters all felt super symbolic, though also had their own personalities
        //- and the idea of the Room as this place where the "desire that has caused you most suffering" is made true
        //- also the poetry was beautiful
        //- filming, coloring ,scenery, cinematogrpahy
      li The Thin Red Line
        span.sub 1998, Terrence Malick
        span.date 27 Jan
        //- ugh wow, as war movies go ... this was complex, beautiful and poetic with malick elements that I saw in days of heaven and tree of life ... the intimate voice overs, the reaching for and questioning of God and creation, the christlike character, the contrast of soft and loud, the beautiful cinematogrpahy
        //- the screenplay (voiceovers of inner voice in particular) was so beautiful
        //- soft against loud
        //- whispering against bombs
        //- how love is purpose, the greatest thing in life
        //- war is not epic or even honorable, it is tragic and challenging and scary and horrific and sad but there is redemption still in love and brotherhood and courage
        //- flailing against god
        //- sgt witt the christ figure
        //- "you are my sons, my dear son, you live inside me now, i'll carry you wherever i go" captain staros
        //- "love, where does it come from? who lit this flame in us? no war can put it out, conquer it. i was a prisoner, you set me free" bell
        //- biblical language
        //- "only one thing a man can do: find something that's his, make an island for himself. if i never meet you in this life, let me feel the lack. a glance from your eyes, and my life will be yours." sean penn character
        //- ugh the 'you's in the narration; the beloved
        //- contemplation of the soul, god, love, man, war
        //- also wow utterly star studded cast and hans zimmer score :00

      li Microhabitat
        span.sub 2017, Jean Go-woon
        span.date 21 Jan
      li Broker
        span.sub 2022, Hirokazu Kore-eda
        span.date 15 Jan
      li Dreams
        span.sub 1990, Akira Kurosawa
        span.date 8 Jan
      li.good Funeral Parade of Roses
        span.sub 1969, Toshio Matsumoto
        span.date 2 Jan
      li Lady Vengeance
        span.sub 2005, Park Chan-wook
        span.date 1 Jan

  br
  div.movie-list
    div.title 2022
    ol(style="counter-reset: list 81")
      li Decision to Leave
        span.sub 2022, Park Chan-wook
        span.date 19 Dec
      li There Was a Father
        span.sub 1942, Yasujiro Ozu
        span.date 16 Dec
      li The Seventh Seal
        span.sub 1957, Ingmar Bergman
        span.date 14 Dec
      li Thelma
        span.sub 2017, Joachim Trier
        span.date 11 Dec
      li TÁR
        span.sub 2022, Todd Field
        span.date 10 Dec
      li Okja
        span.sub 2017, Bong Joon-ho
        span.date 8 Dec
        //- unhinged jakey g .. yes
        //- ending like happy but still sad .. meat industry so bad :/
      li Strange World
        span.sub 2022, Don Hall
        span.date 3 Dec
      li.good The Tree of Life
        span.sub 2011, Terrence Malick
        span.date 28 Nov
        //- WOOWWWWW god
      li Burn After Reading
        span.sub 2008, Coen brothers
        span.date 27 Nov
      li The Kindergarten Teacher
        span.sub 2018, Sara Colangelo
        span.date 25 Nov
      li Perfect Blue
        span.sub 1997, Satoshi Kon
        span.date 24 Nov
        //- oh my god.... very frightening, but so interesting ...had like no idea what was going on for a lot of the second half but the layers of interpretations is so cool
      li Days of Heaven
        span.sub 1978, Terrence Malick
        span.date 23 Nov
        //- wowwwww im actually impressed
        //- i wasnt that interested in the story but the filming was done so well,
        //- i liked the way the story was narrated also by the kid,
        //- who was an interesting character
        //- very epic in scope
        //- the locust / fire scene was wildddd so good
        //- dang I'm impressed with the filmmaking, cinematography
        //- the music also was so good, adds to epic scope, melancholy
        //- yet grand
        //- every shot was so beautiful ... i want to watch it again just
        //- for the cinemtography in higher res
      li Walking and Talking
        span.sub 1996, Nicole Holofcener
        span.date 19 Nov
      li Wild Strawberries
        span.sub 1957, Ingmar Bergman
        span.date 12 Nov
      //- li Shall We Go to My Place or Your Place or Each Go Home Alone?
      //-   span.sub 1973
      //-   span.date 7 Nov
      li As Tears Go By
        span.sub 1988, Wong Kar-wai
        span.date 7 Nov
      li Mamma Mia!
        span.sub 2008, Phyllida Lloyd
        span.date 28 Oct
      li Loners
        span.sub 2000, David Ondříček
        span.date 20 Oct
      li.fav All About Lily Chou-Chou
        span.sub 2001, Shunji Iwai
        span.date 23 Sep
        //- it is difficult to explain but i loved this movie even though it did make me  want to die .. stroking the deep disappointment/pain of being /growing up
        //- the debussy, the central pulse being a band lily  chou-chou that everyone liked, the beautiful filmmaking, the neon green rice paddies,
        //- the tragedy, that i accidentally watched the 3 parts my torrent came in backwards but still cried, the interspersed instant messages,
        //- the perplexity of the school teachers at the cruelty of children
        //- the innocence and lost of innocence, the darkness and lightness, the silence

        //- deepening my debussy experience & my depression ,-,
        //- ugh lily chou-chou, the Ether, the cult of lily chou-chou, teenage obsession with an artist in the 90s, the deep unspeakable   experience of it

        //- devestations, devestations, @ every character .. oh god, ugh :""""(

      li Nope
        span.sub 2022, Jordan Peele
        span.date 3 Sep
      li The Hand
        span.sub 2020, Wong Kar-wai
        span.date 1 Sep
      li Memoria
        span.sub 2021, Apichatpong Weerasethakul
        span.date 21 Aug
      li Moonstruck
        span.sub 1987
        span.date 18 Aug
      li Lust, Caution
        span.sub 2007, Ang Lee
        span.date 31 jul
        //- omg....
        //- that was intense
        //- lost of lust, lots of caution
        //- Ive never hated tony leung so much
        //- tang wei was so good!! i really like her voice
        //- akjsdbflaksjdhflkasjhflkas
        //- what to make of this????stupid lust->love(??) won in the end and they all die ...... ahhhhhhhh
        //- was tony's character only draw that he was like rare/power??
        //- the kuang (wang leehom)  guy was cute
        //- oh shit the sex scenes were unsimulated?????????????????? damn
        //- the depiction of genuine like fear/forboding during the sex scenes was interesting, like actual forbidden, dangerous love that is not romanticized/soft, yet that danger only heightens the erotic power
        //- score very good...lush, conflicted, and also the costume/set design of like 1930s/40s hong kong
        //- "The title of the work, Lust, Caution, has a double meaning in Chinese. The character for "lust" (色, sè) can be read as "colour", while "caution" (戒, jiè) can be read as "ring","
        //- interesting ^ the ring
        //- on wikipedia also talks about wong chia chi's virginity & sexuality, how she has to sacrifice her virginity for patriotism, and the way she increasingly uses her sexual power for dominance
      li The Last Duel
        span.sub 2021, Ridley Scott
        span.date 18 jul
        //- only watched for jodie
        //- tbh the rest was eh / ok / mildly interesting but also BIG TW RAPE SCENES
        //- the more subtle differences in the 3 accounts were done well..e.g. when they  reconcile and each of the men recall them saying something but in reality neither said it, also i like that marguerite's account is straight up "the truth" lol
        //- matt damon and adam driver both eh .. ben affleck was pretty great tho tbh
      li He's Just Not That Into You
        span.sub 2009, Ken Kwapis
      li You've Got Mail
        span.sub 1998, Nora Ephron
      li Nausicaä of the Valley of the Wind
        span.sub 1984, Hayao Miyazaki
        span.date 12 jul
        //- love how 80s this was, cyber/desert-punky aesthetics , environmental love & post toxic-wasteland world , war/weapons of mass  destruction, also the synth music hehe nice first joe hisaishi + miyazaki
        //- love how a princess is the savior of the world
      li Ponyo
        span.sub 2008, Hayao Miyazaki
        span.date 12 jul
        //- really cuuuuteeeeeee
      li.good Sympathy for Mr. Vengeance
        span.sub 2002, Park Chan-wook
        span.date 10 Jul
        //- WOOOOWWWWWW stunning movie
        //- dark, two vengeances pitted against each other
        //- tragic ramifications for everyone in our bleak bio-dystopian world where poor people are doomed to die
        //- korean social commentaries always hit different .. these kind of crazy dark absurd, even comedic, dramas esp from park chan-wook  and bong joon-ho
        //- for both characters, how after significant loss revenge seems like the only viable path
        //- but whose vengeance is more justified? is it only in a deeply unjust world do we even need to ask questions like that?
        //- I LOVE A MOVIE IN WHICH EVERYONE DIES
      li.good Marie Antoinette
        span.sub 2006, Sofia Coppola
      li The Beguiled
        span.sub 2017, Sofia Coppola
        span.date 22 Jun
      li.good Tangerine
        span.sub 2015, Sean Baker
        span.date 21 jun
        //- wow!!!!!!
        //- loved the editing and cinematography,
        //- it was so funny and simple but extremely captivating story
        //- really LA .. like the coloring, and shot on an iphone 5!!
        //- the characters were complex, and showing trans sex worker
        //-  experience in a matter-of-fact way, and seeing their
        //- struggles and joys, and the armenian cab driver!
        //- wow
        //- also the ending was overall sad & touching ... christmas in this world, reality of it all,
        //- but laundromat & friendship at the end :')
        //- questions like what is integrity?
      li When Harry Met Sally
        span.sub 1989, Rob Reiner
        span.date 20 Jun
      li Je Tu Il Elle
        span.sub 1974, Chantal Akerman
        span.date 19 Jun
        //- i think i liked it?? super long shots
        //- idk
        //- the first segment where she's just like in her room all day eating sugar and flopping around i really .. feel ...
      li.good Tigertail
        span.sub 2020, Alan Yang
        span.date 18 Jun
        //- JUST A STRIAGHT 90 MINUTES OF ME BEING ON THE BRINK OF A FULL SOB
        //- very in the move for love-y and also moonlight-y
        //- like, just way too much for me personally, just thinking of my mother and grandfather and taiwan and moving to ny in the 70s/80s and lost love and how a person changes thru all of that and hardens into the immigrant parent we know today and ughhhhhh
        //- joan chen again wayyyy too beautiful LOL, tzi ma was a little too pitiful but very good
        //- lee hong-chi who played the young adult pin-jui was so handsome  and charming and great, and reminded me of a (more beautiful version) of my grandpa when he was young
        //- ughhhhhhh taiwanese-american :""""""
        //- AND THE MUSIC very wang kar-wai-y, super emotional violin music  and also older like 50s nostalgia music to dance to
        //- cast was so taiwanese :'')
      li Vengeance
        span.sub 2022, BJ Novak
        span.date 17 Jun
      li.good Videodrome
        span.sub 1983, David Cronenberg
        span.date 14 Jun
        //- freaky but so creative .. i actually liked it a lot
        //- the idea of videodrome as a way to induce cancer into perverted minds to "cleanse society" is so interesting ..
        //- the idea of the "new flesh" / screen is the eye of the mind is so interesting ..
        //- so  interesting how the film shows  both of these camps and pits them against each otherr but doesn't really give moral preference either way
        //- like underlying fear is the fear of tv/screens on our psyches, and also our need for more exciting stimulation/entertainment, which is why  videodrome is snuff film (real murder, torture, etc. for entertainment)
        //- so fascinating, this whole thing, and I  like how so far of what i've watched of cronenberg,while his films are sexual they aren't exploitative (or like, that is not the thing the horror revolves around). eg i feel like he could have easily made the videodrome content about rape but he didnt, and the earlier scenes with the main character was more like kinky consensual body violence than power
        //- the visual imagery of physically inserting tapes into the torso was so gooooood
        //- the  film  has enough twists and turns to be a thriller while also being genuinely fascinating art horror
      li Turning Red
        span.sub 2021, Domee Shi
        span.date 12 Jun
      li Crimes of the Future
        span.sub 2022, David Cronenberg
      li The Worst Person in the World
        span.sub 2021, Joachim Trier
        span.date 1 jun
        //- gooooood
        //- a certain feeling
      li.good Portrait of a Lady on Fire
        span.sub 2019, Celine Sciamma
        span.date 28 may
        //- loved, though they took sooo long to kiss, but the buildup was so good, and their love was so GOOD
        //- loved all the domenstic moments of the three of them like playing cards and preparing food, and helping sophie abort her pregnancy
        //- loved also how the painting was realistic, and we're given like extended scenes of seeing the painting and it's clearly done by a professional, the painting itself really looked like it could be a 18th century french portrait
        //- i love to look at adele haenel's face
        //- loved the "if you look at me, who do i look at?" scene ... says a lot about the artist/subject gaze, also just very erotically tense
        //- wikipedia on the soundtrack: "In a review of the song for Slate, Matthew Dessum writes, "The parsimonious use of music in the rest of the film makes the [singing of La Jeune Fille en Feu during the] bonfire scene completely overwhelming for characters and audience alike, so intense that it is almost unbearable. The music is beautiful, it is transporting, it is rapturous".[18] Writing in Paste, Ellen Johnson concurred: "It's utterly shocking to hear the strange chant after more than an hour of almost no music at all, but that's what makes it so timely ... [it's] a skin-tingling experience."[19]""
      li O Brother, Where Art Thou?
        span.sub 2000, Coen brothers
        span.date 26 may
      li A Scanner Darkly
        span.sub 2006, Richard Linklater
        span.date 23 may
        //- wowwww
        //- loved the experimental visuals and animation!!!
        //- score and general tone really dark and interesting
        //- robert downey jr great acting
        //- story like keeps unfolding and getting bigger, so many layers of deception .. want to read the philip k dick book :00
        //- near future psychological scifi, drug addition
      li The Virgin Suicides
        span.sub 1999, Sofia Coppola
        //- LOVED  the Air score/soundtrack and the coloring,
        //- and general aesthetic and dreaminess .. this weird
        //- obsession with teen girls and their wisdom and mystery
        //- and suffering
        //- the "fantasia" of adolescence , shot like a memory bathed in haze
        //- the story was a little weak in the sense .. like the parents had a very washed out The Graduate vibe that I couldn't take seriously so it was difficult to see how that alone could drive the girls to suicide
        //- kirsten dunst great, and there was so little dialogue
        span.date 29 Apr
      li Pig
        span.sub 2021, Michael Sarnoski
      li Everything Everywhere All at Once
        span.sub 2022
        span.date 10 Apr
      li Sharp Objects (TV Mini-Series)
        span.sub 2018
      li Drive My Car
        span.sub 2021, Ryusuke Hamaguchi
        span.date 22 Mar
        //- i liked it, slow pace but pensive and turned out to be
        //- ultimately about loss
        //- thought it was well cast, esp. Kafuku and Misaki
        //- interesting how they told the entire wife story at the beginning 40 min, then we never see her again (but her voice plays in the cassette)
        //- tension of intimacy / distnace between people
        //- filled in some weird sex details that were very murakamian even though they werent in the story hahaha
        //- long drive to get to the other side of something  metaphorical
      li West Side Story
        span.sub 2021, Steven Spielberg
        span.date 21 Mar
      li Parallel Mothers (Madres Paralelas)
        span.sub 2021, Pedro Almodóvar
        span.date 19 Mar
        //- interesting, a few distinct plots, with variable level of expository resolvement (ie big unorthodox happy family at the end without illustrating how they got there), pretty unexpected throughout, overall i liked it, cool and original and quite serious without being too tonally heavy - the tone / music was more mysterious and suspenseful
        //- I resonated with Ana's character and her depression,  and how her love for Janis  was like an attempt to fill a hole, but it was still really true and endearing and their relationship was sweet though plagued with secrets and ambiguity
        //- also Milena Smit's hair and fashion was so cool, had a very mia farrow in rosemary's baby look
        //- penelope cruz was good!
      li The Tragedy of Macbeth
        span.sub 2021, Joel Coen
        span.date 18 Mar
        //- Super beautiful sparse expressionistic set
        //- great lighting, cinematography, every shot so well-composed!
        //- Wish denzel was better, kind of flat and not menacing enough or emotionally convincing as macbeth
        //- score also great
      li CODA
        span.sub 2021, Sian Heder
        span.date 16 Mar
        //- i cried
        //- main girl's voice was really nice, and great acting
      li Monkey Business
        span.sub 1952, Howard Hawkes
        span.date 13 Mar
        //- some funny moments but not amazing
      li Batman
        span.sub 2022, Matt Reeves
        span.date 12 Mar
        //- alright, i liked the dark tone / nirvana inspired aesthetic
        //- but plot still fell short and was too long
      li Belfast
        span.sub 2021, Kenneth Branagh
        span.date 10 Mar
      li The Lost Daughter
        span.sub 2021, Maggie Gyllenhaal
        span.date 9 Mar
        //- felt a pretty strong discomfort/fear throughout the whole thing, but maybe that  was the point?
        //- the mother/daughter relation is a strong/weird one
        //- i can tell it's an elena ferrante story by that exact strong/weird relatinoship between the women and girls in the story, ferrante writes such rich and kind of messed up emotional lives
        //- could feel the hostile world in this toward a woman who is a bad mother
        //- a mother's tension against motherhood
        //- also wild i just watched jack farthing in spencer, and panos koronis in before midnight (which was also set on a greek island)
        //- sort of want to read the book now even though i was so uncomfortatble, and have a suspicion that olivia colman (though i like her) may not have been the best cast
      li Spencer
        span.sub 2021, Pablo Larrain
        span.date 7 Mar
      li Before Midnight
        span.sub 2013, Richard Linklater
        span.date 6 Mar
        //- rly feel for julie delpy's character here, though i didn't like how bitter she was, i could identify with the bitterness, it was stuff i  remember anticipating feeling with J - this frustration and impossibility of being stuck in the role of woman mother etc and men believing in "magic fairies who pick up the socks etc." and need to be reliable in a way that they never have to be. It gives me anxiety that their argument wasnt really ever resolved except to just stick together anyway, and i cant help but side with celine though jesse has his share of frustrations - but this was very true to life even though it was frustration so huge props to linklater/hawke/delpy. bittersweet but still real-life-like 'ending' to the trilogy
      li Girl, Interrupted
        span.sub 1999
        span.date 3 Mar
      li Kramer vs. Kramer
        span.sub 1979, Robert Benton
        span.date 24 Feb
        //- really sweet first half, 2nd half an interesting moral dilemma wrt the trial/parenting. the story is told in a way to def favor the father, though i did feel like the character growth in the father was really amazing, and the connection b/w father and son had me tearing up. I read later about Dust Hoffman being abusive and kind of cruel to meryl (whose first movie it was??) so that was a bad aftertaste
      li tick, tick...BOOM!
        span.sub 2021, Lin-Manuel Miranda
        span.date 23 Feb
        //- good!  tbh did  not know about jonathan larson before, but i thought andrew garfield was great
      li Last Holiday
        span.sub 1950
        span.date 21 Feb
      li The Power of the Dog
        span.sub 2021, Jane Campion
        span.date 20 Feb
        //- started out with what seemed like bad acting but it got progressively interesting in a slow-moving way
        //- ending was redeeming, but otherwise not a great film imo, jesse plemmon's character had no point, the whole situation was kind of confusing / not that interesting, the tension between the brothers and whatever was benedict cumberbatch's character was way too lighthanded to be the central thing of the plot, the son character just straight up creepy
        //- beautiful  jonny greenwood score
      li 10 Things I Hate About You
        span.date 14 Feb
      //- li Friends with Benefits
      //-   span.sub 2011
      //-   span.date 12 Feb
      li Hail, Caesar!
        span.sub 2016, Joel & Ethan Coen
        span.date 7 Feb
      li Bridget Jones's Diary
        span.sub 2001
        span.date 6 Feb
      li Four Weddings and a Funeral
        span.sub 1994
        span.date 6 Feb
        //- plot obstacle too contrived
      li Whiplash
        span.sub 2014, Damien Chazelle
        span.date 30 Jan
        //- jazz! and practicing like your life depends on  it! but JK simmons SCARED the shit out of me and is the worst nightmare of our entire sensitive generation
        //- an incrredibly energy movie though now i want to work REALLY hard toward something, such that no one can say i didn't try
      li The Revenant
        span.sub 2015, Alejandro González Iñárritu
        //- span.date 29 Jan
        span.date 1.29
        //- gorier than expected, but intense and gripping
        //- i GUESS i could see how leo won his oscar from this, but honestly he didn't do that much acting except be in Pain and Survive, and ended up playing his usual my-entire-family-dead role LOL, and also the historical fiction type movies usually have good oscar chances
      li Raising Arizona
        span.sub 1987, Joel & Ethan Coen
        span.date 1.28
        //- see notes for notes
      li W.E.
        span.sub 2011, Madonna
        span.date 1.27
        //- very fashionable movie ngl  with an amazing score
      li Ninotchka
        span.sub 1939, Ernst Lubitsch
        span.date 1.26
      li Amadeus
        span.sub 1984
        span.date 1.24
      li Nightmare Alley
        span.sub 2021, Guillermo del Toro
        span.date 1.22
      li The Matrix Resurrections
        span.sub 2021, Lana Wachowski
        span.date 1.16
        //- boo
      li Friends with Money
        span.sub 2006, Nicole Holofcener
        span.date 1.15
      li.good Interface (Web Series)
        span.sub 2017-, u m a m i
      li Black Widow
        span.sub 2021
      li Spiderman: No Way Home
        span.sub 2021
      li Don't Look Up
        span.sub 2021, Adam McKay

  div.movie-list
    div.title 2021
    ol(style="counter-reset: list 134")
      li Our Idiot Brother
        span.sub 2011
      li The Alpinist
        span.sub 2020
      li 14 Peaks: Nothing is Impossible
      li Doctor Strange
        span.sub 2016
      li.fav Possession
        span.sub 1981, Andrzej Żuławski
        span.date 19 Dec
        //- 19 dec
        //- woah
      li.good Barton Fink
        span.sub 1991, Joel & Ethan Coen
        //- 17 dec
      li.good Harold and Maude
        span.sub 1971, Hal Ashby
        span.date 16 Dec
        //- 16 dec
        //- enjoyed this so much, so funny, the acting and writing was amazing, very 70s
        //- this is the version of the graduate that i wanted lol
        //-
      li It Follows
        span.date 15 Dec
        //- 15 dec
      li Eyes Wide Shut
        span.sub 1999, Stanley Kubrick
        span.date 14 Dec
        //- 14 dec
        //- hmm. throughout the movie i almost thought it would be better suited as a lynch film, but by the end i think i see the kubrick-ness. kidman's character i felt summed it up at the end re: being grateful they made it out alive of their adventures, whether it be one weird night or dreams. i think there is something in that: like the crazy things we've seen being akin to the crazy things we fantasize about- that it doesn't necessarily need to impact daily life? the classical music (shostakovich jazz suite? feels very kubrick ).  the masks FREAKED me out. I don't feel there was much resolution to the secret sex party thing, but i also dont think there was much more to figure out. i  liked all the secondary characters in tom cruise's long night, and also as he tries to retrace his steps.
      li Melancholia
        span.sub 2011, Lars von Trier
        span.date 13 Dec
        //- 13 dec
        //- about depression, kirsten dunst was pretty great, but overly artistic weak scifi just doesn't do it for me, and i felt the first and second halves didn't feel like part of the same movie
      li Closer
        span.sub 2004, Mike Nichols
        span.date 11 Dec
        //- 11 dec 2021
        //- performances were  good but i felt like the editing was so bad and confusing like pls add some transitions??
      li Licorice Pizza
        span.sub 2021, Paul Thomas Anderson
      li Phantom Thread
        span.sub 2017, Paul Thomas Anderson
        span.date 2 Dec
        //- 2 dec 2021
        //- hmmmm interesting
        //- daniel day lewis great, story i feel i didnt fully get
        //- his character was interesting, obviously faulted and somewhat immature
        //- (breaking down the romanticization of stubborn artist god-like dude?)
        //- didn't expect the ending but i liked it, alma poisoning him to soften him occasionly, and he liking it
        //- that was my favorite aspect i think of the story
        //- also rly beautiful music score, piano
      li Last Night in Soho
        span.sub 2021
      li Luca
        span.sub 2021
      li The Abyss
        span.sub 1989, James Cameron
        span.date 22 Nov
        //- 22 nov
      li The Holiday
        span.sub 2006, Nancy Meyers
        span.date 16 Nov
        //- 16 nov
      li Chef
        span.sub 2014, Jon Favreau
      li A Single Man
        span.sub 2009, Tom Ford
        span.date 10 Nov
        //- 10 nov
        //- :"o
        //- moments that save one from suicide
        //- beautiful violin-filled score (Abel Korzeniowski)
        //- cinemetograophy a bit naive  but effective (like more saturated color during moments  of Life/beauty/richness/break from depression)
        //- im all for beautiful gay movies set in the 60s
      li Minority Report
        span.sub 2002, Steven Spielberg
        //- nov
      li Wayne's World
        span.sub 1992, Penelope Spheeris
        span.date 3 Nov
        //- lmao
        //- 3 nov 2021
      li Boogie Nights
        span.sub 1997, Paul Thomas Anderson
        span.date 2 Nov
        //- 2 nov 2021
        //- fun cast
        //- young mark wahlberg very golden boy
        //- ultimately a wholesome movie sort of about chosen family :")
      li Mystic River
        span.sub 2003, Clint Eastwood
        span.date 1 Nov
        //- 1 nov 2021
        //- okay, not terribly interesting
      li.good Dead Ringers
        span.sub 1988, David Cronenberg
        span.date 31 Oct
        //- 31 oct
        //- really pretty film, slow and not very  frightening
        //- emotionally i thought it was quite beautiful, (reminded me of upstream color, I'm sure it had an influence on that) - about twin dependency on each other, depression, needing to syncronize
        //- it spoke also i think to the experience of codependcy, i felt i could relate to Bev's desparate, push/pull relationship to Claire and Elliot
        //- the idea that elliot had to become a drug addict along with beverly in order to sync up was very interesting, and also the ending about "separating conjoined twins" ie killing one of them (but then the other dies)
        //- i appreciate how little actual gore there was lol
        //- the details of them being gynecologists and the strange instruments were not as frightening as they could have been. perhaps it was just added to add some weirdness to the movie, but didn't actually play too much role IMO in the plot. likely that detail was taken from the real life twin gynecologists this story was losely based on
        //- i didn't find this film as disturrbing as a lot of the reviews seem to suggest, but i don't think this is a flaw haha since i think it was very effective, and michael irons was great
      li.good Midsommar
        span.sub 2019, Ari Aster
        span.date 29 Oct
        //- 29 oct
        //- rly good
        //- i like that it was from the perspective of the pagan cult, in that there throughout it was this  overblown/overexposed brightness, colorfulness, and the voice of "this is beautiful, this is how it is" ovoerpowered any voices of judgement. there was also sort of an element of retribution for Dani - she finds a new family, that guy Pelle, and also sends Christian to his death. the tone is very .. like a blanket, it purposefully reframes/distracts from the disturbing nature of everything.
        //- ending is kind of like The Witch - like girl who goes through trauma ends up joining pagan cult
        //- the brightness and fact that the sun never goes down is integral to this story - like broad daylight, sunshine and flowers, happy hippie drugs. it has its own logic to it
        //- i think the most disturbing idea for me was the "intentional inbreeding" to produce disabled people that can be the mystics
        //- the beginning trauma /following grief was portrayed really well, and also the bad trip elements
        //- Florence Pugh's portrayal of grief, panic, loneliness was just so well done,
        //- ALSO i feel like Dani and Christian's broken relationship was depicted really well. Ari Aster said this was "a breakup movie dressed in the clothes of a folk horror film"

      li Se7en
        span.sub 1995, David Fincher
        span.date 28 Oct
        //- 28 oct
      li.good Donnie Darko
        span.sub 2001, Richard Kelly
        span.date 27 Oct
        //- 27 oct
        //- (3 days remaining)
      li Eraserhead
        span.sub 1977, David Lynch
        span.date 26 Oct
        //- 26 oct
        //- just a lot of weird stuff
        //- visual motifs: going into ominous holes, opening doors etc.
        //- sound design
      li.good Dogtooth
        span.sub 2009, Yorgos Lanthimos
        span.date 24 Oct
        //- 24 oct
        //- yup, that's messed up. but pretty artful and not scary, just extremely disturbing
        //- i wonder what it means. there are a lot of moments and concepts to analyze. some parts were even humorous, like the fake definitions of words the mother would give, and their weird games. the mother was kind of an ambiguous character, and the motives of the father were unclear. the very clean/white/blue/green/dry color palette was an interesting choice.
      li Dune
        span.sub 2021, Denis Villeneuve
        span.date 23 Oct
        //- 23 oct
      li Dune
        span.sub 1984, David Lynch
        span.date 22 Oct
        //- 22 oct 2021
        //- not as bad as i thought it would be. the mystical/surreal/dreamlike stuff was done well, though the plot almost followed the book too closely? (first half kind of slow/boring, not enough time spent with the fremen and wandering the desert part). the house harkonen though was truly scary and the baron absolutely disgusting .. // evil/chaotic clockwork-orangey vibes (that rly felt david lynchy). I can't believe jean-luc picard and STING were in this lmao. kyle maclachan great, but also kind  of too old.
        //- blade runner/tron/80s vibes for sure - lol score by toto was good!
      li The Killing of a Sacred Deer
        span.sub 2017, Yorgos Lanthimos
      li Velvet Buzzsaw
        span.sub 2019, Dan Gilroy
        span.date 13 Oct
        //- 13 oct
      li.good Squid Game (TV Series)
        span.sub 2021, Hwang Dong-hyuk
      li.good Sense8 (TV Series)
        span.sub 2015-2018, Wachowskis & J. Michael Straczynski
      li Soylent Green
        span.sub 1973
        span.date 19 Sep
        //- 19 sep
      li Inherent Vice
        span.sub 2014, Paul Thomas Anderson
        span.date 9-10 Sep
        //- 9-10 sep
        //- stoner twin peaks
        //- plot pretty confusing, like maybe too closely adapted to the book?
      li.good Following
        span.sub 1998, Christopher Nolan
        span.date 8 Sep
        //- 8 sep
        //- like a david lynch movie that makes sense???? really well made for a clearly low budget affair (6000 usd!), the plot had so many layers, the editing and out of sequence scenes were just coherent enough to create suspense, mystery, and continually catch the viewer off guard. so many fascinating concepts--following, burgurlary, conning-- all together and working with each other, layering on top each other, yet still simple and with only 3 essential characters. the filmmaking itself was also nice, noir, sort of lynchian (surprisingly, given this is the chris nolan).
      li.good Manchester by the Sea
        span.sub 2016, Kenneth Lonergan
        span.date 7 Sep
        //- 7 sep
        //- ahh wow .... devestating but beautifully shot.
        //- i really felt for casey affleck's character, his grieving and his depression. i cried a lot. the scenes of massachussetts winter were also extremely vivid and evocative. just really great acting all around. the scene when casey affleck and michelle williams run into each other on the street was so heartwrenching in all its struggle and sorrow and emotion. michelle williams, though a relatively minor character, was amazing as usual. there was a lot that was unspoken but so strongly and precisely implied by the pain in affleck's mannerisms and character and his sadness.
      li Thank Your Lucky Stars
        span.sub 1943
        span.date 1 Sep
        //- 1 sep
      li Zodiac
        span.sub 2007, David Fincher
        //- i think i've unintentially watched all of jakey g's major movies..
      li Sleepless in Seattle
        span.sub 1993
      li Prisoners
        span.sub 2013, Denis Villeneuve
      li The Man Who Knew Too Much
        span.sub 1934, Alfred Hitchcock
        span.date 30 Jul
        //- 30 july
      li The Thin Man
        span.sub 1934, W.S. Van Dyke
        //- william powell (also in my man godfrey!), and myrna loy
      li The Story of Vernon and Irene Castle
        span.sun 1939
        span.date 27 Jul
        //- 27 jul
      li Mr. Smith Goes to Washington
        span.sub 1939, Frank Capra
        span.date 25 Jul
        //- 25 jul
      li The Machinist
        span.sub 2004, Brad Anderson
        span.date 24 Jul
        //- 24 jul
        //- dostoyevskian, wow, well done
      li The Saturday Night Kid
        span.sub 1929
      li Zombieland
        span.sub 2009, Ruben Fleischer
        span.date 21 Jul
        //- 21 jul
      li My Man Godfrey
        span.date 18 Jul
        //- 18 jul
      //- li Eat Pray Love
      li.good The Lady Eve
        span.sub 1941, Preston Sturges
        span.date 17 Jul
        //- 17 jul
        //- barbara stanwyckkkkkkkkkkkkkkk
        //- somewhat similar character to baby face
        //- henry fonda, prtty cool
      li Broadchurch (TV Series)
        span.sub 2013-2017, Chris Chibnall
        span.date 12 Jul
        //- 12 jul
      li Restless Natives
        span.sub 1985, Michael Hoffman
        span.date 4 Jul
        //- jul 4
      li.good Say Anything
        span.sub 1989, Cameron Crowe
        span.date 1 Jul
        //- 1 july
      li Grosse Pointe Blank
        span.sub 1997, George Armitage
        span.date 30 Jun
        //- 30 jun
      li The Time Traveler's Wife
        span.sub 2009
      li Nocturnal Animals
        span.sub 2016, Tom Ford
        span.date 26 Jun
        //- 26 june
      li Captain Fantastic
        span.sub 2016, Matt Ross
        span.date 24 Jun
        //- 24 jun
      li.fav Fleabag (TV Series)
        span.sub 2016-2019, Phoebe Waller-Bridge
        //- finished 22 jun
      li Melvin Goes to Dinner
        span.sub 2003, Bob Odendirk
        span.date 21 Jun
        //- 21 june
      li The Hustle
        span.sub 2019
      li My Best Friend's Wedding
        span.sub 1997
      li Pan's Labyrinth
        span.sub 2006, Guillermo del Toro
      li Napolean Dynamite
        span.sub 2004
      li Scarface
        span.sub 1983, Brian De Palma
        span.date 8 Jun
        //- 8 june
      li August: Osage County
        span.sub 2013, John Wells, Tracy Letts
        span.date 7 Jun
        //- 7 june
        //- :(
      li Fun with Dick and Jane
        span.sub 2005, Dean Parisot
        span.date 6 Jun
        //- 6 June
      li Rain Man
        span.sub 1988, Barry Levinson
        span.date 5 Jun
        //- 5 june
      li The Land of Steady Habits
        span.sub 2018, Nicole Holofcener
        span.date 4 Jun
        //- 4 june
      li The Departed
        span.sub 2006, Martin Scorsese
        span.date 3 Jun
        //- 3 june
        //- wow this was so good???? might be my favorite gangster movie
      li The Squid and the Whale
        span.sub 2005, Noah Baumbach
        span.date 2 Jun
        //- 2 jun
        //- intersting family influence dynamics
      li Superbad
        span.sub 2007, Greg Mottola
      li I Don't Feel at Home in this World Anymore
        span.sub 2017, Macon Blair
        span.date 31 May
        //- 31 may
      li The Dig
        span.sub 2021
        span.date 30 May
        //- 30 may
      li Stoker
        span.sub 2013, Park Chan-wook
        span.date 29 May
        //- 29 may
      li Far From Heaven
        span.sub 2002, Todd Haynes
        span.date 28 May
        //- 28 may
      li All Over Me
        span.sub 1997, Alex & Sylvia Sichel
        span.date 27 May
        //- 27 may
      li Sorry to Bother You
        span.sub 2018, Boots Riley
        span.date 26 May
        //- 26 may
      li Bound
        span.sub 1996, the Wachowskis
        span.date 24 May
        //- 24 may
      li Good Time
        span.sub 2017, Josh & Benny Safdie
        span.date 23 May
        //- 23 may
      li.good Brokeback Mountain
        span.sub 2005, Ang Lee
        span.date 22 May
        //- 22 may
        //- ugh these boys
      li I Care a Lot
        span.sub 2020, J Blakeson
        span.date 16 May
        //- daaannngggg
        //- 16 may
        //- (rosamund pike and eiza gonzalez are just like ... incredibly attractive together, pike in general is stunning and plays powerful but questionable characters well)
      li Alice Adams
        span.sub 1935
        span.date 12 May
        //- 12 may
      li.fav Queen Christina
        span.sub 1933, Rouben Mamoulian
        span.date 6 May
        //- 6 may
        //- see notes
      li.good Hannah Gadsby: Douglas
        span.sub 2020
        span.date 5 May
        //- 5 may 2021
      li Blue Velvet
        span.sub 1986, David Lynch
        span.date 28 Apr
        //- 28 april
        //- ..about sexual deviancy? idk
        //- a lot of mystery/detective elements / kyle maclachlan that later appear in twin peaks
        //- rossellini very bergman-esque!! (I subconsciously felt that familiarity, but didn't know until afterward that she's the actual daughter of ingrid bergman)
      li.good Before Sunset
        span.sub 2004, Richard Linklater
        span.date 26 Apr
        //- 26 apr
        //- ahhh wow
        //- conversation about celine's inability to let people go (holding onto the little details) and jesse's frustrations with marriage stuck with me
        //- and this one was in real time! Jesse and Celine are both slightly more steeled toward life, and a lot of the significance of their encounter this time was steeped in their magical time in Vienna.
        //- i like with both this and before sunrise how things start off awkward and light and kind of descend into an intimate heaviness, that really familiar feeling of spending hours with someone
      li Ma Rainey's Black Bottom
        span.sub 2020, George C. Wolfe
        span.date 24 Apr
        //- 24 apr
        //- chadwick boseman :"""""
      li.good Sound of Metal
        span.sub 2020, Darius Marder
        span.date 23 Apr
        //- TEARS FLOWING FOR THE ENTIRE DURATION OF THISFILM
        //- RIZ AHMED'S PERFORMANCE SO SO GREAT I HOPE HE WINS THE OSCAR
        //- all these feelings hit. ahmed gyllenhaal-esque with his huge, expressive eyes
        //- the characters so good, the story so good, the overal message so much  - the addict background, punk meaningful life, saving each other's lives, cutting background, deaf addict community. WOW.
        //- a story  about abilities  and humanhood. of the central thing of life. it really shows how committed to telling this story the writers, director, and actors were - for it's so powerfully, effectively told, so nuanced  and specific and special. Riz ahmed blew me away, the way his character reacted and how it changed over the course of the movie and he grew into accepting  the silence, and moving forward with life though it has been so difficult and so devestating. Ahh the deaf community was so amazing as well, and Paul Raci's performance great.
        //- what a precious, compassionate film.
        //- 23 april
      li Mank
        span.sub 2020, David Fincher
        span.date 22 Apr
        //- 22 apr
        //- eh
      li Judas and the Black Messiah
        span.sub 2020, Shaka King
        span.date 21 Apr
        //- 21 april
      li The Father
        span.sub 2020, Florian Zeller
        span.date 20 Apr
        //- 20 apr
        //- very much like a play
      li Promising Young Woman
        span.sub 2020, Emerald Fennell
        span.date 18 Apr
        //- 18 apr
        //- wow, I hope men watch this and get scared.
        //- provocative revenge film and good black humor from fennell (who did se2 of killing eve!). The ending nearly turns this thriller into a horror .. horror at even (especially) the nice men of the world.
      li Nomadland
        span.sub 2020, Chloe Zhao
        span.date 17 Apr
        //- 17 apr
        //- to convey a sense of emptyness?
      li Shall We Dance
        span.sub 1937
        span.date 15 Apr
        //- 15 apr
      li.fav Killing Eve (TV Series, S2 & 3)
        span.sub 2019 & 2020
        span.date 14 Apr
        //- 14  apr
      li Trial of the Chicago 7
        span.sub 2020, Aaron Sorkin
        span.date 10 Apr
        //- 10 Apr
        //- good!
      li Woman of the Year
        span.sub 1942, George Stevens
        span.date 3 Apr
        //- 3 apr
      li Twentieth Century
        span.sub 1934, Howard Hawks
        span.date 31 Mar
        //- 31 mar
      li Minari
        span.sub 2020, Lee Isaac Chung
        span.date 27 Mar
        //- 27 mar
      li Swing Time
        span.sub 1936
        span.date 20 Mar
        //- 20 mar
      li Easy Living
        span.sub 1937
        span.date 19 Mar
        //- 19 mar
      li Crazy, Stupid, Love.
        span.sub 2011
        span.date 18 Mar
        //- 18 mar
      li You Can't Take it With You
        span.sub 1938, Frank Capra
        span.date 14 Mar
        //- 14 mar
      li Follow the Fleet
        span.sub 1936
        span.date 3 Mar
        //- 3 mar
      li.fav Baby Face
        span.sub 1933
        span.date 2 Mar
        //-  2 mar
        //- barbara stanwyck's character remains mysterious, invulnerable and in control until the end ... the whole thing is strangely empowering
        //- how she blazes through men, knocks them over with barely a struggle
        //- overall an immensely satisfying story
      li Dinner at Eight
       span.sub 1933
       span.date 22 Feb
        //- 22 feb
        //- billie burke the true star in this haha
      li Little Women
        span.sub 1933
        span.date 19 Feb
        //- 19 feb
      li.good Top Hat
        span.sub 1935
        span.date 18 Feb
        //- 18 feb
        //- :")
      li The Divorcee
        span.sub 1930
        span.date 15 Feb
        //- 15 feb
      li Three on a Match
        span.sub 1932
        span.date 14 Feb
        //- 14 feb
        //- wow :0
      li Knives Out
        span.sub 2019
        span.date 13 Feb
        //- 13 feb
      li Grand Hotel
        span.sub 1932, Edmund Goulding
        span.date 12 Feb
        //- 12 feb
        //- " Grand Hotel. Always the same. People come, people go. Nothing ever happens."
      li Only Angels Have Wings
        span.sub 1939, Howard Hawks
        span.date 11 Feb
        //- 11 feb
        //- jean arthur
      li Anna Christie
        span.sub 1930, Clarence Brown
        span.date 8 Feb
        //-  8 feb
        //- garbo talks!!
        //- my first pre-code film .. interesting
      li Key Largo
        span.sub 1948, John Huston
        span.date 6 Feb
        //- 6 feb
        //- mobster vs hurricane
        //- cute bogie/bacall
      li.fav Stage Door
        span.sub 1937, Gregory La Cava
        span.date 5 Feb
        //- 5 feb
        //- :) a gem with ginger rogers, katharine hepburn, and so many other wonderful funny women (and the first pre-50s film I've watched that passes the bechdel test with flying colors!). I really loved Ginger Rogers' spunky, sarcastic, loyal character. The clever banter between Rogers' and Hepburn's characters had me laughing throughout.
      li Camille
        span.sub 1936, George Cukor
        span.date 4 Feb
        //- Greta Garbo
        //- 4 feb
        //- ...enter  greta  garbo!! sgarbo is perhaps the most special
      li Morning Glory
        span.sub 1933, Lowell Sherman
        span.date 3 Feb
        //- 3 feb
      li.fav Bringing Up Baby
        span.sub 1939, Howard Hawks
        span.date 2 Feb
        //- 2 feb
        //- you know these crazy cats kate and cary i think are becoming my favorite duo
        //- both are sillier and more feminine in this, which just adds to the humor and the ridiculous lovability of their eccentric characters. the comedy in this was amazing!!
        //- "this is probably the silliest thing that has ever happened to me" ... me too
        //- hilarious screwball! really funny and absurds
        //- "all that happened happened because I was trying to keep you near me and I just did anything that came into my heads  "

      li His Girl Friday
        span.sub 1940, Howard Hawks
        span.date 1 Feb
        //- feb 1
      li Holiday
        span.sub 1938, George Cukor
        span.date 31 Jan
        //- 31 Jan
        //- I liked this one :-)
      li.good Sylvia Scarlett
        span.sub 1935, George Cukor
        span.date 29 Jan
        //- 29 jan
        //- omg this was a wild ride. katharine hepburn is a wonderful boy. interesting queer overtones, and now that i've watched a significant number of wwii-era and post-war films, I'm more attuned to the difference in pre-war films: looser, less structured, playful, more promiscuous. I wonder if this film was unsuccessful at the time because hepburn was too good at her part, truly androgynous
        //- wikipedia says it best:
        //- The film is mostly known for its queer elements, with Hepburn's character continuing to do drag even after it is not necessary anymore for the character,[10] which "confused and disconcerted in equal measures."[11] It is considered that the sexual ambiguities and gender misunderstandings of the films were too daring for the time period, which made the audiences fail to see the humor in cross-dressing and mistaken identity.[12] It also resulted in movie audiences walking away from the movie, especially since it was insinuated or shown that both male and female characters were attracted to Hepburn's character, in and out of drag. While in drag, Sylvia is kissed by a woman and Monkley comments that he'd made "a proper hot water bottle" when they are changing to go to sleep. At the same time, Fane shows more interest in Sylvia while in drag, and losing it after she revealed she is a woman.[13]
        //- Some have argued that "Gender as a separate concept from sexuality or physical sex wouldn’t come about for another twenty years, so audiences had no context for Sylvia’s odd apparel" through the movie.[14] Nevertheless, the film is considered one of the few of the Golden Age of Hollywood to represent queerness respectfully.[15] It is now seen as "a monument to the sapphic impression Hepburn left in Hollywood",[16] with the film implying "that Sylvia might stay as Sylvester forever", even as she enters a relationship with a man.[17] Some, on the other hand, have considered that "these deliciously cheeky invitations are met with sexual panic and a predictable retreat into befrocked femininity".[18]
        //-
        //- In conclusion though this movie was fun, interesting, even edgy, and has been one of the most memorable (and probably one of the favoritte) films I've watched pre-1950s.
      li Adam's Rib
        span.sub 1949
        span.date 28 Jan
        //- jan 28
      li Pat and Mike
        span.sub 1952, George Cukor
        span.date 27 Jan
        //- jan 27
      li Rear Window
        span.sub 1954, Alfred Hitchcock
        span.date 26 Jan
        //- jan 26
      li Happiest Season
        span.sub 2020, Clea Duvall
        span.date 25 Jan
        //- jan 25
      li.good A Matter of Life and Death
        span.sub 1946, Michael Powell & Emeric Pressburger
        span.date 23 Jan
        //- 23 jan
        //- metaphysical fantasmic archers .. love it
      li.fav High Fidelity
        span.sub 2000, Stephen Frears
        span.date 22 Jan
        //- 22 Jan
        //-  john cusack very good dfw-esque music chump kind of dreamy but selfish and deluded..... jack black a surprising blast... fun to be in a record store in the 90s/00s, weird juggling of records, tapes, cds
      li.good Before Sunrise
        span.sub 1995, Richard Linklater
      li Twin Peaks: Fire Walk with Me
        span.sub 1992, David Lynch
      li Twin Peaks: The Missing Pieces
        span.sub 2014, David Lynch

  div.movie-list
    div.title 2020
    ol(style="counter-reset: list 86")
      li High Art
        span.sub 1997, Lisa Cholodenko
      li War Games
        span.sub 1983
      li.good Soul
        span.sub 2020, Pete Doctor
      li The Midnight Sky
        span.sub 2020
      li.good Tenet
        span.sub 2020, Christopher Nolan
      li.good mid90s
        span.sub 2018, Jonah Hill
      li Stranger Than Fiction
        span.sub 2006
      li Us and Them
      li Babel
        span.sub 2006, Inarritu
      li.good Fargo
        span.sub 1996, Coen brothers
      li.good Twin Peaks
        span.sub 1990-1991, David Lynch & Mark Frost
        span.date Nov-Dec
        //- Nov - Dec 2020
      li A Canterbury Tale
        span.sub 1944, Powell / Pressburger (The Archers)
        span.date 27 Oct
        //- 27 oct 2020
        //- wonderful. pals on the road to canterbury
      li 2010: The Year We Make Contact
        span.sub 198?,
        span.date 10 Oct
        //- 10 oct 2020
      li The Life and Death of Colonel Blimp
        span.sub 1943, the archers
        span.date 2 Oct
        //- a fun movie
        //- love the abrupt alternations between serious War and Politics stuff and
        //- mundanities (want to go the movies? will you stay for dinner?). the editing and writing
        //-  esp in this are a delight
        //- ilike roger livesey, he's a blast
        //- this is real  interesting comedy and storytelling, and compared to other
        //-  films creating around this time (esp. american) this is much less trite
        //- and due to the talent of the writers, actors, and editors, really comes together
        //- as enjoyable and innovative cinema!
        //- I look forward to watching the rest of powell  & pressburgers films :)
        //- 2 oct 2020
      li.good I Know Where I'm Going!
        span.sub 1945, Powell & Pressburger
        span.date 28 Sep
        //- playful, i like the camera layers, scene transitions, cheerful expressionism(?) of
        //- the film style
        //- also i appreciate the on location / naturally lit filming in sctoland,
        //- the foggy dark daytime sea
        //- one of the most scottish things ive ever seen..
        //- 28 sep
        //- i enjoyed this, though the plot was kind of wandering, here and there, it had a very british :: scottish qualitiy, and scattered with nuggets of expressionist film style in a wonderfully moody, naturally lit scotland shot on location
      li To Be or Not to Be
        span.sub 1942
        span.date 26 Sep
        //- 26 sep, pretty funny
      li The Best Years of our Lives
        span.sub 1946
        span.date 25 Sep
        //- 25 sep
          //- omg have i ever cried this much???
      li.fav The Red Shoes
        span.sub 1948, Michael Powell & Emeric Pressburger
        span.date 23 Sep
        //- amazing!! captivating, could not take my eyes away .. it's like
        //- the film medium itself was an expressionistic ballet, or perhaps the ballet
        //- was  a film?? idk ... the red shoes also a haunting/chilling metaphor for
        //- the ballet production itself..obsession, cold-heartedness of lermontov,
        //- the music is the only thing that matters
        //- ballet x surrealism x film
        //- the ballet itself was a surreal expressionist masterpiece of film
        //- Lermontov IS the red shoes!!!!!
        //- 23 Sep
        //- like one of the best dance films ever, and probably on my list of all-time favs
        //- art worth dying for
      li Shadow of a Doubt
        span.sub 1943, Alfred Hitchcock
      li To Have and Have Not
        span.sub 1944
        span.date 20 Sep
        //- 20 sep
      li The Setup
        span.sub 1949
        span.date 18 Sep
        //- 18 sep
        //- strangely engrossing and beautifully shot ...boxing in black & white
        //- i liked this film, it was simple, focused on 1 event, took its time, yet emotionally suspenseful and quite rich, understated
        //- liked how it focused on the audience too, so many background characters..like in these sports events everyone joins
        //- together for an isolated Moment. it's pretty modern, almost like scientific in the way the film is "studying" this event
        //- and the romantic aspect was pure, uncomplicated, not central to the plot but central to the character,
        //-  more about caring about someone truly than about falling in love
      li Leave Her to Heaven
        span.sub 1945
        span.date 16 Sep
        //- 16 sep
      li All About Eve
        span.sub 1950, Joseph L. Mankiewicz
        span.date 14 Sep
        //- 14 sep
      li.good I'm Thinking of Ending Things
        span.sub 2020, Charlie Kaufman
      li Into the Wild
      li.good Train to Busan
      li.good The Dawn Wall
      li Dark Victory
        span.sub 1939
      li The Witch
        span.sub 2015
      li Insomnia
        span.sub 2002, Christopher Nolan
      li Spellbound
        span.sub 1945, Alfred Hitchcock
      li White Heat
       span.sub 1949
      li.good Steve Jobs
        span.sub 2017, Danny Boyle, Aaron Sorkin
      li M
        span.sub 1931, Fritz Lang
      li Suspicion
        span.sub 1941, Alfred Hitchcock
        //- 25 june
      li The Lost Weekend
        span.sub 1945, Billy Wilder
      li Notorious
        span.sub 1946, Alfred Hitchcock
        span.date 17 Jun
        //- 17 june, ingrid bergman and cary grant's performances were of the most sensual and tremendous (sensual? remarkable? intimate? tremendous?) couples of 40s and 50s films
        //- really well sustained tension/suspense
      li Laura
        span.sub 1944, Otto Preminger
      li.fav Alien
        span.sub 1979, Ridley Scott
      li Kind Hearts and Coronets
        span.sub 1949
      li The 39 Steps
        span.sub 1935, Alfred Hitchcock
      li.good Bicycle Thieves
        span.sub 1948, Vittorio De Sica
      li The Maltese Falcon
        span.sub 1941, John Huston
        span.date 7 Jun
        //- 7 june
      li Rebecca
        span.sub 1940, Alfred Hitchcock
      li In a Lonely Place
        span.sub 1950, Nicholas Ray
      li Double Indemnity
        span.sub 1944, Billy Wilder
      li Kidding (TV Series)
      li Monty Python and the Holy Grail
        span.sub 1975
      li.good The Philadelphia Story
        span.sub 1940, George Cukor
      li Moneyball
        span.sub 2011
      li Burning
        span.sub 2018, Lee Chang-dong
      li Molly's Game
        span.sub 2017, Aaron Sorkin
      li The Big Sleep
        span.sub 1946, Howard Hawks
      li The Third Man
        span.sub 1949, Carol Reed
      li Mildred Pierce
        span.sub 1945, Michael Curtiz
      li.good Singin' in the Rain
        span.sub 1952, Stanley Donnen, Gene Kelly
      li Gaslight
        span.sub 1944, George Cukor
      li Rope
        span.sub 1948, Alfred Hitchcock
      li Us
        span.sub 2019, Jordan Peele
      li Strangers on a Train
        span.sub 1951, Alfred Hitchcock
      li Gone with the Wind
        span.sub 1939
      li Onward
        span.sub 2020
      li It's a Wonderful Life
        span.sub 1946, Frank Capra
      li The Chronicles of Narnia: Prince Caspian
        span.sub 2008
      li.fav Cleo from 5 to 7
        span.sub 1962, Agnès Varda
      li Casablanca
        span.sub 1942, Michael Curtiz
      li Sunset Boulevard
        span.sub 1950
      li.good My Life as a Zucchini
        span.sub 2017
      li Lovely & Amazing
        span.sub 2001, Nicole Holofcener
      li Ford v Ferrari
        span.sub 2019
      li Joker
        span.sub 2019
      li The Meyerowitz Stories (New and Selected)
        span.sub 2017, Noah Baumbach
      li Swiss Army Man
        span.sub 2015
      li.good The Talented Mr. Ripley
        span.sub 1999
      li.good The Master
        span.sub 2012, Paul Thomas Anderson
      li Frozen II
        span.sub 2019
      li Contagion
        span.sub 2011
      li.good Parasite
        span.sub 2019, Bong Joon Ho
      li Lincoln
        span.sub 2012, Steven Spielberg
      li Uncut Gems
        span.sub 2019, Josh & Benny Safdie
      li Spiderman: Far from Home
        span.sub 2019
      li Lost Highway
        span.sub 1997, David Lynch
      li Enemy
        span.sub 2013, Denis Villeneuve
      li The King's Speech
        span.sub 2010
      li 21
        span.sub 2008

  div.movie-list
    div.title 2019
    ol(style="counter-reset: list 51")
      li.good Other People
        span.sub 2016
      li About Time
        span.sub 2013
      li Private Life
        span.sub 2018
      li Solo: A Star Wars Story
        span.sub 2018
      li Star Wars: the Rise of Skywalker
        span.sub 2019
      li Marriage Story
        span.sub 2019, Noah Baumbach
      li Seven Years in Tibet
        span.sub 1997
      li Six Days
        span.sub 2017
      li The Big Short
        span.sub 2015, Adam McKay
      li.good Enough Said
        span.sub 2013, Nicole Holofcener
      li Panic Room
        span.sub 2002, David Fincher
      li.fav The Sound of Music
        span.sub 1965
      li El Camino: A Breaking Bad Movie
        span.sub 2019
      li.good Magnolia
        span.sub 1999, Paul Thomas Anderson
      li Close Encounters of the Third Kind
        span.sub 1977, Steven Spielberg
      li The Butterfly Effect
        span.sub 2004
      li The French Connection
        span.sub 1971
      li.good Rosemary's Baby
        span.sub 1968, Roman Polanski
      li Vertigo
        span.sub 1958, Alfred Hitchcock
      li The Graduate
        span.sub 1967
      li Ad Astra
        span.sub 2019
      li.good American Psycho
        span.sub 2000
      li The Lord of the Rings trilogy
        span.sub 2001-2003
      li A Clockwork Orange
        span.sub 1971, Stanley Kubrick
      li Please Give
        span.sub 2010, Nicole Holofcener
      li Lion King
        span.sub 2019
      li Independence Day
        span.sub 1996
      li One of Us
        span.sub 2017
      li A Star is Born
        span.sub 2018, Bradley Cooper
      li Ringu
        span.sub 1998
      li Free Solo
        span.sub 2018
      li The 40-Year-Old Virgin
        span.sub 2005, Judd Apatow
      li (500) Days of Summer
        span.sub 2009
      li.good Punch-Drunk Love
        span.sub 2002, Paul Thomas Anderson
      li.good Shoplifters
        span.sub 2018, Kore-eda Hirokazu
      li Mary and the Witch's Flower
        span.sub 2017
      li Vice
        span.sub 2018, Adam McKay
      li.good The Favourite
        span.sub 2018, Yorgos Lanthimos
      li The Lobster
        span.sub 2015, Yorgos Lanthimos
      li Wildlife
        span.sub 2018, Paul Dano
      li My Week with Marilyn
        span.sub 2011
      li There Will Be Blood
        span.sub 2007, Paul Thomas Anderson
      li Café Lumière
        span.sub 2003, Hsiao-Hsien Hou
      li Killing Eve (TV Series, S1)
        span.sub 2018-
      li Office Space
        span.sub 1999
      li.fav Maniac (TV Mini-Series)
        span.sub 2018
      li Spider-Man: Into the Spider-Verse
        span.sub 2018
      li A Late Quartet
        span.sub 2012
      li Forever (TV Series)
        span.sub 2018
      li.good Nostalgia
        span.sub 2018

  div.movie-list
    div.title 2018
    ol(style="counter-reset: list 58")
      li Eighth Grade
        span.sub 2018, Bo Burnham
      li.good Song of the Sea
        span.sub 2014
      li Blue Jasmine
        span.sub 2013, Woody Allen
      li Bohemian Rhapsody
        span.sub 2018
      li.good Coherence
        span.sub 2013
      li The Sixth Sense
        span.sub 1999, M. Night Shyamalan
      li.good Edward Scissorhands
        span.sub 1990, Tim Burton
      li Rushmore
        span.sub 1998, Wes Anderson
      li Gaga: Five Foot Two
        span.sub 2017
      li The Hours
        span.sub 2002
      li Fantastic Mr. Fox
        span.sub 2009, Wes Anderson
      li Tuesdays with Morrie
        span.sub 1999
      li The Firefly
        span.sub 2013
      li An Education
        span.sub 2009
      li Certain Women
        span.sub 2016
      li Adaptation.
        span.sub 2002, Spike Jonze / Charlie Kaufman
      li.good Trainspotting
        span.sub 1996, Danny Boyle
      li TRON
        span.sub 1982
      li.good Disobedience
        span.sub 2017
      li Anomalisa
        span.sub 2015, Charlie Kaufman
      li Blue Valentine
        span.sub 2010
      li Crazy Rich Asians
        span.sub 2018
      li Back to the Future
        span.sub 1985
      li.good Cube
        span.sub 1997
      li.fav Synecdoche, New York
        span.sub 2008, Charlie Kaufman
      li Lovesong
        span.sub 2016
      li Out of the Blue
        span.sub 1980
      li The Fountain
        span.sub 2006, Darren Aronofsky
      li.fav Persona
        span.sub 1966, Ingmar Bergman
      li Hard Candy
        span.sub 2005
      li.fav Being John Malkovich
        span.sub 1999, Spike Jonze / Charlie Kaufman
      li Dazed and Confused
        span.sub 1993, Richard Linklater
      li Citizen Kane
        span.sub 1941, Orson Welles
      li.good Velvet Goldmine
        span.sub 1998, Todd Haynes
      li Taxi Driver
        span.sub 1976, Martin Scorcsese
      li Incredibles 2
        span.sub 2018, Brad Bird
      li.good Days of Being Wild
        span.sub 1990, Wong Kar-wai
      li The Big Lebowski
        span.sub 1998
      li Black Panther
        span.sub 2018
      li.good Boyhood
        span.sub 2014, Richard Linklater
      li Silence
        span.sub 2016, Martin Scorsese
      li Nymphomanic: Vol. 1
        span.sub 2013
      li Changeling
        span.sub 2008
      li.good Thelma & Louise
        span.sub 1991, Ridley Scott
      li Ikiru
        span.sub 1952
      li Dunkirk
        span.sub 2017, Christopher Nolan
      li The Shape of Water
        span.sub 2017, Guillermo del Toro
      li Blade Runner 2049
        span.sub 2017, Denis Villeneuve
      li.good I, Tonya
        span.sub 2017
      li Pinocchio
        span.sub 1940
      li Hasan Minhaj: Homecoming King
        span.sub 2017
      li.good Your Name.
        span.sub 2016
      li Summertime (La belle saison)
        span.sub 2015
      li.good Atonement
        span.sub 2007
      li.good The Shining
        span.sub 1980, Stanley Kubrick
      li Mudbound
        span.sub 2017, Dee Rees
      li.good Akira
        span.sub 1988

  div.movie-list
    div.title 2017
    ol(style="counter-reset: list 56")
      li Dead Poet's Society
        span.sub 1989
      li.good Call Me By Your Name
        span.sub 2017
      li Experimenter
        span.sub 2015
      li Star Wars: Episode VIII - The Last Jedi
        span.sub 2017
      li The Shawshank Redemption
        span.sub 1994
      li.good Lady Bird
        span.sub 2017, Greta Gerwig
      li.good Fallen Angels
        span.sub 1985, Wong Kar-wai
      li Drive
        span.sub 2011
      li The Silence of the Lambs
        span.sub 1991
      li.good 2046
        span.sub 2004, Wong Kar-wai
      li.good Happy Together
        span.sub 1997, Wong Kar-wai
      li Paprika
        span.sub 2006, Satoshi Kon
      li Millenium Mambo
        span.sub 2001, Hsiao-Hsien Hou
      li 127 Hours
        span.sub 2010, Danny Boyle
      li Goodfellas
        span.sub 1990, Martin Scorsese
      li The Godfather: Part II
        span.sub 1974, Francis Ford Coppola
      li Titan A.E.
        span.sub 2000
      li.good District 9
        span.sub 2009
      li The Day the Earth Stood Still
        span.sub 1951
      li.fav Solaris
        span.sub 1972, Andrei Tarkovsky
      li.fav Moon
        span.sub 2009
      li.good Strange Days
        span.sub 1995
      li Twelve Monkeys
        span.sub 1995
      li The Dark Knight
        span.sub 2008, Christopher Nolan
      li Nightcrawler
        span.sub 2014
      li Batman Begins
        span.sub 2005, Christopher Nolan
      li Atlantis: The Lost Empire
        span.sub 2001
      li Mr. Nobody
        span.sub 2009
      li.good Blade Runner
        span.sub 1982, Ridley Scott
      li Sunshine
        span.sub 2007, Danny Boyle
      li.good The Godfather
        span.sub 1972, Francis Ford Coppola
      li Children of Men
        span.sub 2006, Alfonso Cuarón
      li.fav Upstream Color
        span.sub 2013, Shane Carruth
      li.fav Primer
        span.sub 2004, Shane Carruth
      li Princess Mononoke
        span.sub 1997, Hayao Miyazaki
      li La La Land
        span.sub 2016
      li The Red Turtle
        span.sub 2016
      li Saving Face
        span.sub 2004
      li Do the Right Thing
        span.sub 1989, Spike Lee
      li Tampopo
        span.sub 1985
      li.fav Chungking Express
        span.sub 1994, Wong Kar-wai
      li.good Get Out
        span.sub 2017, Jordan Peele
      li Hoop Dreams
        span.sub 1994
      li When We Were Kings
        span.sub 1996
      li Amores Perros
        span.sub 2000, Alejandro G. Iñárritu
      li City of God
        span.sub 2002
      li THX 1138
        span.sub 1971, George Lucas
      li Jackie
        span.sub 2016
      li.fav In the Mood for Love
        span.sub 2000, Wong Kar-wai
      li Lion
        span.sub 2016
      li La Haine
        span.sub 1995
      li.good 20th Century Women
        span.sub 2016, Mike Mills
      li.good Meshes of the Afternoon (short)
        span.sub 1943, Maya Deren
      li.good The Handmaiden
        span.sub 2016, Park Chan-wook
      li.good La Jetée (Short)
        span.sub 1962


  script(src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-lazyload/8.7.1/lazyload.min.js")
  script.
    new LazyLoad();
