include ./../layout
include watch_menu

link(rel='stylesheet', href='/stylesheets/watch_style.css')

block content
  h1
    i watch
    
  +menu('Index')
  br

  p.description For reference, I'll put the full list of movies here. On the other pages, I'll just add the ones I thought were worth mentioning from now on.

  br

  div.movie-list
    div.title 2020
    ol
      li 21
        span.sub 2008
      li The King's Speech
        span.sub 2010
      li Enemy
        span.sub 2013, Denis Villeneuve
      li Lost Highway
        span.sub 1997, David Lynch
      li Spiderman: Far from Home
        span.sub 2019
      li Uncut Gems
        span.sub 2019
      li Lincoln
        span.sub 2012, Steven Spielberg
      li Parasite
        span.sub 2019, Bong Joon Ho
      li Contagion
        span.sub 2011
      li Frozen II
        span.sub 2019
      li The Master
        span.sub 2012, Paul Thomas Anderson
      li The Talented Mr. Ripley
        span.sub 1999
      li Swiss Army Man
        span.sub 2015
      li The Meyerowitz Stories (New and Selected)
        span.sub 2017, Noah Baumbach
      li Joker
        span.sub 2019
      li Ford v Ferrari
        span.sub 2019
      li Lovely & Amazing
        span.sub 2001, Nicole Holofcener
      li My Life as a Zucchini
        span.sub 2017
      li Sunset Boulevard
        span.sub 1950
      li Casablanca
        span.sub 1942, Michael Curtiz
      li Cleo from 5 to 7
        span.sub 1962, Agnès Varda
      li The Chronicles of Narnia: Prince Caspian
        span.sub 2008
      li It's a Wonderful Life
        span.sub 1946, Frank Capra
      li Onward
        span.sub 2020
      li Gone with the Wind
        span.sub 1939
      li Strangers on a Train
        span.sub 1951, Alfred Hitchcock
      li Us
        span.sub 2019, Jordan Peele
      li Rope
        span.sub 1948, Alfred Hitchcock
      li Gaslight
        span.sub 1944, George Cukor
      li Singin' in the Rain
        span.sub 1952, Stanley Donnen, Gene Kelly
      li Mildred Pierce
        span.sub 1945, Michael Curtiz
      li The Third Man
        span.sub 1949, Carol Reed
      li The Big Sleep
        span.sub 1946, Howard Hawks
      li Molly's Game
        span.sub 2017, Aaron Sorkin
      li Burning
        span.sub 2018, Lee Chang-dong
      li Moneyball
        span.sub 2011
      li The Philadelphia Story
        span.sub 1940, George Cukor
      li Monty Python and the Holy Grail
        span.sub 1975
      //- li Kidding (TV Show) - se 1 & 2
      li Double Indemnity
        span.sub 1944, Billy Wilder
      li In a Lonely Place
        span.sub 1950, Nicholas Ray
      li Rebecca
        span.sub 1940, Alfred Hitchcock
      li The Maltese Falcon
        span.sub 1941, John Huston
        //- 7 june
      li Bicycle Thieves
        span.sub 1948, Vittorio De Sica
      li The 39 Steps
        span.sub 1935, Alfred Hitchcock
      li Kind Hearts and Coronets
        span.sub 1949

  div.movie-list
    div.title 2019
    ol
      li Nostalgia
        span.sub 2018
      li Forever (TV Show)
        span.sub 2018
      li A Late Quartet
        span.sub 2012
      li Spider-Man: Into the Spider-Verse
        span.sub 2018
      li Maniac (TV Mini-Series)
        span.sub 2018
      li Office Space
        span.sub 1999
      li Killing Eve (TV Show, S1)
        span.sub 2018-
      li Café Lumière
        span.sub 2003, Hsiao-Hsien Hou
      li There Will Be Blood
        span.sub 2007, Paul Thomas Anderson
      li My Week with Marilyn
        span.sub 2011
      li Wildlife
        span.sub 2018, Paul Dano
      li The Lobster
        span.sub 2015, Yorgos Lanthimos
      li The Favourite
        span.sub 2018, Yorgos Lanthimos
      li Vice
        span.sub 2018, Adam McKay
      li Mary and the Witch's Flower
        span.sub 2017
      li Shoplifters
        span.sub 2018, Kore-eda Hirokazu
      li Punch-Drunk Love
        span.sub 2002, Paul Thomas Anderson
      li (500) Days of Summer
        span.sub 2009
      li The 40-Year-Old Virgin
        span.sub 2005, Judd Apatow
      li Free Solo
        span.sub 2018
      li Ringu
        span.sub 1998
      li A Star is Born
        span.sub 2018, Bradley Cooper
      li One of Us
        span.sub 2017
      li Independence Day
        span.sub 1996
      li Lion King
        span.sub 2019
      li Please Give
        span.sub 2010, Nicole Holofcener
      li A Clockwork Orange
        span.sub 1971, Stanley Kubrick
      li The Lord of the Rings trilogy
        span.sub 2001-2003
      li American Psycho
        span.sub 2000
      li Ad Astra
        span.sub 2019
      li The Graduate
        span.sub 1967
      li Vertigo
        span.sub 1958, Alfred Hitchcock
      li Rosemary's Baby
        span.sub 1968, Roman Polanski
      li The French Connection
        span.sub 1971
      li The Butterfly Effect
        span.sub 2004
      li Close Encounters of the Third Kind
        span.sub 1977, Steven Spielberg
      li Magnolia
        span.sub 1999, Paul Thomas Anderson
      li El Camino: A Breaking Bad Movie
        span.sub 2019
      li The Sound of Music
        span. sub 1965
      li Panic Room
        span.sub 2002, David Fincher
      li Enough Said
        span.sub 2013, Nicole Holofcener
      li The Big Short
        span.sub 2015, Adam McKay
      li Six Days
        span.sub 2017
      li Seven Years in Tibet
        span.sub 1997
      li Marriage Story
        span.sub 2019, Noah Baumbach
      li Star Wars: the Rise of Skywalker
        span.sub 2019
      li Solo: A Star Wars Story
        span.sub 2018
      li Private Life
        span.sub 2018
      li About Time
        span.sub 2013
      li Other People
        span.sub 2016

  div.movie-list
    div.title 2018
    ol
      li Akira
        span.sub 1988
      li Mudbound
        span.sub 2017, Dee Rees
      li The Shining
        span.sub 1980, Stanley Kubrick
      li Atonement
        span.sub 2007
      li Summertime (La belle saison)
        span.sub 2015
      li Your Name.
        span.sub 2016
      li Hasan Minhaj: Homecoming King
        span.sub 2017
      li Pinocchio
        span.sub 1940
      li I, Tonya
        span.sub 2017
      li Blade Runner 2049
        span.sub 2017, Denis Villeneuve
      li The Shape of Water
        span.sub 2017, Guillermo del Toro
      li Dunkirk
        span.sub 2017, Christopher Nolan
      li Ikiru
        span.sub 1952
      li Thelma & Luise
        span.sub 1991, Ridley Scott
      li Changeling
        span.sub 2008
      li Nymphomanic: Vol. 1
        span.sub 2013
      li Silence
        span.sub 2016, Martin Scorsese
      li Boyhood
        span.sub 2014, Richard Linklater
      li Black Panther
        span.sub 2018
      li The Big Lebowski
        span.sub 1998
      li Days of Being Wild
        span.sub 1990, Wong Kar-wai
      li Incredibles 2
        span.sub 2018, Brad Bird
      li Taxi Driver
        span.sub 1976, Martin Scorcsese
      li Velvet Goldmine
        span.sub 1998, Todd Haynes
      li Citizen Kane
        span.sub 1941, Orson Welles
      li Dazed and Confused
        span.sub 1993, Richard Linklater
      li Being John Malkovich
        span.sub 1999, Spike Jonze / Charlie Kaufman
      li Hard Candy
        span.sub 2005
      li Persona
        span.sub 1966, Ingmar Bergman
      li The Fountain
        span.sub 2006, Darren Aronofsky
      li Out of the Blue
        span.sub 1980
      li Lovesong
        span.sub 2016
      li Synecdoche, New York
        span.sub 2008, Charlie Kaufman
      li Cube
        span.sub 1997
      li Back to the Future
        span.sub 1985
      li Crazy Rich Asians
        span.sub 2018
      li Blue Valentine
        span.sub 2010
      li Anomalisa
        span.sub 2015, Charlie Kaufman
      li Disobedience
        span.sub 2017
      li TRON
        span.sub 1982
      li Trainspotting
        span.sub 1996, Danny Boyle
      li Adaptation.
        span.sub 2002, Spike Jonze / Charlie Kaufman
      li Certain Women
        span.sub 2016
      li An Education
        span.sub 2009
      li The Firefly
        span.sub 2013
      li Tuesdays with Morrie
        span.sub 1999
      li Fantastic Mr. Fox
        span.sub 2009, Wes Anderson
      li The Hours
        span.sub 2002
      li Gaga: Five Foot Two
        span.sub 2017
      li Rushmore
        span.sub 1998, Wes Anderson
      li Edward Scissorhands
        span.sub 1990, Tim Burton
      li The Sixth Sense
        span.sub 1999, M. Night Shyamalan
      li Coherence
        span.sub 2013
      li Bohemian Rhapsody
        span.sub 2018
      li Blue Jasmine
        span.sub 2013, Woody Allen
      li Song of the Sea
        span.sub 2014
      li Eighth Grade
        span.sub 2018, Bo Burnham
  
  
  div.movie-list
    div.title 2017
    ol
      li La Jetée (Short)
        span.sub 1962
      li The Handmaiden
        span.sub 2016, Park Chan-wook
      li Meshes of the Afternoon (short)
        span.sub 1943, Maya Deren
      li 20th Century Women
        span.sub 2016, Mike Mills
      li La Haine
        span.sub 1995
      li Lion
        span.sub 2016
      li In the Mood for Love
        span.sub 2000, Wong Kar-wai
      li Jackie
        span.sub 2016
      li THX 1138
        span.sub 1971, George Lucas
      li City of God
        span.sub 2002
      li Amores Perros
        span.sub 2000, Alejandro G. Iñárritu
      li When We Were Kings
        span.sub 1996
      li Hoop Dreams
        span.sub 1994
      li Get Out
        span.sub 2017, Jordan Peele
      li Chungking Express
        span.sub 1994, Wong Kar-wai
      li Tampopo
        span.sub 1985      
      li Do the Right Thing
        span.sub 1989, Spike Lee
      li Saving Face
        span.sub 2004
      li The Red Turtle
        span.sub 2016
      li La La Land
        span.sub 2016
      li Princess Mononoke
        span.sub 1997, Hayao Miyazaki
      li Primer
        span.sub 2004, Shane Carruth
      li Upstream Color
        span.sub 2013, Shane Carruth
      li Children of Men
        span.sub 2006, Alfonso Cuarón
      li The Godfather
        span.sub 1972, Francis Ford Coppola
      li Sunshine
        span.sub 2007, Danny Boyle
      li Blade Runner
        span.sub 1982, Ridley Scott
      li Mr. Nobody
        span.sub 2009
      li Atlantis: The Lost Empire
        span.sub 2001
      li Batman Begins
        span.sub 2005, Christopher Nolan
      li Nightcrawler
        span.sub 2014
      li The Dark Knight
        span.sub 2008, Christopher Nolan
      li Twelve Monkeys
        span.sub 1995
      li Strange Days
        span.sub 1995
      li Moon
        span.sub 2009
      li Solaris
        span.sub 1972, Andrei Tarkovsky
      li The Day the Earth Stood Still
        span.sub 1951
      li District 9
        span.sub 2009
      li Titan A.E.
        span.sub 2000
      li The Godfather: Part II
        span.sub 1974, Francis Ford Coppola
      li Goodfellas
        span.sub 1990, Martin Scorsese
      li 127 Hours
        span.sub 2010, Danny Boyle
      li Millenium Mambo
        span.sub 2001, Hsiao-Hsien Hou
      li Paprika
        span.sub 2006, Satoshi Kon
      li Happy Together
        span.sub 1997, Wong Kar-wai
      li 2046
        span.sub 2004, Wong Kar-wai
      li The Silence of the Lambs
        span.sub 1991
      li Drive
        span.sub 2011
      li Fallen Angels
        span.sub 1985, Wong Kar-wai
      li Lady Bird
        span.sub 2017, Greta Gerwig
      li The Shawshank Redemption
        span.sub 1994
      li Star Wars: Episode VIII - The Last Jedi
        span.sub 2017
      li Experimenter
        span.sub 2015
      li Call Me By Your Name
        span.sub 2017
      li Dead Poet's Society
        span.sub 1989
  
      
      

      
  script(src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-lazyload/8.7.1/lazyload.min.js")
  script.
    new LazyLoad();
