include ./../layout
include art_imgs

link(rel='stylesheet', href='/stylesheets/art_style.css')

block content
  center
    h1
      i art town

    p.section
      a(href='/art/finished') painting
    //- p.section
    //-   a(href='/art/fun') sketches & blog
    p.section
      a(href='/art/photos') photography
    //- p.section
      a(href='http://suzanneplus.tumblr.com/tagged/art') sketches & blog

    div.main-page
      img(data-src='#{staircase_art}')

    .sub for more frequent updates, sketches, progress shots, etc. see <a href='http://suzanneplus.tumblr.com/tagged/art' target='_blank'><strong>s+/#art&rarr;</strong></a>

  script(src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-lazyload/8.7.1/lazyload.min.js")
  script.
    new LazyLoad();

