include ./../layout

link(rel='stylesheet', href='/stylesheets/art_style.css')

block content
  center
    h1
      i art town
    p.section
      a(href='/art/finished') portfolio
    p.section
      a(href='/art/fun') sketches & blog
    p.section
      a(href='/art/photos') photo journal

