include ./../layout

link(rel='stylesheet', href='/stylesheets/art_style.css')

block content
  center
    h1
      i art town
    p.section
      a(href='/art/finished') finished works
    p.section
      a(href='/art/fun') sketches & fun stuff
    //- p.section
    //-   a(href='/art/four') 2018
    //- p.section
    //-   a(href='/art/three') 2017
    //- p.section
    //-   a(href='/art/two') 2016 / 2015
    //- p.section
    //-   a(href='/art/one') 2014 / 2013
