include layout

link(rel='stylesheet', href='/stylesheets/about_style.css')

block content

  img(src='/images/IMG_0103.jpg')

  div thanks for listening
  br
  a(href='mailto:sknop8@gmail.com')
    div love you and 
    div see you 
    div soon