include layout

link(rel='stylesheet', href='/stylesheets/about_style.css')

block content

  a(href='https://suzanneplus.tumblr.com/')
    img(src='/images/IMG_0103-min.jpg')

  a(href='https://tinyletter.com/suzanneknop')
    div thanks for listening
  br
  a(href='mailto:sknop8@gmail.com')
    div love you and 
    div see you 
    div soon
  
  br
  a(href='/to-the-seeker')
    div &#10047;