include layout

link(rel='stylesheet', href='/stylesheets/index_2_style.css')

block content
  center
    p
      a(href='') videos
      a(href='/write') writing 
      a(href='/art') art 
      a(href='') projects 
      a(href='/watch') movielog 
      
    p (suzanne knop, 20, human bean, artist, developer, writer, etc.)
