include layout

link(rel='stylesheet', href='/stylesheets/index_style.css')

block content
  //- (onmouseover="this.innerHTML='hello'", onmouseout="this.innerHTML='did you think'")
  //- h1.extra-bold hello
  h1.extra-bold did you think
  //- h1.extra-bold-italic it's suzanne knop
  h1.extra-bold-italic i would leave you
  //- h1.bold please take a look at my
  h1.bold that quickly
  
  br
  

  h1.bold-italic
    //- a(href='http://projects.bottleofsuze.com') technical projects
    //- a(href='http://projects.bottleofsuze.com') like a bee
    a(href='/') like a bee
      
  h1.semi-bold
    //- a(href='http://video.bottleofsuze.com') video work
    //- a(href='http://video.bottleofsuze.com') from a plastic petal
    a(href='http://youtube.com/c/SuzanneKnop') from a plastic petal
  
  h1.semi-bold-italic
    //- a(href='http://write.bottleofsuze.com') writing 
    //- a(href='http://art.bottleofsuze.com') did you really  
    a(href='/') did you really  
    
  h1.regular
    //- a(href='http://art.bottleofsuze.com') art
    //- a(href='http://watch.bottleofsuze.com') think
    a(href='/watch') think
    
  h1.regular-italic
    //- a(href='http://watch.bottleofsuze.com') movie log
    //- a(href='http://write.bottleofsuze.com') my heart
    a(href='/write') my heart
  
  h1.light
    //- a(href='http://read.bottleofsuze.com') hard enough?
    a(href='/') hard enough?
  
  //- h1.light-italic
    //- a(href='/files/Suzanne_Knop_Resume.pdf') resume

  
  
br

//- (style='white-space:pre;')
 
//- p.light.description.
//-   hello and welcome and my name is suzanne knop and i am a junior at the university of pennsylvania.
//- studying digital media design, an interdisciplinary major combining computer science, computer graphics, animation, and art.
  
br


//- p.light.description.
//-   i like making videos, watching movies, writing poetry & fiction, listening to beach house, reading magical realism, eating cheddar-jalepeno bagels with honey, learning how to live, and being outside.
  
//- p.light.description. 
//-   video, <i>cinema</i>, poem, fiction, Beach House, in a house, alone, non-fiction, magical realism, art as X, "art," with cheddar and jalepenos, bagel, honey, javascript, learning how to live, outside, being outside, an outsider, anything but, phthalo green.
//- p.light.description.
//-   i believe in the importance of vulnerability for friendship and growth, the incredible and infinite nature of love, and the essential role that art plays in human communication and connection.

//- p.light.description.
//-   vulnerability, "you will know them by their fruits," love, human communication, growth, i don't know how else i could have told you.

////////////
//- p.light.description. 
//-   a video, greets me, gracious grin, because of the poem it carries, the secret beach house, alone, non-fictional, "art," with honey and javascript. learning how to live, is a friend, traveling nearby, and being outside, not an outsider, or anything but, phthalo green.
//- 
//- 
//- p.light.description.
//-   suzanne knop, the university of pennsylvania, hello, welcome.
//- 
//- 
//- p.light.description.
//-   "you will know them by their fruits," i don't know how else i could have told you.
/////////////  
p.light.description 
  a(href='https://sknop8.github.io/morewonderful/', target='_blank') suzanne knop, 20, human bean, artist, developer, writer, etc.
//- p.light.description suzanne knop, human bean.
  
br

//- //- p.light.meaning
//- //-   | what gives
//- a(href='mailto:sknop8@gmail.com').light.email what gives you meaning?
//- 
//- br
//- //- p.light.meaning
//- //-   | who will
//- a(href='https://goo.gl/forms/iW3FkClZFz5EwsAH2', target='_blank').light.email who will bear witness?


br
br
br
br
br

a(href='/suzanne-channel').secret suzanne channel

br
br
br

//- div.secret "if there was another way to go then it would find me" - fiona apple
  
