include layout

link(rel='stylesheet', href='/stylesheets/index_3_style.css')

block content
  div.everything

    //- TODO: After populating videos and software, the order should be: videos, writing, art, software, movielog. (subject to change ofc)

    a(href='/write') writing
    br
    a(href='/art') art
    br
    a(href='/video') video work
    br
    a(href='/software') software
    br
    a(href='/watch') movie log
    br
    a(href='/readwell') book log

    br
    br
    br

    a(href='/hi')
      pre.
        ( suzanne,
              27,
        human bean,
            artist,
          developer,
                writer,
            etc. )
