include layout

link(rel='stylesheet', href='/stylesheets/index_style.css')

block content
  //- (onmouseover="this.innerHTML='hello'", onmouseout="this.innerHTML='did you think'")
  //- h1.extra-bold hello
  h1.extra-bold did you think
  //- h1.extra-bold-italic it's suzanne knop
  h1.extra-bold-italic i would leave you
  //- h1.bold please take a look at my
  h1.bold that quickly
  
  br
  

  h1.bold-italic
    //- a(href='http://projects.bottleofsuze.com') technical projects
    a(href='http://projects.bottleofsuze.com') like a bee
      
  h1.semi-bold
    //- a(href='http://video.bottleofsuze.com') video work
    a(href='http://video.bottleofsuze.com') from a plastic petal
  
  h1.semi-bold-italic
    //- a(href='http://write.bottleofsuze.com') writing 
    a(href='http://art.bottleofsuze.com') did you really  
    
  h1.regular
    //- a(href='http://art.bottleofsuze.com') art
    a(href='http://watch.bottleofsuze.com') think
    
  h1.regular-italic
    //- a(href='http://watch.bottleofsuze.com') movie log
    a(href='http://write.bottleofsuze.com') my heart
  
  h1.light
    a(href='http://read.bottleofsuze.com') hard enough?
  
  //- h1.light-italic
    //- a(href='/files/Suzanne_Knop_Resume.pdf') resume

  
  
br
br

//- (style='white-space:pre;')
 
p.light.description.
  hello and welcome! my name is suzanne knop and i am a junior at the university of pennsylvania studying digital media design, an interdisciplinary major combining computer science, computer graphics, animation, and art.
  
br


p.light.description.
  i like making videos, watching movies, writing poetry & fiction, listening to beach house, reading magical realism, eating cheddar jalepeno bagels with honey, learning how to live, and being outside.
  
br

p.light.description.
  i believe in the importance of vulnerability for friendship and growth, the mystical and infinite nature of love, and the essential role that art plays in human communication and connection.
  
br

p.light.meaning
  | what gives you meaning?
a(href='mailto:sknop8@gmail.com').light.email i would love to know!


p.light.meaning
  | oh and also, optionally,
a(href='https://goo.gl/forms/iW3FkClZFz5EwsAH2', target='_blank').light.email fill this out!
  
