include layout

link(rel='stylesheet', href='/stylesheets/phthalo_style.css')

block content
    center
    h2 SUZANNE KNOP

    p.gray This is a website for me to remember things, but I welcome internet stragglers.

    br


    a(href='/art')
        span.dir /art
        span  My first love was art
    p

    a(href='/write')
        span.dir /write
        span  Sometimes I write

    p

    a(href='/watch')
        span.dir /watch
        span  I looove movies
    p

    a(href='/software')
        span.dir /software
        span  I used to be a software engineer
    p

    a(href='/readwell')
        span.dir /readwell
        span  books
    p

    a(href='/landing')
        span.dir /landing
        span  Somehow now I am doing philosophy

    br
    br


    center

    p.gray  In the works: a dedicated philosophy page, many re-organization dreams, and more of my other creative projects (block printing, woodworking, more writing, etc).






    //- center
    //-     h3
    //-         i BOTTLE * of * SUZE

    //-     p is suzanne knop & friends (soon).
    //-   div.everything

    //- p blah blah

    //- a(href='/write') writing
    //- br
    //- a(href='/art') art
    //- br
    //- a(href='/video') video work
    //- br
    //- a(href='/software') software
    //- br
    //- a(href='/watch') movie log
    //- br
    //- a(href='/readwell') book log

    //- br
    //- br
    //- br

    //- a(href='/hi')
    //-   pre.
    //-     ( suzanne,
    //-           27,
    //-     human bean,
    //-         artist,
    //-       developer,
    //-             writer,
    //-         etc. )
