include layout

link(rel='stylesheet', href='/stylesheets/index_style.css')

block content
  //- (onmouseover="this.innerHTML='hello'", onmouseout="this.innerHTML='did you think'")
  h1.extra-bold did you think
  h1.extra-bold-italic i would leave you
  h1.bold that quickly
  
  br
  

  h1.bold-italic
    //- a(href='http://projects.bottleofsuze.com') projects
    a(href='/') like a bee
      
  h1.semi-bold
    //- a(href='http://video.bottleofsuze.com') video work
    a(href='http://youtube.com/c/SuzanneKnop', target='_blank') from a plastic petal
  
  h1.semi-bold-italic
    //- a(href='http://write.bottleofsuze.com') art 
    a(href='/') did you really  
    
  h1.regular
    //- a(href='http://art.bottleofsuze.com') movie log
    a(href='/watch') think
    
  h1.regular-italic
    //- a(href='http://watch.bottleofsuze.com') writing
    a(href='/write') my heart
  
  h1.light
    //- ?? book log ??
    a(href='/') hard enough?
  
  //- h1.light-italic
    //- a(href='/files/Suzanne_Knop_Resume.pdf') resume

br
br


//- p.light.description.
//-   i like making videos, watching movies, writing poetry & fiction, listening to beach house, reading magical realism, eating cheddar-jalepeno bagels with honey, learning how to live, and being outside.
  
//////////////////////////////////////////////////////

p.light.description 
  a(href='https://sknop8.github.io/morewonderful/', target='_blank') suzanne knop, 20, human bean, artist, developer, writer, etc.

br


//////////////////////////////////////////////////////
//- //- p.light.meaning
//- //-   | what gives
//- a(href='mailto:sknop8@gmail.com').light.email what gives you meaning?
//- 
//- br
//- //- p.light.meaning
//- //-   | who will
//- a(href='https://goo.gl/forms/iW3FkClZFz5EwsAH2', target='_blank').light.email who will bear witness?


br
br
br
br
br

a(href='/suzanne-channel').secret suzanne channel

br
br
br

//- div.secret "if there was another way to go then it would find me" - fiona apple
  
