include layout

link(href='/stylesheets/landing_style.css', rel='stylesheet')

block content
  div.everything

    h1 suzanne knop


    //- br

    //- div welcome people

    div I'm a philosophy grad student, software engineer, artist, and filmmaker from Poughkeepsie, NY, based in Waltham, MA.

    //- br

    //- div I am an <a href='/art'>artist</a>, <a href='video'>filmmaker</a>, and <a href='/software'>software engineer</a>. Sometimes I <a href='/write'>write</a>! I also like to <a href='/watch'>watch movies</a> and <a href='readwell'>read</a>.

    h2 1

    div I'm currently a philosophy master's student at <a href='https://www.brandeis.edu/philosophy/index.html'>Brandeis</a>. I'm interested in metaphysics, 19th and 20th century European philosophy, and the philosophy of science.

    br

    div Previously, I worked as a software engineer on data visualization and graphics infrastructure at <a href='https://www.bloomberg.com/company/'>Bloomberg</a>, Lightroom Web at Adobe, and VR research at the University of Pennsylvania. I graduated from the <a href='https://catalog.upenn.edu/undergraduate/programs/digital-media-design-bse/'>DMD program</a> at Penn.

    //- software projects?


    h2 2

    div My creative background and primary practice is in <a href='/art/finished'>painting</a>. I also do <a href='/video#video'>video art</a>, <a href='/write'>writing</a>, <a href='/art/photos'>photography</a>, zine/bookmaking, block printing, and woodworking. I'm drawn to cross-disciplinary and multi-media projects.

    br

    div My first short film, <a href='/video#short'><i>CLOUDCOUNTING</i></a>,  was a finalist for 'Best Experimental Short' at <a href='https://calfilmfestival.com/2024/02/20/cloudcounting/'>Cal Film Festival</a>, and was selected for the San Diego Independent Filmmakers Festival and Brooklyn International Short Festival in 2024. As a filmmaker, I'm interested in making experimental narrative films about metaphysical, psychological, and interpersonal themes.



    //- h4 film festival
    //- br

    h2 3

    div I program films and curate panels for the <a href='https://www.aaiff.org/'>Asian-American International Film Festival</a>. I've moderated Q&As for film screenings such as <a href='https://www.aaiff.org/aaiff46/qa-autobiography'><i>Autobiography</i></a>, and introduced a screening of <a href='https://filmforum.org/events/event/saving-face-february-11'><i>Saving Face</i> at Film Forum</a>.

    //- h4 blog stuff
    //- br

    //- h2 3

    //- div I try to keep track of movies I've seen and enjoyed at <a href='/watch'>/watch</a> and what I've been reading at <a href='/readwell'>/readwell</a>.


    h2 4

    div You can contact me <a href='mailto:sknop8@gmail.com'>here</a>.


    br
    br
    br