
- const consider_the_lobster = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1388854217l/6751.jpg'
- const walden = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1390355850l/16894.jpg'
- const ariel = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1387710058l/979036.jpg'
- const a_little_life = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1456994166l/29408433._SY475_.jpg'
- const a_writers_diary = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1387703176l/581607.jpg'
- const understanding_power = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1386924655l/194805.jpg'
- const welcome_to_the_monkey_house = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1425876109l/504470.jpg'