

- const the_age_of_innocence = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1478489013l/1045327._SY475_.jpg'
- const old_times = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1408923171l/595590.jpg'
- const faust = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1380804112l/9323187.jpg'
- const thinking_in_pictures = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1481150870l/103408._SY475_.jpg'
- const a_beautiful_question = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1421713961l/23453106.jpg'
- const a_secular_age = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1348583153l/824412.jpg'
- const under_the_net = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1388423609l/11324.jpg'
- const bone = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1494857481l/35084223.jpg'
- const night_of_january_sixteen = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1348259158l/150736.jpg'
- const the_thirtieth_year = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1356464622l/265993.jpg'
-  const dune = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1573675767l/50019613._SX318_SY475_.jpg'
- const una_donna = 'https://www.harpoonbooks.com/assets/images/product/14043.jpg'
- const the_electricity_of_every_living_thing = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1515152504l/37831997._SY475_.jpg'
- const a_haunted_house_and_other_stories = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1427871758l/50203.jpg'
- const the_book = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1398230183l/60602.jpg'
- const her_body_and_other_parties = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1485266434l/33375622.jpg'
- const wintering = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1567887724l/45712900._SY475_.jpg'
- const bluets = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1354902976l/6798263.jpg'
- const we_need_to_talk = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1502130319l/33385019.jpg'
- const a_mathematicians_apology = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1348629338l/154060.jpg'
- const liberating_theory = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1347852633l/852464.jpg'
- const philosophical_sketches = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1269715695l/7923894.jpg'
- const if_not_winter = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1347423674l/150253.jpg'
- const the_picture_of_dorian_gray = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1314903532l/1857397.jpg'
- const malina = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1551890936l/42185902._SX318_.jpg'
- const spinoza_ethics = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1347739506l/492998.jpg'
- const dorian_gray = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1314903532l/1857397.jpg'
- const waiting_for_god = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1330970427l/13512405.jpg'
- const dont_look_now = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1525468321l/2871390._SY475_.jpg'
- const in_praise_of_shadows = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1409951563l/34473.jpg'
- const ravel_man_and_musician = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1344679157l/254436.jpg'
- const on_photography = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1185423658l/1578107.jpg'
- const for_the_time_being = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1320429934l/730217.jpg'
- const davis_collected_stories = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1316729925l/6670287.jpg'
- const consider_the_lobster = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1388854217l/6751.jpg'
- const walden = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1390355850l/16894.jpg'
- const ariel = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1387710058l/979036.jpg'
- const a_little_life = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1456994166l/29408433._SY475_.jpg'
- const a_writers_diary = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1387703176l/581607.jpg'
- const understanding_power = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1386924655l/194805.jpg'
- const welcome_to_the_monkey_house = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1425876109l/504470.jpg'
- const why_we_sleep = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1556604137l/34466963._SY475_.jpg'
- const trick_mirror = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1566578268l/52329061._SX318_SY475_.jpg'
- const sense_and_sensibility = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1168969485l/37553.jpg'
- const a_supposedly_fun_thing = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1438206388l/6748._SY475_.jpg'
- const mere_christianity = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1468102872l/11138.jpg'
- const men_explain_things_to_me = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1393447237l/18528190.jpg'
- const the_clean_house = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1354209677l/141640.jpg'
- const cant_and_wont = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1391348924l/17934642.jpg'
- const little_fires_everywhere = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1532295403l/36509779._SY475_.jpg'
- const their_eyes_were_watching_god = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1509722170l/178805._SY475_.jpg'
- const tidying_up = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1418767178l/22318578.jpg'
- const we_learn_nothing = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1361195650l/15803576.jpg'
- const the_plague = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1365659412l/563469.jpg'
- const ruhl_essays = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1393644931l/20613666.jpg'
- const wuthering_heights = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1320456846l/763402._SY475_.jpg'
- const when_breath_becomes_air = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1492677644l/25899336.jpg'
- const the_death_of_ivan_ilyich = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1407462195l/160374.jpg'
- const mrs_dalloway = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1479336522l/14942._SY475_.jpg'
- const howl = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1327870926l/6295.jpg'
- const the_living_mountain = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1585798950l/25773742._SY475_.jpg'
- const on_the_road = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1348352641l/2636730.jpg'
- const the_weight_of_glory = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1418785946l/18654696.jpg'
- const my_brilliant_friend = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1343064947l/13586707._SY475_.jpg'
- const the_brothers_karamazov = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1231276830l/1626060.jpg'
- const on_the_shortness_of_life = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1574250997l/1384442._SY475_.jpg'
- const just_mercy = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1420795201l/20342617.jpg'
- const brave_new_world = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1575509280l/5129._SY475_.jpg'
- const the_abundance = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1516017982l/37940095._SY475_.jpg'
- const alices_adventures_in_wonderland = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1435025908l/17722._SY475_.jpg'
- const the_martian_chronicles = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1357758675l/4635336.jpg'
- const a_field_guide_to_getting_lost = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1422984723l/76479.jpg'
- const emma = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1373627931l/6969.jpg'
- const the_leavers = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1489158974l/30753987._SY475_.jpg'
- const the_abolition_of_man = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1273374515l/1333943.jpg'
- const sour_heart = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1492296538l/32956008.jpg'
- const on_doing_nothing = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1515968472l/35959979._SY475_.jpg'
- const anthem = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1401162953l/806847.jpg'
- const a_tale_for_the_time_being = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1613060369l/15811545.jpg'
- const sophies_world = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1391118333l/25406.jpg'
- const a_room_of_ones_own = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1311164719l/12079138.jpg'
//- - const waiting_for_godot = ''
- const letters_to_a_young_poet = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1321994947l/46199.jpg'
- const do_not_say_we_have_nothing = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1487351605l/34068497._SY475_.jpg'
- const love_toni_morrison = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1388290332l/11326.jpg'
- const songmaster = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1312018544l/31352.jpg'
- const the_trial = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1514864154l/7653233.jpg'
- const one_hundred_years_of_solitude = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1354829590l/7597.jpg'
- const the_stranger = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1270257405l/331070.jpg'
- const the_bell_jar = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1174509297l/410276._SY475_.jpg'
- const the_waves = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1358323101l/863767.jpg'
- const tuesdays_with_morrie = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1423763749l/6900.jpg'
- const letters_to_kelly_clarkson = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1355531099l/13594577.jpg'
- const the_screwtape_letters = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1571548398l/25692144._SX318_.jpg'
- const the_woman_warrior = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1425681806l/25087950.jpg'
- const the_great_divorce = ''
- const the_sympathizer = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1423543886l/23168277.jpg'
- const sum = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1320501771l/6580453.jpg'
- const dogeaters = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1348961642l/875730.jpg'
- const dear_jenny_we_are_all_find = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1331352200l/13518965.jpg'
- const crush = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1613741198l/96259._SX318_.jpg'
- const night_sky_with_exit_wounds = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1450971013l/23841432._SX318_.jpg'
- const shortcomings = ''
- const the_vegetarian = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1478196580l/25489025.jpg'
- const the_awakening = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1422171150l/24681163.jpg'
- const hard_boiled_wonderland = 'https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1444994664l/27216148.jpg'
- const the_hundred_secret_senses = ''
- const the_hitchhikers_guide_to_the_galaxy = ''
- const pride_and_prejudice = ''
- const kafka_on_the_shore = ''
- const invisible_cities = ''
- const norwegian_wood = ''
- const the_kitchen_gods_wife = ''
- const frankenstein = ''
- const outliers = ''
- const orlando = ''
- const foundation = ''




