include layout

link(rel='stylesheet', href='/stylesheets/software_style.css')

block content
  h1
    i software
    
  br
  br
  
  div soon!! B)
  br
  div
    a(href='https://github.com/sknop8' target='_blank') here's my github in the meantime
  
  - var path = 'images/'

  script(src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-lazyload/8.7.1/lazyload.min.js")
  script.
    new LazyLoad();
