include layout

link(rel='stylesheet', href='/stylesheets/suzanne_style.css')

block content
  pre.sorry.
    sorry but i must be going
    
    (your mileage may vary)
    
    
    i'm sorry to dump this on you but 
    i oscillate between
    floor, 
    toilet,
    kitchen.
    
    
    i have feared the bad thing
    and become it
    
    
    
    
    something broken
    warrants a closer look
    
    
    empire expire
    i don't belong in a
    suitcase i wonder
    what it's like to be 
    a
    
    
    real girl 
    
    who knows 
    how to
    talk
    
    
    and doesn''t
    beg to 
    belong
    
    
    
    (i'm dearly sorry)
    
    my dear FRIEND
    
    
    
    i wish you would give me
    just
    4 minutes
     
     
     

 
    i'm broken
    & not enough
     
     
     &
      &
      
      
            &
            
            
    but
     

     
    i still love God
