include layout

link(rel='stylesheet', href='/stylesheets/take_courage_style.css')

block content
  h1
    i take courage

  .post
    .title April 30, 2019
    .verse <sup>11</sup> But Moses said to God, "Who am I that I should go to Pharoah and bring the children of Israel out of Egypt?" <sup>12</sup> He said, "But I will be with you, and this shall be the sign for you, that I have sent you: when you have brought the people out of Egypt, you shall serve God on this mountain."
    .verse.name Exodus 3:11-12
    .thoughts Oh Moses, oh God. Moses asks, "Who am I...?" because he doubts in his ability, his personality, his strength, etc. God doesn't answer with Moses's qualifications for doing this great thing for God. He answers instead with: <u>"But I will be with you."</u> Wow!!!! There is nothing more powerful than that. As we know, God used Moses in one of the most powerful ways in the Old Testament -- though Moses was doubtful, fearful, and insecure, God chose him. God was with him. Whoever God is with doesn't have to worry...and God is with us forever because of Jesus.

  .post
    .title April 28, 2019
    .verse The Lord said to Samuel, “How long will you grieve over Saul, since I have rejected him from being king over Israel? Fill your horn with oil, and go. I will send you to Jesse the Bethlehemite, for I have provided for myself a king among his sons.”
    .verse.name 1 Samuel 16:1
    .thoughts Samuel was buddies with Saul and heard from God to anoint him king, despite God later rejecting Saul. Samuel didn't do anything wrong (God TOLD him to anoint Saul -- to give the Israelites what they wanted, and someone who would deliver them from the Philistines), but now it's time to move on and God has other places and people to send him to. We will miss our next assignment if we get too wrapped up in what-I-think-is-good/what-I-think-is-not-good instead of concerning ourselves only with God/not-God! I cannot judge my life based on any moral framework of right/wrong, good/bad, even fruitful/not fruitful if it is apart from God. All those things -- the concept of right, good, and fruitful -- are <i>defined</i> by God. It's okay if good things are taken away/leave, or if what seemed good turned out to not be with God. God was with Samuel in every step of his process; Samuel didn't make a mistake.<br><br>Fill your horn with oil, and go!!

  .post
    .title April 27, 2019
    .verse <sup>3</sup> For when I kept silent, my bones wasted away<br>through my groaning all day long.<br><sup>4</sup> For day and night your hand was heavy upon me;<br>my strength was dried up as by the heat of summer.<br><sup>5</sup> I acknowledged my sin to you, and I did not covery my iniquity;<br>I said, "I will confess my transgressions to the Lord,"<br>and you forgave the iniquity of my sin.
    .verse.name Psalm 32:3-5
    .thoughts This psalm has been with me for a while. I remember it was the first psalm through which God spoke to me: I was at a retreat and I was praying for a number, and "32" came. Verses 3-4 are so viscerally what I had been feeling -- like my body was wasting away, like a heavy hand was upon me. I didn't really understand the connection to verse 5 at the time, I was too struck by the imagery of 3-4, and I felt like a victim. The psalm has come up since then, usually in messages about why we should confess our sins and not stay silent. But today I have been feeling verses 3-4 again, and I was called back to this psalm. It is difficult to live in a fallen world. It hurts to sin and stay silent, but it also hurts to live in a world of sin. Pain will always be a part of this world until Jesus comes back, and I think David deeply understood suffering -- especially at the hands of others. When I feel like there is a heavy hand upon me, when I am weak, when I am wasting away...God understands, and is heartbroken by the state of this world. Pray for the forgiveness of us as humans. Pray that we aren't knocked down by our sin and the sins of others, as if Jesus has not risen. The world's brokenness will torment us if we don't invite Jesus in. Bring it all to the Lord, for his love is forgiveness, his love is healing.

  .post
    .title April 26, 2019
    .verse "Have I not commanded you? Be strong and courageous. Do not be frightened, and do not be dismayed, for the Lord your God is with you wherever you go."
    .verse.name Joshua 1:9
    .thoughts Courage has been coming up a lot lately. I have felt like courage is tough, and is scary, and does not feel good. But today I think Jesus showed me that I don't have to be courageous by my own strength (which fails), but I can be brave by His strength (which endures and never fails). It is scary to be vulnerable; it can take courage to let ourselves feel joy sometimes. But not by our strength, but by the Lord's, we can live couragously! 

  .post
    .title April 25, 2019
    .verse <sup>23</sup> During those many days the king of Egypt died, and the people of Israel groaned because of their slavery and cried out for help. Their cry for rescue from slavery came up to God. <sup>24</sup> And God heard their groaning, and God remembered his covenant with Abraham, with Isaac, and with Jacob. <sup>25</sup>God saw the people of Israel--and God knew.
    .verse.name Exodus 2:23-25
    .thoughts God heard, God remembered, God saw, and God knew. Hallelujah.

  .post
    .title April 24, 2019
    .verse Thus the Lord used to speak to Moses face to face, as a man speaks to his friend. When Moses turned again into the camp, his assistant Joshua the son of Nun, a young man, would not depart from the tent.
    .verse.name Exodus 33:11
    .thoughts This is talking about Moses's "tent of meeting" (Exodus 33:7), and how God would personally meet Moses face to face! Wow, how wondrous that would be. Listening to TMP sermons these past weeks have also drawn me to pay attention to Joshua, who God was preparing during this time. Joshua was a faithful assistant to Moses, drawing near to God's presence, never departing from the tent!! I pray to be this hungry for God's intimate presence, and this faithful and humble an assistant.

  .post 
    .title April 23, 2019
    .verse And going a little farther he fell on his face and prayed, saying, "My Father, if it be possible, let this cup pass from me; nevertheless, not as I will, but as you will."
    .verse.name Matthew 26:39
    .thoughts Jesus asking God to "let this cup pass" has been really with me today. I am comforted that Jesus, who is perfect, still suffered and did not want to suffer, but also submitted to God because he knew of the amazing, amazing glory to come. I feel I am struggling today, and God, <i>if it be possible, let this cup pass from me</i>. NEVERTHELESS, not as  I will but as you will, God. Thank you Jesus for being the absolute role model of how to pray. I feel lately as if I am coming to know a small corner of how you felt when you felt rejected by humans for the sake of bringing glory to the Father. It hurts so much and I can't imagine what you endured. Your prayer of petition and submission rings through my heart.

  .post 
    .title Hello
    .verse For with you is the fountain of life;<br>in your light do we see light.
    .verse.name Psalm 36:9
    .thoughts I am starting this page to encourage myself, but I want to make it public so that I am also held accountable. I'm hungry for the word of God but I am also weak, forgetful, lazy, and easily confused. I yearn to drink from the fountain of life. I want to set my eyes still on Him all the days I am here on earth, and all the days forevermore, and I no longer want to romanticize or bask in darkness! I pray that I can post daily on this page about my convictions while reading the Word, and that having this quick, accessible place to store up these convictions will encourage my heart in God when I feel low or dry, and also nudge me to <strong>take courage</strong> and <strong>stay steadfast</strong>. My joy is deeply tied to knowing truth!
