include layout

link(rel='stylesheet', href='/stylesheets/take_courage_style.css')

block content
  h1
    i take courage

  .post
    .title May 10, 2019
    .verse <sup>5</sup> Commit your way to the <span>Lord</span>;<br>trust in him, and he will act.<br><sup>6</sup> He will bring forth your righteousness as the light,<br>and your justice as the noonday.
    .verse.name Psalm 37:5-6
    .thoughts I used to be confused at the dissonance between what Christians would preach about love, peace, joy and grace, versus what was actually in the Bible: a heavy focus on righteousness, suffering, justice, waiting and redemption. What we preach vs. what is in the Bible is a whole other topic... but I've been finding the gap between those two parts of myself -- the part that wants grace and the part that wants righteousness -- to be closing while reading recently from Exodus and Psalms. God is One -- all those things I mentioned above are in Him all at once! And to feel my heart moving toward a deeper understanding of that unity is wonderful. I am learning that God <i>delights</i> in righteousness: He is not just a bregrudging and all-powerful Judge -- for justice and righteousness are included in "goodness" since they are of God, and so God not only enacts them, he finds <i>joy</i> in them -- that's amazing to me! Worldly notions of righteousness and justice seem to come attached with feelings of anger at <i>in</i>justice, or fear/(self-)loathing at <i>un</i>righteousness. But these concepts are not just means for God to punish us for being apart from Him, they are also part of His gift to us, and part of the amazing glory that is the <span>Lord</span>! I've never thought of righteousness as magnificent or beautiful in the way the vastness of the sky is, or the divine intricacy of nature. Now when I read psalms and I see the word "righteousness," or verses about justice -- it brings forth joy and peace to mind as well. God, I pray that you continue to draw my heart nearer to you, so that I may share increasingly in your delight in all things created by you!!

  .post
    .title May 9, 2019
    .verse <sup>1</sup> The <span>Lord</span> said to Moses and Aaron in the land of Egypt, <sup>2</sup> "This month shall be for you the beginning of months. It shall be the first month of the year for you."
    .verse.name Exodus 12:1-2
    .thoughts Today I read the final plague, and about the Passover lamb. Jesus is foreshadowed! If we think of the Israelites' deliverance out of Egypt as parallel to Christ delivering us from sin/death, then when God says, "This month shall be for you the beginning of months," it is like the new life we have Jesus. Our whole life <u>begins</u> at Jesus. In Him it is like we literally start over -- new calender, new home, new direction, new life. When the Israelites are delivered, though Pharoah still tries to kill them, he no longer has any claim to them. Likewise, once we have been saved by Jesus, sin has no more legitimate power over us -- though the evil one may try to kill us/keep us from our God! We have authority and reason to say to sin: you have no power over me!! Get away!! We are under a new kingdom now, with a new king. Thank you Jesus for being my new beginning, the start of the rest of my life, everything good.

  .post 
    .title May 8, 2019
    .verse I say to the <span>Lord</span>, "You are my Lord;<br>I have no good apart from you."
    .verse.name Psalm 16:2
    .thoughts Oh God, the best blessing is the honor to bless others in a way that points to you. I have no good apart from you, for you are the definition of good, of light, of fullness, of joy. How wonderful you are! It is my joy to be a vessel for your light to shine through! I never want to conceal you as the source of anything good I do, or get in the way of your glorious light. How humbling and beautiful and exciting a truth.

  .post
    .title May 7, 2019
    .verse Then Pharoah's servants said to him, "How long shall this man be a snare to us? Let the men go, that they may serve the <span>Lord</span> their God. Do you not yet understand that Egypt is ruined?"
    .verse.name Exodus 10:7
    .thoughts Wow, today I read through the first through ninth plagues, and it's pretty intense. This verse stood out to me -- it's said after the eighth plague (locusts) happens. It is very clear to the Egyptians that they have been beat/destroyed. Yet Pharoah's heart is still hardened by God. Perhaps this is a reminder that opposing God only leads to literal destruction, yet God still allows opposition to exist for His ultimate glory -- which in this case is the deliverance of the Israelites from slavery into the promised land. God may harden peoples' hearts against us and allow suffering not because He is weak, but because a greater glory is coming from this situation!

  .post
    .title May 6, 2019
    .verse Afterward Moses and Aaron went and said to Pharoah, "Thus says the <span>Lord</span>, the God of Israel, 'Let my people go, that they may hold a feast to me in the wilderness.'"
    .verse.name Exodus 5:1
    .thoughts Emphasis on <i>that they may hold a feast to me in the wilderness</i>. God makes it clear that He doesn't just want to deliver the Israelites for the sake of ending their suffering; He wants to free them so that they can come sacrifice and worship Him!! This was a good reminder that God doesn't want to just remove certain things from our life, he wants to <i>replace</i> them. The real deliverance of the Israelites was not freedom from slavery, but rather freedom to worship their God. It was the ADDING of God that freed them, not the subtracting of the Egyptians!! And so I pray not that my suffering be removed, but simply for more of God and the opportunity to praise Him.

  .post
    .title May 5, 2019
    .verse <sup>22</sup> Then Moses turned to the <span>Lord</span> and said, "O Lord, why have you done evil to this people? Why did you ever send me? <sup>23</sup> For since I came to Pharaoh to speak in your name, he has done evil to this people, and you have not delivered your people at all."
    .verse.name Exodus 5:22-23
    .thoughts Ah, I have been disturbed today with the fear that maybe I am a Saul to other people -- that God has rejected and abandoned me, and will replace me with a David. But even Moses cried out to the Lord asking why he is there if it only seems like evil is being done to the Israelites, the people he was supposedly sent to help. When Moses and Aaron went to Pharaoh with what the Lord said, Pharoah just responded by imposing harsher cruelty upon the Israelites, and then the Israelites blamed Moses for their increased suffering. Moses must have felt so awful and so low for causing the Israelites more pain. Both Saul and Moses, in a way, brought suffering to other people -- but the difference between the two is that Moses was with God and Saul was not. I pray that as long as I stay near to God, obey Him and delight in Him, take refuge in Him and count Him as my confidence even when I am weak and feel worthless -- that I will be like Moses and not like Saul. If you are with God yet you feel like you are doing more harm than good, don't worry: God might just be about to use you for a great deliverance, not replace or abandon you! (Also because we have Jesus, God will never <i>ever</i> abandon you [Hebrews 13:5] hallelujah!)


  .post
    .title May 4, 2019
    .verse Because your love is better than life,<br>my lips will glorify you.
    .verse.name Psalm 63:3
    .thoughts Your love is better than life!!!!! I'd rather have your love and die than live without you. When I understand your love, the only thing I want to do is worship.

  .post
    .title May 3, 2019
    .verse And the <span>Lord</span> said to Moses in Midian, "Go back to Egypt, for all the men who were seeking your life are dead."
    .verse.name Exodus 4:19
    .thoughts I think in my heart when I burn bridges or flee, it's forever. But the Lord here is telling Moses to return to Egypt -- the place from which he had to flee for his life because he acted on the injustice he saw -- because his reasons for leaving are no more. Now, those men who sought to kill Moses are dead, and God wants to use Moses to deliver the Israelites from their slavery (Moses's original reason for lashing out and killing that Egyptian). I think I should open my heart to being brought back to places and people that I once fled from, that once hurt me -- for God may have removed the threat, or may be calling me back for a certain purpose of His. Don't let deep wounds be forever wounded, and don't let burnt bridges be forever burnt.

  .post
    .title May 2, 2019
    .verse Therefore let those who suffer according to God's will entrust their souls to a faithful Creator while doing good.
    .verse.name 1 Peter 4:19
    .thoughts Take heart that though you suffer, you are near to God and He has a purpose for your pain (even if it is unjust, it will bring glory to Him), for He is doing a good work in you. Continue to do good and draw near to Him! It is well with your soul. Give yourself over completely to your wonderful Father!
     
  .post
    .title May 1, 2019
    .verse <sup>13</sup> But I am like a deaf man; I do not hear,<br>like a mute man who does not open his mouth.<br><sup>14</sup> I have become like a man who does not hear,<br>and in whose mouth are no rebukes.
    .verse.name Psalm 38:13-4
    .thoughts Ahhhh Psalms 37 and 38 are so good. I've been feeding on them like food these past few days. I love these verses because despite it being so hard and painful for David, he is also being humbled and right before God by not taking justice into his own hands (closed mouth), and not taking the insults of evildoers to heart (closed ears). I pray in these painful times to become like a person who does not hear, and in whose mouth are no rebukes. I will be still before you my God, and I know you will make everything right!



  .post
    .title April 30, 2019
    .verse <sup>11</sup> But Moses said to God, "Who am I that I should go to Pharoah and bring the children of Israel out of Egypt?" <sup>12</sup> He said, "But I will be with you, and this shall be the sign for you, that I have sent you: when you have brought the people out of Egypt, you shall serve God on this mountain."
    .verse.name Exodus 3:11-12
    .thoughts Oh Moses, oh God. Moses asks, "Who am I...?" because he doubts in his ability, his personality, his strength, etc. God doesn't answer with Moses's qualifications for doing this great thing for God. He answers instead with: <u>"But I will be with you."</u> Wow!!!! There is nothing more powerful than that. As we know, God used Moses in one of the most powerful ways in the Old Testament -- though Moses was doubtful, fearful, and insecure, God chose him. God was with him. Whoever God is with doesn't have to worry...and God is with us forever because of Jesus.

  .post
    .title April 28, 2019
    .verse The <span>Lord</span> said to Samuel, “How long will you grieve over Saul, since I have rejected him from being king over Israel? Fill your horn with oil, and go. I will send you to Jesse the Bethlehemite, for I have provided for myself a king among his sons.”
    .verse.name 1 Samuel 16:1
    .thoughts Samuel was buddies with Saul and heard from God to anoint him king, despite God later rejecting Saul. Samuel didn't do anything wrong (God TOLD him to anoint Saul -- to give the Israelites what they wanted, and someone who would deliver them from the Philistines), but now it's time to move on and God has other places and people to send him to. We will miss our next assignment if we get too wrapped up in what-I-think-is-good/what-I-think-is-not-good instead of concerning ourselves only with God/not-God! I cannot judge my life based on any moral framework of right/wrong, good/bad, even fruitful/not fruitful if it is apart from God. All those things -- the concept of right, good, and fruitful -- are <i>defined</i> by God. It's okay if good things are taken away/leave, or if what seemed good turned out to not be with God. God was with Samuel in every step of his process; Samuel didn't make a mistake.<br><br>Fill your horn with oil, and go!!

  .post
    .title April 27, 2019
    .verse <sup>3</sup> For when I kept silent, my bones wasted away<br>through my groaning all day long.<br><sup>4</sup> For day and night your hand was heavy upon me;<br>my strength was dried up as by the heat of summer.<br><sup>5</sup> I acknowledged my sin to you, and I did not covery my iniquity;<br>I said, "I will confess my transgressions to the <span>Lord</span>,"<br>and you forgave the iniquity of my sin.
    .verse.name Psalm 32:3-5
    .thoughts This psalm has been with me for a while. I remember it was the first psalm through which God spoke to me: I was at a retreat and I was praying for a number, and "32" came. Verses 3-4 are so viscerally what I had been feeling -- like my body was wasting away, like a heavy hand was upon me. I didn't really understand the connection to verse 5 at the time, I was too struck by the imagery of 3-4, and I felt like a victim. The psalm has come up since then, usually in messages about why we should confess our sins and not stay silent. But today I have been feeling verses 3-4 again, and I was called back to this psalm. It is difficult to live in a fallen world. It hurts to sin and stay silent, but it also hurts to live in a world of sin. Pain will always be a part of this world until Jesus comes back, and I think David deeply understood suffering -- especially at the hands of others. When I feel like there is a heavy hand upon me, when I am weak, when I am wasting away...God understands, and is heartbroken by the state of this world. Pray for the forgiveness of us as humans. Pray that we aren't knocked down by our sin and the sins of others, as if Jesus has not risen. The world's brokenness will torment us if we don't invite Jesus in. Bring it all to the Lord, for his love is forgiveness, his love is healing.

  .post
    .title April 26, 2019
    .verse "Have I not commanded you? Be strong and courageous. Do not be frightened, and do not be dismayed, for the <span>Lord</span> your God is with you wherever you go."
    .verse.name Joshua 1:9
    .thoughts Courage has been coming up a lot lately. I have felt like courage is tough, and is scary, and does not feel good. But today I think Jesus showed me that I don't have to be courageous by my own strength (which fails), but I can be brave by His strength (which endures and never fails). It is scary to be vulnerable; it can take courage to let ourselves feel joy sometimes. But not by our strength, but by the Lord's, we can live couragously! 

  .post
    .title April 25, 2019
    .verse <sup>23</sup> During those many days the king of Egypt died, and the people of Israel groaned because of their slavery and cried out for help. Their cry for rescue from slavery came up to God. <sup>24</sup> And God heard their groaning, and God remembered his covenant with Abraham, with Isaac, and with Jacob. <sup>25</sup>God saw the people of Israel--and God knew.
    .verse.name Exodus 2:23-25
    .thoughts God heard, God remembered, God saw, and God knew. Hallelujah.

  .post
    .title April 24, 2019
    .verse Thus the <span>Lord</span> used to speak to Moses face to face, as a man speaks to his friend. When Moses turned again into the camp, his assistant Joshua the son of Nun, a young man, would not depart from the tent.
    .verse.name Exodus 33:11
    .thoughts This is talking about Moses's "tent of meeting" (Exodus 33:7), and how God would personally meet Moses face to face! Wow, how wondrous that would be. Listening to TMP sermons these past weeks have also drawn me to pay attention to Joshua, who God was preparing during this time. Joshua was a faithful assistant to Moses, drawing near to God's presence, never departing from the tent!! I pray to be this hungry for God's intimate presence, and this faithful and humble an assistant.

  .post 
    .title April 23, 2019
    .verse And going a little farther he fell on his face and prayed, saying, "My Father, if it be possible, let this cup pass from me; nevertheless, not as I will, but as you will."
    .verse.name Matthew 26:39
    .thoughts Jesus asking God to "let this cup pass" has been really with me today. I am comforted that Jesus, who is perfect, still suffered and did not want to suffer, but also submitted to God because he knew of the amazing, amazing glory to come. I feel I am struggling today, and God, <i>if it be possible, let this cup pass from me</i>. NEVERTHELESS, not as  I will but as you will, God. Thank you Jesus for being the absolute role model of how to pray. I feel lately as if I am coming to know a small corner of how you felt when you felt rejected by humans for the sake of bringing glory to the Father. It hurts so much and I can't imagine what you endured. Your prayer of petition and submission rings through my heart.

  .post 
    .title Hello
    .verse For with you is the fountain of life;<br>in your light do we see light.
    .verse.name Psalm 36:9
    .thoughts I am starting this page to encourage myself, but I want to make it public so that I am also held accountable. I'm hungry for the word of God but I am also weak, forgetful, lazy, and easily confused. I yearn to drink from the fountain of life. I want to set my eyes still on Him all the days I am here on earth, and all the days forevermore, and I no longer want to romanticize or bask in darkness! I pray that I can post daily on this page about my convictions while reading the Word, and that having this quick, accessible place to store up these convictions will encourage my heart in God when I feel low or dry, and also nudge me to <a target='_blank' href='https://www.youtube.com/watch?v=LJoABwNMzvM'><strong>take courage and stay steadfast</strong></a>. Let my joy be deeply tied to knowing the truth of the Word!