include layout

link(rel='stylesheet', href='/stylesheets/take_courage_style.css')

block content
  //- h1
  //-   i to the seeker

  .post
  .thoughts To the seeker:
  br
  .thoughts I know this seems ridiculous, and I know you might be in tremendous pain right now. I would never force something down your throat and call it “truth.” I love you and I want you to find joy, and be well, and I want you to know that I love you and that I want to see you and talk to you — I want to sit in a room with you alone, for however long it takes, and just listen, and wait. I want to be your friend — I can sleep, eat, and rest nearby if it’s what you need. I know you didn’t choose to be born, neither did I — and it tormented me for a long time. I know you didn’t choose to be here, but I want you to know that there’s more to life than endless, hopeless strivings for nothings. I wouldn’t be alive if I thought otherwise. I have felt like Sisyphus before, for a long time, but life is not just that. I am begging you to wait with me, to stay alive for me. I promise it will be worth it. I am begging you to make it through the night, to not hate yourself for trying to stay afloat. You are in a very special place right now. Your world is crumbling before you and your insides are hollowing out. Everything is devoid of meaning. This doesn’t have to be the end of the story — you are dumping out the dirty water (or it is cracking your jar and spilling out anyway) but that leaves you in this special place: an empty jar. Since you were born you’ve been poured into without your consent. But now, you no longer need to be phased or deceived by the world, by the meaningless pursuits of the people around you. The stupid things that institutions with power make you think are important. You can start from the beginning. Find what brings you joy. Make a choice for the first time in your life. You have new eyes now. Let yourself be amazed. Go to a place far away from the city and look up at the sky. Send me a message and tell me what you see.

  br
  br
  br
  //- a(href='/takecourage')
  .thoughts
    a(href='/takecourage', style='font-style: normal') &#10013;

