include layout

link(rel='stylesheet', href='/stylesheets/video_style.css')

block content
  h1
    i video work
    
  br
  br
  
  
  div.video coming soon!!
  div
    a(href='https://www.youtube.com/c/SuzanneKnop/videos' target='_blank') but for now, just go to my youtube

  
  script(src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-lazyload/8.7.1/lazyload.min.js")
  script.
    new LazyLoad();
