include layout

link(rel='stylesheet', href='/stylesheets/video_style.css')

block content
  h1
    i video work
    
  br
  br
  
  
  //- div.video coming soon!!
  //- div
  //-   a(href='https://www.youtube.com/c/SuzanneKnop/videos' target='_blank') but for now, just go to my youtube

  h2
    i short film
  br

  div.video
    p.title CLOUDCOUNTING (Coming Soon)
    p.date April 2019
    p.runtime 15 min
    //- .iframe-container
    //-   iframe(src="https://www.youtube.com/embed/HJ0bQgrxnYs?rel=0;modestbranding=1",frameborder="0", allow="encrypted-media", allowfullscreen)
    

  br
  br
  h2
    i video art

  br

  

  div.video
    p.title Lost Sheep
    p.date February 2019
    p.runtime 3 min
    .iframe-container
      iframe(src="https://www.youtube.com/embed/5MZbwSfhbqQ?rel=0;modestbranding=1", frameborder="0", allow="encrypted-media", allowfullscreen)
   

  div.video
    p.title Equinox Sway
    p.date July 2018
    p.runtime 5 min
    .iframe-container
      iframe(src="https://www.youtube.com/embed/HvPbe_CsvtE?rel=0;modestbranding=1", frameborder="0", allow="encrypted-media", allowfullscreen)
    

  div.video
    p.title Saudade
    p.date May 2018
    p.runtime 4 min
    .iframe-container
      iframe(src="https://www.youtube.com/embed/IIwTiDUFLm0?rel=0;modestbranding=1", allow="encrypted-media", frameborder="0", allowfullscreen)


  div.video
    p.title Moodtracking
    p.date August 2017
    p.runtime 5 min
    .iframe-container
      iframe(src="https://www.youtube.com/embed/qoq3HorygGs?rel=0;modestbranding=1", frameborder="0", allow="encrypted-media", allowfullscreen)
    

  div.video
    p.title Shadows Coming Back
    p.date July 2017
    p.runtime 3 min
    .iframe-container
      iframe(src="https://www.youtube.com/embed/uzkiySzRZ7w?rel=0;modestbranding=1", frameborder="0", allow="encrypted-media", allowfullscreen)
    

  div.video
    p.title Sleeping is a Form of Leaving
    p.date June 2017
    p.runtime 2 min
    .iframe-container
      iframe(src="https://www.youtube.com/embed/SIvzRxj1yTI?rel=0;modestbranding=1",frameborder="0", allow="encrypted-media", allowfullscreen)
    

  div.video
    p.title Heavy Spill
    p.date April 2017
    p.runtime 6 min
    .iframe-container
      iframe(src="https://www.youtube.com/embed/PAHS6BMWMV0?rel=0;modestbranding=1",frameborder="0", allow="encrypted-media", allowfullscreen)
    

  div.video
    p.title No Room for Doubt
    p.date March 2017
    p.runtime 2 min
    .iframe-container
      iframe(src="https://www.youtube.com/embed/xI-4y_K4Rk8?rel=0;modestbranding=1",frameborder="0", allow="encrypted-media", allowfullscreen)


  br
  br
  br
  div
    a(href='https://www.youtube.com/c/SuzanneKnop/videos' target='_blank') yt &rarr;
    


  
  script(src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-lazyload/8.7.1/lazyload.min.js")
  script.
    new LazyLoad();
