include layout

link(rel='stylesheet', href='/stylesheets/watch_style.css')

block content
  h1
    i watch
  //- h5 what i've been up to
  br
  br

  div.movie
    p.title: i 
      | Pinocchio
    p.sub 
      | 1940, Walt Disney 
    img(src='images/pinocchio.png')
    p.description
      | <i>"Little puppet made of pine, wake, the gift of life is thine"</i> - The Blue Fairy
      <br><br>
      | I rewatched this recently because I was reading Jonah and was reminded of the whale scene in <i>Pinocchio</i>, and wow it is such a good moral tale!! I have so many thoughts.
      <br><br>
      | <strong>Lessons from Pinocchio</strong> <br>
      | The first thing I noticed is that our conscience is represented by a literal tiny, unreliable, selfish / egoistic CRICKET who is easily fooled and tempted itself (Jiminy Cricket). Even worse is that in the crucial moment when Jiminy Cricket is giving sound advice to Pinocchio, Pinocchio doesn't even listen. (In the crucial moment, we don't even listen to our conscience.)<br><br>
      | Pinocchio starts off as extremely naive and ungrounded, much like us when we are first born. He is freed from the imprisonment of being a puppet because of the love of his creator (Geppetto), yet the irony of the plot is that because of temptation, Pinocchio ends up exactly in the condition he was freed from (in a puppet show, controlled and imprisoned by a greedy puppet master), maybe even much worse. He doesn't understand his freedom, which is heartbreaking yet rings so true for our life, and it's why I chose the still from the movie above. <br><br>
      | As the plot progresses, Pinocchio's mistakes become less and less innocent, and the bad people he encounters become more and more evil. What I got from that is that the deeper and more prolonged we give into temptation, the stronger and more malevolent it gets, and the more it controls us / the less free will we actually have. When Pinocchio gets physically imprisoned (put into a bird cage) by the puppet master, Jiminy Cricket nearly abandons him, discouraged and unlistened to. Even our conscience fails us and leaves us alone if we go deep enough into the darkness. <br><br>
      | Every time Pinocchio finds himself in a sticky situation, divine intervention is needed to save him (The Blue Fairy). The Lock is too strong for us to break out of it alone - it feels hopeless - and it encourages self-condemnation because of the failure of both the conscience (Jiminy) and the self (Pino), who fell into temptation. But eventually the Blue Fairy comes and breaks the Lock!!! (but not without lessons and consequences!) <br><br>
      | I've read takes on this story that relate it to the immorality of the working class in an increasingly industrial, capitalist society. Some of the moral imperatives of the story are to work, "be good," and go to school. I think this story is also about temptation and the failure of human morality. Humans do not seem to have an intrinsic or reliable moral compass, and we may sometimes do good but it's only after doing a lot of bad. The story is sympathetic to this human condition though, because Pinocchio is literally just a boy puppet, who doesn't know anything, just like we sometimes feel so lost and unsure how to do good, yet want to do and be good. The generosity of the Blue Fairy and her reward for love, selflessness, and sacrifice (of both Geppetto and Pinocchio) ultimately make this a hopeful tale of redemption and forgiveness from a higher power.  :) 

  div.movie
    p.title: i 
      | Your Name
    p.sub 
      | Makoto Shinkai, 2016
    img(src='images/your_name.png')
    p.description
      | Really beautiful realist animation and interesting story concept. I especially loved the way natural and artificial light was rendered ! The skies were all really beautiful, and even light from phones and technology was given a lot of attention, which made it feel very contemporary and real.
      
  div.movie
    p.title: i 
      | La belle saison
    p.sub 
      | Catherine Corsini, 2015
    img(src='images/la_belle_saison.png')
    p.description
      | I could relate sometimes too much to this movie. I was really excited but as the plot progressed i just started to feel shameful (of myself) and anxious for the characters. It was fun to see paris during second (?) wave feminism though! 

  div.movie
    p.title: i 
      | Atonement
    p.sub
      | 2007
    img(src='images/atonement.png')
    p.description
      | really loved this still of the movie. I have a crush on keira and saoirse is so talented. some type of camera or filter was used so that everything white seemed to be glowing, and everything was dreamy. I really loved this movie visually

  div.movie
    p.title: i 
      | The Shining
    p.sub 
      | Stanley Kubrick, 1980
    //- img(src='images/mudbound.png')
    p.description
      | Wow this lived up to my expectations. Stanley Kubrick is amazing. Afterwards, I went into a wikipedia dive and read about a lot of Stephen King's stories. Apparently, the idea for <i>The Shining</i> came from King's fear of hurting his family, and the eeriness of a huge, empty hotel he once stayed in much like the one in the movie. Really great and creepy movie
    
  div.movie
    p.title: i 
      | Mudbound
    p.sub 
      | Dee Rees, 2017
    img(src='images/mudbound.png')
    p.description
      | watched this on oscars night. love dee rees
    

  div.movie
    p.title: i 
      | Akira
    p.sub 
      | Katsuhiro Otomo, 1988
    img(src='images/akira.png')
    p.description
      | really amazing!!! recommend 

  div.movie    
    p.title: i 
      | Call Me By Your Name
    p.sub 
      | 2017
    img(src='images/call_me_by_your_name.png')
    p.description
      | good for your eyes and ears ! first love ! 
      
  div.movie    
    p.title: i 
      | Dead Poet's Society
    p.sub 
      | 1989
    img(src='images/dead_poets_society.png')
    p.description
      | made me sad about robin williams and kind of anxious about needing to contribute my 'verse' to the 'great play'
      
  div.movie    
    p.title: i 
      | Fallen Angels
    p.sub 
      | Wong Kar-wai, 1985
    img(src='images/fallen_angels.png')
    p.description
      | longing, longing, longing for love. loved this movie emotionally, visually, everything
