include layout

link(rel='stylesheet', href='/stylesheets/watchstyle.css')

block content
  h1
    i #{title}
  p this is what i've been up to
  br
  br

  //- img(src='images/'+image)
  //- hr
  
  div.movie
    p.title: i 
      | La belle saison
    p.sub 
      | Catherine Corsini, 2015
    img(src='images/la_belle_saison.png')
    p.description
      | i could relate sometimes too much to this movie. i was really excited but as the plot progressed i just started to feel shameful (of myself) and anxious for the characters. it was fun to see paris during second (?) wave feminism though! 

  br
  br

  div.movie
    p.title: i 
      | Atonement
    p.sub
      | 2007
    img(src='images/atonement.png')
    p.description
      | really loved this still of the movie. i have a crush on keira and saoirse is so talented. some type of camera or filter was used so that everything white seemed to be glowing, and everything was dreamy. i really loved this movie visually
    
  br
  br
    
  div.movie
    p.title: i 
      | Mudbound
    p.sub 
      | Dee Rees, 2017
    img(src='images/mudbound.png')
    p.description
      | watched this on oscars night
    
  br
  br 
    
  div.movie
    p.title: i 
      | Akira
    p.sub 
      | Katsuhiro Otomo, 1988
    img(src='images/akira.png')
    p.description
      | really amazing

  div.movie    
    p.title: i 
      | Call Me By Your Name
    p.sub 
      | 2017
    img(src='images/call_me_by_your_name.png')
    p.description
      | 
      
  div.movie    
    p.title: i 
      | Dead Poet's Society
    p.sub 
      | 1989
    img(src='images/dead_poets_society.png')
    p.description
      | made me sad about robin williams and kind of anxious about needing to contribute my 'verse' to the great play
      
  div.movie    
    p.title: i 
      | Fallen Angels
    p.sub 
      | Wong Kar-wai, 1985
    img(src='images/fallen_angels.png')
    p.description
      | longing, longing, longing for love. loved this movie
