include ./../layout

link(rel='stylesheet', href='/stylesheets/write_style.css')

block content
  h2
    center I Don’t Know How Else I Could Have Told You
      
  br
 
  pre.serif.p.indent.
    To be understood   
      is to be heard  
        is to be seen   
          is to be wanted   
            is to be safe   
              is to be loved   
                is to be human.   
  br
  p.serif.
    If you would like to find me such that you may know me, then I will give you very clear directions: 
    
  p.serif.indent.
          1. The entrance is at the giving.  <br>
          2. The way forward is in darkness.  <br>
          3. The destination is the last room you choose. <br>
          4. The opening comes with n+1 patience. <br>
          5. You will feel agitated. <br>
          6. I will feel unloved. <br>
  br    
  p.serif.
    Like an anonymous asteroid I was always at the periphery, always a face seen but never known. When I discovered that existing among other people was my reality, not just some nightmare I could come home from after 5pm, I started the process of hollowing. Turning inward, I ran through Rococo meadows and tumbled down haunting thickets. The paintings in my mind never looked like what I woke up to at 8am: sober slate skies and social isolation. I strove to make my pain beautiful.   
  p.serif.
    More than anything I wanted to be loved, and more than anything love requires understanding. After becoming a thick, empty shell, it was hard to show other people anything but the rough, falsified consistency of my exterior. It was so ugly—a beauty I tried to create from nothing, a beauty rooted in fear. If life was so beautiful, why was mine so ugly?   
  p.serif.
    I remembered the day I recovered my location. There was no global positioning system for the depths of my heart, so I didn’t expect anyone to embark on such a search. If somebody was going to find the little girl whose big fears were controlling everything, it had to be me. This is what it looked like, in case you are also looking:  
  p.serif.indent
    i.
      Phthalo green vines drip down like acid until you realize that you are in the belly of a machine so broken that it has turned human rationality into an upset black lake. In that moment, you realize that you need to jump into the lake. It will take years for you to actually do it. You spend those years tightening each rusty pipe, and wiping off the amorphous oil that keeps light from becoming more than a flicker, until you finally glimpse the raw, brushed metal that lies underneath.    
  p.serif.indent
    i.
      The courage to jump arrives by accident when you are pushed into the inky disk by an uncomfortably moist, round gust of wind. Swimming downward is difficult; it feels like falling. When you start to see the deep carmines, cardinals, and crimsons of the sea is when you start to lose feeling in your fingers, toes, brain, abdomen, and lungs. Shortly after is when you realize that you are not bound to your body; it’s just a dirty towel abandoned in the corner of your basement that you will never take care of. It is the short lifespan of the mayfly.  
  p.serif.indent
    i.
      The directionless pool begins to gradually lighten, and at last gravity is restored. You notice the tension in your legs and upper back, and don’t dare to move anything but your eyes. The substance of the air becomes so blinding that you are lulled into a deflating, white sleep. As you awake, your heart stirs with the poke of a foregone fear. The expansive, corner-less, milky room which envelops you seems safe from everything but yourself. You are alone here. At last able to move your body, you turn around, and with quiet horror encounter a single, still mirror.
  br
  p.serif.
    I used to find many aspects of living to be impossibly convoluted, but I then discovered that this is only because living was designed not to make sense to our minds, but rather, to our hearts. There are many things I cannot communicate to you except through art. If I try to merely <i>tell</i> you anything, it will be just a blunt knife, a muted string, a secondhand umbrella, a deflated ball. I have to <i>show</i> you. I want desperately to share with you what it’s like to bounce around inside of my body, what it’s like to be in the white chamber. I also want desperately for you to be in here with me, materialized by my side. And this is why I write.

  br
  br
  p.serif
    i Philadelphia, 2018
    
  br
  br
  br
  
  include write_home
