include ./../layout

link(rel='stylesheet', href='/stylesheets/write_style.css')

block content
  h1.poetry-heading catharine bliss
  
  
  //- .poem-title.poem p.m. rhoda
  //- pre.poem.
  //-   planes of bedsheets i do not want to remember  
  //-   flatten along the manila folders of my memories   
  //-   like a sigh in between a cough and a worry,  
  //-   washing away with it phlegm and crumbs    
  //-   and aches and cancerous growths and all.  
  //-   knotted black webs of ago split  
  //-   the eggshell walls of this room and flashes  
  //-   of humid rain blanket down and suffocate  
  //-   like the ago  
  //-                       i do not want to remember.
  
  
  .poem-title.poem a.m. rhoda
  pre.poem.
    from there to here i  
      say, through it all—  
    backwards spinning—  
      cubicle disc of  
    cutting flame, through  
    it all, backwards spinning—  
    i will say:  
        it could not have   
        happened any other  
        way.
    
    
  .poem-title.poem catharine bliss
    .poem-link.poem &nbsp;&nbsp;&nbsp;
      a(href='https://www.youtube.com/watch?v=lBt2r-81DD4', target='_blank') companion &raquo;
  pre.poem.  
    it must be crafted,  
    and the crafting takes    
    peace,  
    and the crafting takes,  
    and it takes,  
    and it takes.    

    i was listening to  
    a heart aligned,  
    spilled-over nectar of     
    a heart content,  
    i was listening to  
    peace.  

    i took a year to  
    listen,  
    it took a year to  
    wait until the buds   
    became ribbons limp,  
    golden bathing.  

    it takes until  
    the crafting stops,  
    looseleaf amounted to breath,   
    a heart still, un-rosied.  
    it begins with her breath,  
    a mother’s peace.  
    
  br
  br
  p.poetry-footer love, <br> suzanne. <br><br> summer, 2018
  br

      
  include write_home
