include ./../layout

link(rel='stylesheet', href='/stylesheets/write_style.css')

block content
  h1.poetry-heading catharine bliss

  .poem-title.poem As far as I know
  pre.poem.
    Slow cars sound like  
    someone following  
    me;  
      
    I learn to breathe in  
    an air thats smoggy,  
    not mine,  
    and believe in a world of  
    terror, not mine.  
      
    I need to be outside (walk  
    on water, count down the   
    streets, don’t blink).  
      
    Tall grasses make  
    wandering difficult  
    when every living thing  
    turns to sniff.  
      
    (Fuchsia, lavender, periwinkle,  
    means you can rest assured.)  
      
    As far as I know,  
    the passing is not wide enough  
    to cross  
    (yet).

  .poem-title.poem Absurd reasoning
  pre.poem.
    Meaning is lapis lazuli
    these days,
    not quite enough for me
    to risk my life.

    I went to the well today
    just to feel unwell.
    In order for no one to hear me,
    I buried my mouth underground.

    The world is way too big
    for me to not slip through its fissures,
    I drown and disappear
    underneath its weight.

    Misery is a large enough price
    to pay for a chance of joy,
    the mountain of rock towers over
    the mound of green.
    
    Meanwhile I’ve blocked out the sun
    with my own stormcloud clothing,
    and there is yet anything better than gold,
    or more precious than diamond.

  .poem-title.poem a prayer
  pre.poem.
    awaken my heart,
    i don't know what peace is yet.
    
    what would it be like for the ants to crawl over me, 
    make me their own,
    their home? 
    
    awaken, my heart, 
    unsettle out of your fear-induced lethargy, 
    you don’t know what peace is yet, 
    you only know the taste of hope-filled solitude. 
    
    heading in one direction, i ended up in another; 
    sights set on safety, i missed the rich soil of affection. 
    
    in health i have forgotten the feeling of being lost, 
    the ants up and down my skin i welcomed. 
    
    awaken my heart.
  
  .poem-title.poem Death of a quiet saturday
  pre.poem.
    Were you just something to hold onto
    while I waited for the clouds to pass?
    
    I want to raise a family
    in a white-walled house,
    with a piano;
    I want to wake up to quiet saturdays;
    I want to make my own peace.
    
    But seasons pass
    no matter how tightly I hold your arm.
    
    I don’t want a coffin life
    or a fixed minute in time.
    The clock my grandmother made me
    hangs blue and still
    in a place I abandoned years ago.
    
    If I wiggle my roots down here,
    it will become the 
    loneliest forest in the world.
    
    And what do I expect of love?
    
    What will move time forward,
    not forgetting to take along
    a single precious thing?
  
  .poem-title.poem july 7
  pre.poem.
    Perusing through my memories I
    found a wilted black rose, de-thorned
    and a breath away from dust. My
    charcoal heart had yet to be compressed
    into something much, much better. Turning
    away in shame, rain dropped from my
    closed eyelids, through my body entire,
    and onto the rose. The ink, blackest black,
    stained the white flag I had been carrying
    around as justification. My naivety in that
    moment, spoiled, fell into the tiny hands
    of the infant inside of me. Screaming
    a horrific song, I mourned the loss for
    twelve months. The ash I covered
    my skin with never rubbed off completely,
    stunting the growth to come in the
    proximate bloom. I never forgave myself for
    all I couldn’t help but destroy, and for the
    child inside I couldn’t bear to lose. While
    my powder heart yearned to return
    to dust, I closed my eyes never to
    open them again in hopes that the baby
    would grow up and that she would
    save me.
    
  .poem-title.poem Solaris meadow
  pre.poem.
    When I feel like I am about to die I
    go to lay under the glass sheet
    above the bed of grass, where it is
    raining,
    raining,
    raining,
    lightly——
    I am not wet but every wish of my
    two lungs
    is fulfilled,
    breath become green become full,
    come spring come bloom come peace,
    my ears are watered, sprinkled with
    the negated sound of chaos,
    I am enveloped by the silence of the grass,
    I am become soil become soft become rain,
    I am the only one——
    I always go back.
    
    When it is finished I
    breathe until night falls, and I
    thank God for rest.
  
  .poem-title.poem None but the Longing
  pre.poem.
    1
    take the narrow way home
    until there is a dip in the mountain
    
    picture this: a lipped cup filled
    four times over, a tasteless way
    longer than the night; did you see
    blue when you woke up the lovely
    green, which is lime, which is wrong?
    and got to thinking that a longing longer
    than the day sits still implanting
    itself below, say, where do i stand, say,
    will i be there? it was shaped steep
    to keep the excess from splashing out
    just to hold me together
    to bring us home
    
    2
    better to slumber the white train
    ride through the sky, archive it too
    far away, below the hip bone, right
    to our final step when altogether i
    decided to trade the prize for the
    search, the instant before the shadow,
    disappearing, fell over and took away
    the concept of fear with it, we were
    left with our carcasses in baby blue
    nausea when i found out you were
    waiting for me and it was too late
    
    3
    rolling down the window she is
    waiting always for the rest of her
    life—the rainstorm, the rainstorm,
    the rainstorm, the mysterious pains
    of childbirth, her life, she is rolling
    down the waters and it is always
    raining, and i am always waiting, the humid
    embrace, the rainstorm, the rainstorm,
    for it to overtake me, my skin the soft
    soil, digging for a long breath, for the
    rainstorm, for the rest of my life
    
    4
    that aching place where i do
    not have a sister to eat at the
    place i prepared for her that room
    lit only by absence of filled only
    with nothing for, and i brought you
    only once behind a mirrored glass,
    i hardly think you noticed when
    every north star dropped at once
    behind our eyes, below our floorboards
    it was then that i knew she wasn’t
    with me here yet somehow still
    you are
    
    5
    blinking away hot flashes
    i got to thinking, could i give it to you?
    the windows of airports
    tall with a sleepy sobering traveling alone
    could you wish it not so? could you wish
    it not sleeping for? not eating for? the gift
    follows me around taunting first yet use
    me for last could i at least tell you? by
    wandering in the same direction away if
    we cry out it will come to be
    if we cry out it will come to be
    
    lambs made to stray in pairs
    
    with nowhere to be
    are we wandering alone there?
    
  
  
  .poem-title.poem june 12
  .serif.poem.
    The wasp, lured into flight, enticed my eyes upwards. The curtain was quick to fall. I compared him to a bee, to an apple, to a tree. The glint in his wing echoed through my eyes. The crying out of the wind was indistinguishable from the inside—a thick pane between me and that immaterial honey. It would be an almost; it would be a not quite. Yet I went down with the curtain, following it asleep. The sweet tooth of my heart wished to hear the crying out—the wasp’s load. Filtered through his bespeckled sight comes the light, even still; it will reach anyone. He is gone but his cries still multiply; without a path he multiplies. Without a glass pane he carries everywhere his curtain, keeping warm and robbing the shadow of its light.
  
  .poem-title.poem may 31
  pre.poem.
    i went to the place  
    overlooking the city.  
    the leafblowers were blowing;  
    the trees were shivering  
    in their shock.  
    i did not see your face.  
    there were just  
    wavering edges,  
    knotted tightly.  
    and so i went back down  
    into the corner  
    yet undisturbed  
    by the hale of tension.  
    i did not see your face.  
  
  .poem-title.poem doctor nolan
  pre.poem.
    isn’t it wonderful, the
    grass-soaked denim,
    a future-swallowed cushion—
    curated straight until empty,
    hardened blushing until full,
    
    the treasure of the
    cloud-padded bell jar,
    the mile-wide sea train—
    flushing planes until blue,
    swallowing red until yellow.
    
    my residence is to the
    onion-shaped bloom,
    the feather-small life—
    urged pale until ripe,
    made traveller until still.
  
  .poem-title.poem chambers
  pre.poem.
    pool swellup,
    thinkup a solution to
    your brim problem; the
    water keeps filling,
    stinging, round your
    iris, melting ice, their
    nauseous glass, tubs and
    tubs of it, gas,
    guest, fill me
    with a sign that
    we’re the lucky ones,
    fill us,
    monoxide,
    noise,
    cancelled.
  
  .poem-title.poem good morning sylvia
  pre.poem.
    there is a panic
    here;
    
    i don’t know how to
    finish
    sentences;
    
    i feel
    watched;
    
    there is a tapping
    here;
    
    is it a man or a
    mouse
    come to see me?
    
    let me
    out
    
    of this horror
    here;
    
    i don’t know if it is a
    life
    or a death.
  
  .poem-title.poem where no one can reach 
  pre.poem.
    you,  
    not withering away,  
    silently,  
    not shriveling,  
    shivering,  
    not dying, not dead,  
    what is death? to you  
    anyway,  
    what could you milk  
    from me?  
    but the magnificent almond  
    at the center—  
    it took years of  
    sweat, tears, fluids,  
    not daring, not great,  
    not wise, not yet,  
    yet this little tree,  
    breaking its back for  
    the caress of life,  
    to come yet,  
    its prized fruit,  
    its single pit,  
    yet you took it—  
    from me.  
    
  .poem-title.poem downtree
  pre.poem.
    downtree,  
    a croaked out beat,  
    said the frog  
    with nothing to lose,  
    when she showed me  
    all this place meant  
    to her,  
    and for a while  
    me, with my  
    pink streaks—  
    surprising,  
    sullen,  
    hell-bound;  
    i knew it would stop  
    the trains,  
    i knew it would scatter  
    the pigeons,  
    but i had to wear the  
    tornado eye,  
    i had to strain from you  
    a dye of importance,  
    a dash of worth—  
    that i might remain  
    with you here,  
    and that there is yet  
    something left  
    to lose.

  .poem-title.poem OTHER PEOPLE
    span.poem-link.poem
      a(href='https://www.youtube.com/watch?v=Numt5oqS2Oo', target='_blank') &nbsp; &raquo;
      a(href='/images/other_people.jpg', target='_blank') &nbsp; &raquo; 
  pre.poem. 
    i don’t mind
    your
    by and by’s,
    your house—
    high and dry;
    your
    hiding place
    between the
    other people;
    by and by,
    it’s time
    for a new
    kind of weather.
    your way—
    my days go by,
    and if it’s the
    right time,
    they won’t
    mind.

  
  .poem-title.poem THE HOURS /
    span.poem-link.poem 
      a(href='https://www.youtube.com/watch?v=0qz0IJXQ720', target='_blank') ON THE 
      a(href='/images/the_hours.jpg', target='_blank') SEA &raquo;
      
  pre.poem.
    so that you could see  
        across the hours,  
    i perched up here  
        to catch your cry,  
    so that you could find  
        where i’ve hidden  
    what high tides will not   
        drench,  
    a wave out on the sea  
        waits for you,  
    so that you could know  
        your place in me.
  
  
  .poem-title.poem p.m. rhoda
  pre.poem.
    linen planes i do not want to remember
    flatten along the manila folders of my memories
    like a sigh in between a cough and a worry,
    washing away with it phlegm and crumbs
    and aches and cancerous growths and all.
    knotted black webs of ago split
    the eggshell walls of this room and flashes
    of humid rain blanket down and suffocate
    like the ago without the remember.
  
  .poem-title.poem a.m. rhoda
  pre.poem.
    from there to here i  
      say, through it all—  
    backwards spinning—  
      cubicle disc of  
    cutting flame, through  
    it all, backwards spinning—  
    i will say:  
        it could not have   
        happened any other  
        way.
    
    
  .poem-title.poem catharine bliss
    span.poem-link.poem 
      a(href='https://www.youtube.com/watch?v=lBt2r-81DD4', target='_blank') &nbsp; &raquo; &nbsp;
  pre.poem.  
    it must be crafted,  
    and the crafting takes    
    peace,  
    and the crafting takes,  
    and it takes,  
    and it takes.    

    i was listening to  
    a heart aligned,  
    spilled-over nectar of     
    a heart content,  
    i was listening to  
    peace.  

    i took a year to  
    listen,  
    it took a year to  
    wait until the buds   
    became ribbons limp,  
    golden bathing.  

    it takes until  
    the crafting stops,  
    looseleaf amounted to breath,   
    a heart still, un-rosied.  
    it begins with her breath,  
    a mother’s peace.  
    
  br
  br
  p.poetry-footer love, <br> suzanne. <br><br> summer, 2018
  br

      
  include write_home
