include ./../layout

link(rel='stylesheet', href='/stylesheets/write_style.css')

block content
  h1.poetry-heading catharine bliss
  
  .poem-title.poem thank you doctor nolan
  pre.poem.
    isn’t it wonderful, the
    grass-soaked denim,
    a future-swallowed cushion—
    curated straight until empty,
    hardened blushing until full,
    
    the treasure of the
    cloud-padded bell jar,
    the mile-wide sea train—
    flushing planes until blue,
    swallowing red until yellow.
    
    my residence is to the
    onion-shaped bloom,
    the feather-small life—
    urged pale until ripe,
    made traveller until still.
  
  .poem-title.poem chambers
  pre.poem.
    pool swellup,
    thinkup a solution to
    your brim problem; the
    water keeps filling,
    stinging, round your
    iris, melting ice, their
    nauseous glass, tubs and
    tubs of it, gas,
    guest, fill me
    with a sign that
    we’re the lucky ones,
    fill us,
    monoxide,
    noise,
    cancelled.
  
  .poem-title.poem good morning sylvia
  pre.poem.
    there is a panic
    here;
    
    i don’t know how to
    finish
    sentences;
    
    i feel
    watched;
    
    there is a tapping
    here;
    
    is it a man or a
    mouse
    come to see me?
    
    let me
    out
    
    of this horror
    here;
    
    i don’t know if it is a
    life
    or a death.
  
  .poem-title.poem where no one can reach 
  pre.poem.
    you,  
    not withering away,  
    silently,  
    not shriveling,  
    shivering,  
    not dying, not dead,  
    what is death? to you  
    anyway,  
    what could you milk  
    from me?  
    but the magnificent almond  
    at the center—  
    it took years of  
    sweat, tears, fluids,  
    not daring, not great,  
    not wise, not yet,  
    yet this little tree,  
    breaking its back for  
    the caress of life,  
    to come yet,  
    its prized fruit,  
    its single pit,  
    yet you took it—  
    from me.  
    
  .poem-title.poem downtree
  pre.poem.
    downtree,  
    a croaked out beat,  
    said the frog  
    with nothing to lose,  
    when she showed me  
    all this place meant  
    to her,  
    and for a while  
    me, with my  
    pink streaks—  
    surprising,  
    sullen,  
    hell-bound;  
    i knew it would stop  
    the trains,  
    i knew it would scatter  
    the pigeons,  
    but i had to wear the  
    tornado eye,  
    i had to strain from you  
    a dye of importance,  
    a dash of worth—  
    that i might remain  
    with you here,  
    and that there is yet  
    something left  
    to lose.

  .poem-title.poem OTHER PEOPLE
    span.poem-link.poem
      a(href='https://www.youtube.com/watch?v=Numt5oqS2Oo', target='_blank') &nbsp; &raquo;
      a(href='/images/other_people.jpg', target='_blank') &nbsp; &raquo; 
  pre.poem. 
    i don’t mind
    your
    by and by’s,
    your house—
    high and dry;
    your
    hiding place
    between the
    other people;
    by and by,
    it’s time
    for a new
    kind of weather.
    your way—
    my days go by,
    and if it’s the
    right time,
    they won’t
    mind.

  
  .poem-title.poem THE HOURS /
    span.poem-link.poem 
      a(href='https://www.youtube.com/watch?v=0qz0IJXQ720', target='_blank') ON THE 
      a(href='/images/the_hours.jpg', target='_blank') SEA &raquo;
      
  pre.poem.
    so that you could see  
        across the hours,  
    i perched up here  
        to catch your cry,  
    so that you could find  
        where i’ve hidden  
    what high tides will not   
        drench,  
    a wave out on the sea  
        waits for you,  
    so that you could know  
        your place in me.
  
  
  .poem-title.poem p.m. rhoda
  pre.poem.
    linen planes i do not want to remember
    flatten along the manila folders of my memories
    like a sigh in between a cough and a worry,
    washing away with it phlegm and crumbs
    and aches and cancerous growths and all.
    knotted black webs of ago split
    the eggshell walls of this room and flashes
    of humid rain blanket down and suffocate
    like the ago without the remember.
  
  .poem-title.poem a.m. rhoda
  pre.poem.
    from there to here i  
      say, through it all—  
    backwards spinning—  
      cubicle disc of  
    cutting flame, through  
    it all, backwards spinning—  
    i will say:  
        it could not have   
        happened any other  
        way.
    
    
  .poem-title.poem catharine bliss
    span.poem-link.poem 
      a(href='https://www.youtube.com/watch?v=lBt2r-81DD4', target='_blank') &nbsp; &raquo; &nbsp;
  pre.poem.  
    it must be crafted,  
    and the crafting takes    
    peace,  
    and the crafting takes,  
    and it takes,  
    and it takes.    

    i was listening to  
    a heart aligned,  
    spilled-over nectar of     
    a heart content,  
    i was listening to  
    peace.  

    i took a year to  
    listen,  
    it took a year to  
    wait until the buds   
    became ribbons limp,  
    golden bathing.  

    it takes until  
    the crafting stops,  
    looseleaf amounted to breath,   
    a heart still, un-rosied.  
    it begins with her breath,  
    a mother’s peace.  
    
  br
  br
  p.poetry-footer love, <br> suzanne. <br><br> summer, 2018
  br

      
  include write_home
