include ./../layout

link(rel='stylesheet', href='/stylesheets/write_style.css')

block content
  h1.poetry-heading chestnut
  //- 
  //- p.sub
  //-   i There is no end
  //- 
  br
  //- .poem-title.poem Human Being
  //- pre.poem.
  //-   You gave me the words to spill from my mouth, 
  //-   And you were the voice inside my head. 
  //-   And I worshipped you like God, I hated you like God,  
  //-   I listened to every word you said. 
  //-   Spill unto me and become me, I spite you for becoming me,  
  //-   you said.  
  //-   Enter me and let me have you, I am  
  //-   deserving of all that is good,  
  //-   you said.  
  //-   I rotted, I wept.  
  //-   Leave me forever because you are rotten,  
  //-   you said,  
  //-   and I’m tired,    
  //-   you said.  
  //- 
  //-   I obeyed, and I repented to you,
  //-   but you are not God.

  .poem-title.poem Bookend
  pre.poem.
    I am in the  
    morning &  
    i want to   
    tell you  
    i lately  
    have only  
    apologies,  
    i wish to  
    see you  
    but i also  
    wish to  
    get  
    better &  
    be whole  
    again. I  
    hope you  
    understand.  
    I wanted  
    to fly  
    with you  
    & we  
    might, but  
    first the  
    wholeness,  
    us both,  
    let’s not  
    neglect it.
    
  .poem-title.poem joe coffee
  pre.poem.
    i don’t have it in me right now  
    i write every day  
    waking up is still hard  
    the bed sticks to my body  
    my body is lost  
    the hole hasn’t been filled yet  
    还没有  
    can you help me?  
    it’s easier to write


  .poem-title.poem 11/21
  .poem.
    feels bad feels acid, acid again, fear again feels fear feels bad, shaking again, shaking good feels bad, control system control body, doesn’t work again, never worked again, expand expand expand expand expand out out out out out wait wait wait wait

  .poem-title.poem layover
  pre.poem.
    flight fighting sleep  
    bitter to battle you  
    fighting to stay afloat  
    flying  
    washed away a will to live  
    ashore arrives attempts of salve  
    
  .poem-title.poem Elephant through a doorway 
  pre.poem.
    You were always there / I mean  
    I was always here / I mean  
    I hurt you I hurt me / I mean  
    I’m not loved I’m not love / I mean  
    I left you alone there,  
    I begged you not to leave then,  
    I wanted you to step back inside me,  
    I wanted you ill-fitted and cloudy and controlling,  
    it’s all the same to me.  
    I mean /    
    I made the wrong choice,
    I chose life.

  
  .poem-title.poem 37
  pre.poem.
    big empty vacuum of a head  
    container with no captain  
    container with no company  

    long endless reverberations inside  
    travelers with no map  
    travelers with no target  

    single figure in the darkness  
    pain with no respite  
    pain with no purpose  
  
  .poem-title.poem 33-3
  .poem.
    Regular sized you,  <br>
    regular sized space.  <br>
    How about we turn off the part that spits out these words, yeah?  <br>
    Okay?  <br>
    <br>
    The hard part is over but I still can’t sit still.  <br>
    Even still the windowsill shouts at me to sit still.  <br>
    I can’t even hear myself talking to myself in the mirror I can’t even hear you except in here,  <br>
    okay?  <br>
    Yeah? <br>
    <br>
    If I spill all over you just know that this morning I woke up and wanted to die, okay?  <br>
    If I wake up next to you and want to die just know that you weren’t in my dream, okay? <br> 
    <br>
    In this endless stream I want to stay here for maybe five seconds longer, maybe thirty, did you hear me?  <br>
    I keep getting hit, the hits never stop, what is it about me? Just know that I didn’t know what I was asking for, okay?
  
  .poem-title.poem cerulean
  pre.poem.
    my body involuntarily so  
    moved around  
    shake my head until my mind has no more attachments  

    see how slowly the clouds are moving?  
    i can move that slowly too
  
  .poem-title.poem 33-2
  pre.poem.
    i only exist through / you   
    who the fuck   
    im just a ghost to you / there  
    i don’t exist to you / there  
    i hurt you by not seeing you / there

  .poem-title.poem 40
  pre.poem.
    i could talk to anyone  
    sleep down then up  
    then you then me  
    slow it down stretch it out  
    i'm too tired to talk   
  
  .poem-title.poem 33-1
  pre.poem.
    oh, your voice is in my head  
    oh, my voice is in my head  
    oh  
    heads my head explodes   
    tails it implodes

    i mean, how much milk did i drink today  
    i mean, i leave the house to buy more milk  
    i mean, friendship shouldn’t be transactional   
    i mean, if you asked at this point i would probably say yes  
  
  
  .poem-title.poem 33-0
  pre.poem.
    today in  
    today out  

    i read an old, faraway friend    
    i’m sorry about 2017  
    two thousand and seventeen syllables sorry


  br  
  p.poetry-footer love, <br> suzanne. <br><br> fall, 2017
  br

      
  include write_home_link
