include ./../layout

link(rel='stylesheet', href='/stylesheets/write_style.css')

block content
  body.dusk
    h1.poetry-heading from dusk, suspended

    .poem-title.poem Difficult ask (reprise)
    pre.poem.
        In the face of my muteness
        reflected across a lake of worries,
        I try to ignore you:
        the difficult ask.

        My diligence to stop at each street
        light is misguided caution, but I notice
        how afraid you are

        and I only hope this lake doesn't
        crystallize. I am not vitriolic;
        I wish you no harm.

        And my reckless love,
        cold love rain down

        impossible love;
        brick wall to keep me out,
        reinforced with steel;

        icy fingers fanned out over a
        frozen body; loose frosty bits
        rough on the surface, gathered
        into a neat pile: projected melting,

        disappearance.

        You need to move too against me.

        Shall I spread it across the year,
        stand in doorways between dawns?

        I walk around water, not needing to,
        still liquid, shrugging off your shadow;
        I'm ashamed of the ibuprofen, caffeine,
        these steady streams you tolerate.

        Dusk has arrived. You didn't show except
        at odd hours of the night, the sort of
        dreams I recall only later—

        Have we any history yet?
        I remember seventy-two hour silences,
        dumbounded at the door of your attention;

        we spin, tumble, let dreams pile like dirty laundry,
        we—unhappy; we—unsatisfied;
        afraid.

        Our laughter is so present and menacing,
        you create in me days in which I don't
        want to laugh; I'd rather see your soft smile,
        I'd rather hear out your worries.

        In the face of my muteness,
        refracted across a sea of sorrow,

        I am watching colleagues leave the office,
        I am watching friends struggle to lift suitcases,
        won't you help out?
        won't you be forthright, caring?

        I can recognize now when nothing will happen—
        no rock budge, no movement, tapped,
        checked—so I know that it's time to leave,
        and I'll pretend I know what I'm doing.

        And I have no price tag, I am free;
        though time passes so quickly and lovely
        with you,
        skidding and sliding we miss each other,

        perhaps you are silent and nervous,
        perhaps you are silent and tired;
        here I move from one silence to another,
        and this third silence stops
        dead

        (inhale).

        What alleviation, what rectification
        could come from the stillness
        hovering about you? It gets pierced
        by a cry: orange fox at daybreak,

        prelude to movement.

        At odd hours of the day the waxing moon
        lurks above us, follows us across oceans,
        through buildings two thousand years old,

        and how serene it is to walk around in the
        dark, the sickly sweet of rotting leaves.

        And what of this special gravity unrelenting
        upon me?

        I don't deserve to ask,
        I don't deserve to live,

        I'd rather bleed continually than be
        violently tossed about, worn down to
        the smooth lifeless stone you find ashore;

        the rocky, washed out sunset;

        I'd rather cross the bridge on foot
        than wait for you to tell me you
        won't swim

        (exhale).

        In the face of my muteness,
        protracted over a stream of anguish:

        I don't require much, just to not be left
        at the airport, just a goodnight returned.








  br
  br
  p.poetry-footer love, <br> suzanne <br><br> 2022
  br

      
  br
  br
  a(href='/write/dusk').home. 
    &larr; i want to go home &nbsp;
