include ./../layout

link(rel='stylesheet', href='/stylesheets/write_style.css')

block content
  body.dusk
    h1.poetry-heading from dusk, suspended

    .poem-title.poem Difficult ask (reprise)
    pre.poem.
        In the face of my muteness
        reflected across a lake of worries,
        I try to breathe deeply, I try to
        ignore you, the difficult ask.

        In my diligence to stop at each street
        light, misguided caution, I notice how
        afraid you are.

        I only hope this lake doesn’t crystallize
        into bitter hatred; I am not vitriolic;
        I wish you no harm.

        And my reckless love,
        cold love rain down

        impossible love;
        brick wall to keep me out,
        reinforce it with steel.

        You need to move too against me;

        this invulnerability of yours,
        I take stock of what I haven’t told you,

        shall I walk around for longer, shall I
        spread it across the year,
        stand in doorways between dawns?

        When I don’t need to be distracted from
        your absence, from my near-sightedness:
        your outline too faint, wavering past my
        vision,

        I’m ashamed of the ibuprofen, caffeine,
        these steady streams you tolerate.

        Dusk has arrived, you didn’t show except
        at odd hours of the night, and even then
        only in my dreaming: the sort I recall 
        only later

        and wish to tell you but always find it is
        not the time, not while my head hurts like
        this, not while you’re kept from me by this
        mass island of confusion.

        Have we any history yet? I remember first
        birthday heartbreak; I remember you asking
        to call; I remember first shoulder touch; my 
        giddiness; I remember labor day not leaving
        you; I remember seventy-two hour silences;
        I remember waking up to texts wondering if 
        I could wake up to you then wondering if I
        could wake up to you different: you with me.

        And now we have so much to remember,
        we—unhappy; we—unsatisfied;
        afraid.

        Our laughter is so present and menacing,
        you create in me days in which I don’t 
        want to laugh; I’d rather see your soft smile,
        I’d rather hear out your worries.

        In the face of my muteness,
        refracted across a sea of sorrow,

        I am watching colleagues leave the office,
        I am watching friends struggle to lift suitcases,
        won’t you help out?
        won’t you be forthright, caring?

        Let me be alone or be with you,

        I can recognize now when nothing will happen,
        when a rock won’t budge because it is solid,
        because you tapped and checked it,
        and so I know it’s time to leave,
        and I’ll pretend I know what I’m doing.

        And I have no price tag, I am free,
        too messed up in the head to finish:
        let’s think about why these ends won’t meet,
        though time passes so quickly and lovely
        with you,

        and perhaps you are silent and nervous, and
        perhaps you are silent and tired, and I’ve
        moved from one silence to another,
        and I’m coming into my own.

        And have you ever looked at me?
        There is nothing you could tell me now,
        no alleviation, no rectification.

        And why do you not move? You know me.

        And under pressure I do eat meat,
        and with restraint I can stay away:
        the waxing moon above us, following us
        even across oceans, through buildings two
        thousand years old,

        and how serene it is to walk around in the 
        dark, the sickly sweet of rotting leaves.

        You are the thing I can’t get past.

        And what of this special gravity unrelenting
        on me?

        I don’t require much, just to not be left
        at the airport, just a goodnight returned.

        And I don’t deserve to ask,
        and I don’t deserve to live,

        and I’d rather bleed without end than be
        this violently worn down,
        and I’d rather go home on foot than wait
        for you never to tell me when you’ve gone.







  br
  br
  p.poetry-footer love, <br> suzanne <br><br> 2022
  br

      
  br
  br
  a(href='/write/dusk').home. 
    &larr; i want to go home &nbsp;
