include ./../layout

link(rel='stylesheet', href='/stylesheets/write_style.css')

block content
  h1.poetry-heading dreams drive canyons between the days
  //- 
  //- p.sub
  //-   i There is no end
  //- 
  br
  .poem-title.poem shadows catching up to each other
  pre.poem.
    a start again half, bear the ending.
    tastes like despair,
    tastes like sun in my eyes.
    
    a carful of clones, careless, pairwise.
    i always think short hair, not alone, is you.
    i always think cigarette, long stare, is you.
    
    citizens there with a french name, and a black hat,
    i’ll take it and i’ll take good care of it,
    and i won’t tell anyone but the fire exit.
    
    it is funny to be impressed, and depressed,
    and participate proportionally to our gain,
    less than ago, less than again.
    
  //- .poem-title.poem How to Make a Man Listen Without Shattering His Glass Jar
  //- pre.poem.
  //-   Screw the lid off from the correct side,
  //-   and look deep into the bottom,
  //-   and be truly horrified by the smell,
  //-   and don’t let someone into your house if you haven’t even
  //-   attempted to clean up,
  //-   and don’t ask me why I’m on the ground without ever
  //-   looking at your filthy floor,
  //-   and don’t expect me to laugh when you command,
  //-   and it truly takes a mouse turned monster in your eyes,
  //-   and if your mirror blinks green it’s broken,
  //-   and if your mirror pumps blood it’s broken,
  //-   and if you think you are the benevolent bishop of your own
  //-   house then get a new mirror,
  //-   and I don’t sell mirrors,
  //-   and even if you ask nicely I will tell you,
  //-   “Truly, I don’t care.”
  //- 
  .poem-title.poem cloud stories
  pre.poem.
    whispers in the sky look like chicken,
    look like running, look like afraid.
    
            <i>chest with no cavity
            building with no spine </i>
    
    sea creature is chased by a mountain,
    by a mama bug, by a parade.
    
            <i>galaxy with no center
            orbit with no sun </i>
    
    piper puffs peace, pities magic, performs talent.
    parent potential is the epitome of perfectly pliable.
    pulley ponders pushing without impatience.
    
            all giggles and snaps for mediocre men,
    
                        and cloud stories.

  
  .poem-title.poem rare find
  pre.poem.
    the sun raises sadness
    about the day’s end, how you
    forgot to restring the guitar,
    how it’s just been waiting
    for you to reset, an
    impossibility, so you 
    wait until next time.
    
    and you wonder what it’s
    like to touch your bed, or be
    both breathing and smiling,
    how you’ve been anticipating
    falling into place, but it’s
    like the cicadas in may: only
    a handful per lifetime.
    
    and then you notice how
    one hour has passed between
    awake and asleep, and it’s not
    too bad at all; it’s the uneven
    swing of a footstep, although
    the foot knows not where
    it's going.
  
  .poem-title.poem rats i reached the tab limit, <br><i>or, what is a rattlesnake without its cold blood?</i>
  pre.poem.
    may i say ummmm
    uhhhhh
    a chalk poem never asked to be born
    and neither did i? well,
    well, well, well, well,
    well,
    well, well,
    they say,
    don’t you dare crawl around
    my backyard and,
    and, and, and,
    never get anywhere with it. don’t you
    dare! well, i never got
    anywhere on my knees
    so i think i’ll
    give men a chance. well, well,
    well, well, well, well,
    have you thought about
    literally nothing because
    the station is so far
    away that you refuse to commute?
    welllllll
    uhhhhh
    ummmmmmmmm
    what about running on
    three ice cubes or
    the equivalent and
    being expected to
    wash the dishes? what the hell
    like dishes can never be cleaned!
    like i cost three
    thousand dollars and i
    know how to operate a
    machine? like i chose to
    be a single transistor
    over the course of a meal?
    and, and, and,
    uhhhhhhh
    i empathize too strongly
    with the birds and their
    screaming, and how
    it is visible to the
    human ear. but why
    are the sounds i
    make not visible
    to the human
    heart?

  
  .poem-title.poem god’s children
  pre.poem.
    pat pat down in the room
    next to the
    table it
    shelters her
    face
    from the bite
    of weakness of
    ha ha you’re crying!
    of the empty room and
    the single voice, which
    is to say, you, which is
    to say, alone there. you
    are exactly one cloud
    in the sky, you are exactly
    the only cloud in the sky,
    sorry!
    they say, and
    i’m sorry they say
    that.
    
    o céu não é
    grande o suficiente
    para encher
    seu coração, cel
    but i wish it
    could or
    would. she finds
    only dust in
    the shoebox of valuable
    things she is pushed
    only by the need to
    keep going. somehow
    we broke the breaks and
    now we scramble to think
    of our last words
    before it is
    too late
    even for the
    cruise
    control.
    
    far away joe staring
    up feeling
    down when the
    pipes need
    oiling but we
    are all out! try again
    tomorrow
    when the puddles
    rise up
    and the shower water falls
    down, which is to say
    i’m sorry, which
    is to say it is not by
    me that you will
    understand how
    a man can fall forty
    stories
    and live.
    
    the month
    of april itself
    has echoed through
    the black knotted tunnel
    and has reached me
    at last, or i should say
    i don’t want to freeze
    to death here i would rather
    find you among columns of
    stalagmites brushed up
    and shivering down
    so that you can
    know that
    you are not
    alone.
  
  .poem-title.poem It takes a mile just to cross the street
  pre.poem.
    Do you remember when that walkway
    between Walnut and 36th used to exist?
    Now it’s just a seven-story glass artifice.
    It’s like, every time I meet you there’s
    an itch I can’t scratch, and the sky darkens
    like for the life of me I can’t tell if the sun
    has set or if it’s about to rain. And I try to
    explain how an ordered set of anonymous
    yellow flowers can make me feel like my
    lungs are about to cave in, but the fact is
    we love David Foster Wallace more because
    he’s dead. And I get so peeved out but it’s
    just a squeaky chair, it’s just a bust in a
    reflection, like I remember the precise
    moment I became gentle with the mouse.
    It’s smaller than an egg, tumbling around
    with more words per minute than me. It’s
    like when the weeks become so blue that you
    swear everything is okay, like the page has
    been so completely ripped out that only
    the author could tell you something was
    missing. Do you remember that hill to Levin
    that we had to climb? It was so slight, like
    imagine a pool and then the Pacific Ocean.
    I think if it was up to me I would refuse to
    learn how to swim, and I would never walk
    a step backwards again.
    
  .poem-title.poem Philadelphia
  pre.poem.
    Invisible blue
    denim reflected against the sky,
    slated teeth on a chalk white plane.
    
    Voices chirping, deciding that
    grass is alive because it is
    green, but not because
    we step on it.
    
    Stacked compartments
    emptied by the call of the sun,
    orange discs spilling freely into
    leavened cushions.
    
    Flames transferring, deciding
    between sunrise and sunset by
    plotting their lives
    onto a mirror.

  .poem-title.poem Hard / Heart
  pre.poem.
    Nothing will be taken away  
    
    or prevent you from walking   
    down the three steps out  
    your door into your maroon  
    Impreza and taking your regular  
    ice-water bath around the block,  
    or is it purple? Or is it beautiful,  
    that I can’t tell? My eyes which  
    have been formed and deformed by  
    the unseen glassblower, disguised  
    as the men in my memories, stamped  
    and fingerprinted by the women  
    and if I’m lucky I get to   
    keep my own hands intact  
    and all.  
      
    or keep you from feeling, no,   
    experiencing the type of misery of
    monochomatic April that 
    thrusts you outdoors, front 
    and center for the visitors  
    and babies and bench strangers  
    to witness, and ask me, is  
    my pain, front and center,  
    like this, what I worship?  
      
    or stop you from writing about  
    trees and the solidarity they don’t  
    have, even while you sit among   
    them, their bare fingers stuck  
    out of the ground, maybe  
    offensive, like the truck meant   
    to throw toilet water at you,   
    and like I realized it’s   
    okay to be unoriginal  
    and unhappy.
      
    or force you to decide between  
    the pigeon and the dove, or   
    Monday and Thursday, or
    the bus and the train.   
    The carbon strength it takes for   
    you to pray through the caffeine  
    scouring your veins, or is it just  
    brick strength? In a brick city?  
    With brick friends, recently promoted,  
    recently helping me paddle  
    upstream, against the  
    voicemail calls and our seven  
    day week and three hundred and  
    sixty-five and a quarter day  
    year. Don’t sink! We scream and   
    we try this many times, and we are
    as plentiful as fallen leaves, and we are  
    bound as one, stuck together as   
    any well-implemented construction  
    plan. Pray through it, for  
      
    nothing will be taken away.


  .poem-title.poem 4/3
  pre.poem.
    I am the idiot child licking its own vomit,  
    rolling around and wailing;  
    
    and then the coffee  
    to clean out my bowels  
     
    arrives on time: one thing  
    I’ve been given.  
      
    I am the little shit who takes more  
    than can fit into my tortured stomach;  
     
    and then the milk stays spilled but is still  
    chocolate, thick enough to  
      
    almost make up for its fatal  
    stench.  
    
  .poem-title.poem 4/3
  pre.poem.
    i wait for  
    you to  
    leave  
    and the rice  
    to boil,  

    because i  
    am at the bottom of  
    the pot  
    and i can’t give  
    you a counter  
    argument.  
    
    
  //- .poem-title.poem Object Hunting
  //- pre.poem.
  //-   Moving out of the way I lose my voice,   
  //-   I eat the candy string too quickly — it  
  //-   runs out before I ever get to  
  //-   it, objects disappear like ribbons of egg  
  //-   yoke into soup — it must be   
  //-   the boiling broth and the   
  //-   deep pot. Well then it’s everyone  
  //-   isn’t it? What use do I have  
  //-   for becoming twenty different people  
  //-   when I’ve covered my mirrors  
  //-   and boiled my mind’s efforts?    
  //- 
  //-   Whispers of clouds on a humid  
  //-   Philly day, the first attempt of  
  //-   sandpaper dirt to produce   
  //-   grass again. Yesterday they brought  
  //-   in fresh manure and it’s the  
  //-   closest thing to the sign of Jonah.    
  //- 
  //-   I thought that if it was a   
  //-   warning sign I wouldn’t understand it  
  //-   in the boiling heat anyway, it  
  //-   is the semblance of a face just too  
  //-   far away to identify, wet footprints   
  //-   long crusted, dried, interpreted, and  
  //-   abandoned already by someone before me.  

  .poem-title.poem 3/30
  pre.poem.
    squinting down it is already  
    a challenge  
    and there is a mosquito  
    carrying no malaria  
    because my friends are  
    singular and like satin.
    
  .poem-title.poem Writing
  pre.poem.
    It is either  
    dirt rubbed skin  
    filing against concrete  
    or  
    my rubbery body  
    finally getting into  
    bed.  
    
  .poem-title.poem firstborn
  pre.poem.
    green lamppost  
    gray tree  
    for once a safety net  
    
    breeze, to catch  
    me
    
  .poem-title.poem Of Place
  pre.poem.
    The house didn't know what it was asking for when it became a
    sanctuary. Annie, thumping across the third floor, and the cat, 
    menacing. Then, I didn't know where I was going, I just knew 
    about how good it was, the springtime breeze: like stepping into 
    an oven walking down Baltimore, the sparkling concrete cooperative
    with the deep soil of the Woodlands -- full of dead people, 
    probably rich. I think about each tombstone I was familiar with, 
    the life those people let go communed in the center of the field 
    for me to play with, brushed marble fossils all lined up at my 
    disposal. I can't go there, you said, all I think about is death. 
    Now, all I think about is death too. And the room that welcomed 
    me with its vermillion wood is now singed with your smoke, 
    and reeks of death. It's all I can think about. Spending the 
    year afterward unlearning, and taking each tool out of the box 
    one by one and throwing it into the Schuykill until it shattered 
    against the cement, not even hitting the water -- it's all I can 
    think about. I didn't know what I was asking for when I entered 
    the house, or called you a sanctuary. Now I stay north, away 
    from the quiet green assembly guarding the dead who died without 
    ever mustering an answer to a question they weren't forced to 
    ask. The sky is the same, clumped up and prodding, light purple 
    and pink. Always beautiful. I climbed out of the oven right into 
    the storm -- always raining, never clean. The time it took for 
    me to befriend the fleshy ants was long enough for them to march 
    right back into the ground. To live under a black cloud masked 
    as climate change, and stumble around blindly never looking each 
    other in the eye, never again synchronizing, its all I can think 
    about. Up ahead a plane starts, painstakingly journeying 
    through the sky. It won't come back. I used to think it was 
    just light pollution, but you passed through 
    and Baltimore hasn't heated up since.

  .poem-title.poem 3/18
  pre.poem.
    don’t be like     

    the drop  
    asking for permission  
    to drip down  
    the sleeve,  
    spreading its limbs,  
    basking in the attention,  
    the excitement  
    of getting caught,  

    or  

    the straw  
    shattered,  
    guilty of its deed,  
    drowning to stay afloat,  
    picking up broken bits,  
    thinning out the host  
    as it drifts  
    further and wider  
    apart.  

  .poem-title.poem 3/17
  pre.poem.
    i found you in the  
    ridged skin of the  
    resting trees,  
    passersby,  

    in the fertile confidence   
    of the swarming landscape,  
    placeholder for my worries,  

    in the immediate bend,  
    divine twists,  
    stroking the spark in my mind  
    awake.  

    i found you at the   
    forefront  
    of my skull,  
    waiting patiently,  
    the ribbed bench underneath me,      
    earthy green.  

    to know the 
    balloon that will never pop is 
    the broth that will never end is
    the sun that will never set.

    i found you in the  
    ridged skin of the   
    resting trees,  
    passersby. 
    
  .poem-title.poem 3/13
  pre.poem.
    what is it about the glow  
    on the corner   
    of the dresser it  
    reminds me of  
    your eyes  
    the entire room  
    pulled inside  
    quickly  
    i think of you  
    everyday and  
    package you up neatly   
    but i know   
    you won’t get in  
    you  
    just want to graduate  
    
  .poem-title.poem First Home
  pre.poem.
    You are steady, like the stream
    despite the winter,
    
    like a careful dip
    into the water.
    
    The breeze sweet against our faces—
    we know where to find each other,
    
    we sink into a thick soil, and
    we know how to listen
    
    for the rub of laughter,
    the scrape of the rooted birch tree.
    
    You are the forest in my backyard,
    the papers I left scattered across my desk,
    
    the clothes abandoned on the floor.
    The rice and chickpeas you made
    
    are waiting, leftover. Microwave steam
    and the scrunch of your nose,
    
    flowing constantly. We were shirts pinned
    to a clothing line,
    
    grabbing for dear life
    that day.
    
    Finger exercise, taste test for beginner —
    we know how to find our way back,
    
    we know how to fall, and
    we know how to land.
  
  //- .poem-title.poem we are too much
  //- pre.poem.
  //-   I don’t look up and I hope for lies to be true.  
  //-   I look at one by five tiles on the floor and hope to one day draw them.  
  //-   The toilet never senses my body’s warmth, I wonder if my friends do.  
  //-   I check the locks every so often, afraid someone will catch me.  
  //-   But I trust the oven to stay off and my friends to stay alive.  
  //-   The girl waiting for me to finish hid behind the bookshelf.  
  //-   Do we even want to be seen?  
  //-   It takes a long time to respect a man.  
  //-   I know I seek to understand and I know that I often do.  
  //-   One day it will hit me that the world is not real and I wait for that day
  //-   every day.  
  //- 
  //- .poem-title.poem five billion birds 
  //- pre.poem.
  //-   Five billion birds in one dead bush  
  //-   Screaming    
  //-     Screaming  
  //-    Screaming  
  //-    SCREAMING  
  //-   Screaming  
  //-   Hurry hurry by,  
  //-   Pretend the screeches are joyful,  
  //-   and that the gray is warm and encouraging   
  //-   It will be someone else, it will be someone else  
  //-   I was told to throw away the world and that   
  //-   behind the wall and underneath the holes is  
  //-   Where you are  
  //-   And I wondered about the birds, if they knew,  
  //-   and if they could be saved  
  //-   And why does it matter if I’m saved, if it will drive me out of this world,
  //-   away from the screaming I’m supposed to help, still down into a hole I 
  //-   can never get out of, only seeing dead bushes. 
    
    

  //- .poem-title.poem Human Being
  //- pre.poem.
  //-   You gave me the words to spill from my mouth, 
  //-   And you were the voice inside my head. 
  //-   And I worshipped you like God, I hated you like God,  
  //-   I listened to every word you said. 
  //-   Spill unto me and become me, I spite you for becoming me,  
  //-   you said.  
  //-   Enter me and let me have you, I am  
  //-   deserving of all that is good,  
  //-   you said.  
  //-   I rotted, I wept.  
  //-   Leave me forever because you are rotten,  
  //-   you said,  
  //-   and I’m tired,    
  //-   you said.  
  //- 
  //-   I obeyed, and I repented to you,
  //-   but you are not God.
  //- 

    

      
  include write_home
