include ./../layout

link(rel='stylesheet', href='/stylesheets/write_style.css')

block content
  body.dusk
    h1.poetry-heading [wip] dusk, suspended

    .poem-title.poem 11/8
    pre.poem.
        What I've learned is that people don't earn love,
        it just falls upon them undeserved,

        as I forgive you endlessly—miles before
        seeing anything sightworthy—the meager fuel

        replenishing and replenishing itself. K says
        this must mean I love you.

        I realize the route starts at the other end,
        that I am traveling in reverse: from
        whiteout blizzards in the mountains

        to drips of blood on melting snow;
        from my grace to yours.

        Though sputterring and thoroughly warned,
        I can't turn back; you are waiting at the bottom.

        Soft white feathery forgiveness
        descends and slowly covers me,
        a sort of coffin.

        When it spills out I play at being a saint.
        This is how I give you everything, anyway.

    .poem-title.poem 11/5
    pre.poem.
        Morning has unfolded: the bed is warm
        from my own body,

        strange,

        I like quiet before I leave,
        big ceremonial movements.

        It's coming to be like this:
        I don't want to be the wise one,

        but each day I wake up and worry about
        the same thing. So,

        the prolonged agony that eventually
        ends, yes,
        that,

        it can be turned into granules of sand,
        and then a beach, ragged underfoot
        because this is New York,
        then into the ocean,

        then back to shore. So,

        my clothes won't dry for days,
        seawater will stick to my skin,
        but the calm will bleed into night.


    .poem-title.poem Difficult ask (reprise)
    pre.poem.
        In the face of my muteness
        reflected across a lake of worries,
        I try to breathe deeply, I try to
        ignore you, the difficult ask.

        <a class='dusk' href='/write/dusk/difficult-ask'>&rarr;</a>

    .poem-title.poem Walk-through
    pre.poem.
        This fragment of my life sits squat, just
        as you don't budge with your back turned to
        me, just as I rub my eyes refusing to move, as
        my sore head spins freely along three axes,
        as the fear-shaped thing inside me doesn't
        dislodge.

        A walk through the park:
        I am surrounded by birds, leaping squirrels,
        the quiet of midday, the start of november,
        the promise of pain.

        At last I am understanding this sonata of
        suffering, this path I have been stumbling on:
        it comes to me piece-meal, slowly, slowly, and
        with each morsel I trade in a bite of my flesh
        for a swing at that black hold, asphyxiation.


    .poem-title.poem Airplane survey
    pre.poem.
        My life hangs on the beverage cart arriving,
        I'm waking up two-thirds of the way through albums,
        each time you're in a different contorted position,
        spotlighted.
        We fly through the night;
        it is over, over
        too soon.

        Then
        low clouds kissing hills over germany,
        irene with sunrise,

        (tributary wisps like a river,

        our inflexibilities,
        the cause of freedom is not the cause which
        causes the body;

        now,
        with a still sea of sky below us,
        jet lines criss-crossing,
        our knees no longer touching,
        I find I am moving into grief),

        and
        the realization that this is an ocean, a choice,
        that I may not want to dive into a substance so deep,
        so cold,
        so harmful to enter
        and so harmful to exit.

    .poem-title.poem Night island (forgiveness)
    pre.poem.
        We suffer together, trek out to the beach at night, stay up for K's heart breaking in front of our eyes, dream of warm broth and car-rides home, of empty calendars, of being taken care of. The next day my mom comes and cleans my microwave, I sit squished between my parents as the sun retreats behind a building, sharing details of my life as I move further and further away. After they depart I'm left to shiver alone in my stale, barren world.
        
        We communicate haphazardly, but it feels like forgiveness, my throat raw from the coughing and the laughing and the joint and the onion rings and the sleeping late.

        Between vacuuming and crying, I implore you to sleep so I can rest.



    br
    br
    p.poetry-footer love, <br> suzanne <br><br> 2022
    br

      
    include write_home_link
