include ./../layout

link(rel='stylesheet', href='/stylesheets/write_style.css')

block content
  body.dusk
    h1.poetry-heading dusk, suspended


    //- .poem-title.poem 2/7
    //- pre.poem.
    //-     Revelatory dove
    //-     landing on fire escape,
    //-     I’m in the airplane,
    //-     a graceful descent
    //-     for humans,
    //-     morning shows up empty,
    //-     coldfingers stuck underneath
    //-     windows,
    //-     lovefingers given away as charity,
    //-     silent as man breathing, as man heaving,
    //-     stench filling the room,
    //-     apologetic I wait, humidifier off,
    //-     man alone fridays,
    //-     silent as found treasure,
    //-     my disbelief driving,
    //-     discarding vestigial selves
    //-     winding up skinny roads,
    //-     containers like airplanes,
    //-     substitutes for sky,
    //-     dove quiet visit,
    //-     mourning.

    //- .poem-title.poem 1/31
    //- pre.poem.
    //-     Fractional hope, I split an antihistamine in two,
    //-     digital wristwatch just runs, no ticking, no fuss,
    //-     functional hope, I hide memories from myself,
    //-     high places and dark corners,
    //-                     chopin to calm, tarkovsky to breathe,
    //-                     sweet trip to choke, sartre to sulk,
    //-     pages of my journal return to me,
    //-     delicate petals of last july: I weep
    //-     for you, I want to say:
    //-     turn back, I want
    //-     to say: I’m sorry.

    //- .poem-title.poem kindness
    //- pre.poem.
    //-     Crumpled paper flies around my head,
    //-     dead leaves off trees, yet
    //-     through the wind storm you hold on,
    //-     you hold onto me and I open my eyes, shocked,

    //-     cooking oil, detergent, soap in my food, droppings on
    //-     my clothes, is any of it parve?,
    //-     the dead leaves still stuck to branches—wintered,
    //-     frozen in time,
    //-     the sun only bakes, never boils,

    //-     “we can get there” you say,
    //-     “but I’m bleeding” I say,

    //-     I become a dead leaf stuck to your branch,
    //-     fingers clasped around your arm,
    //-     and then april will come with my second death,

    //-     “I want to make sure you’re alive” you say,

    //-     none of this is water, it evades my skin,
    //-     I am asking for your breath, I cannot speak,
    //-     pour sand into my mouth, bury me underneath you,
    //-     you’ll still have my body to wrap around and desiccate,

    //-     my last drops tears,
    //-     my final words blood.


    .poem-title.poem post-ritual
    pre.poem.
        in comes the new year,
        i enter it slowly,
        thick glass between me and you

        and i wonder if i should have faced you for it,
        left the window open,
                            all this silence from me,

        hot water in the nighttime the steam through
        our noses and out of our ears,
        voices mute down the hall footsteps disappearing
        from the ceiling,

        you burn your despair in my candle and let
        it drop in the rain, a flame, a leaf against
        the concrete,

        our hooded somnolence crawling back
        up the stairs,
                    it is our best attempt at death.

    .poem-title.poem slow train cure
    pre.poem.
        The cats are grey,
        grey leaks into me,
        your house is waterlogged,
        all those pretend lives drowning,
        who knows how to stave off a dream?,
        the dark leans in,
        snowy PA landscape,
        if you're hurt I'll leak into you,
        refineries and cornfields and cows,
        winter sun emptying out my eyes,
        the cave I can't climb out of,
        shiny object landscape,
        pedal and finger noises,
        if you have a love leak it out,
        wait until the end of the song,
        an auger for an ice pond,
        curious love let it stick.

    .poem-title.poem 12/8
    pre.poem.
        The weeks pass by,
        hand to night, foot to morning,
        rolling through tall grass,
        catching sight of stars;

        cloudy night of silence,
        no reply, walking through mist,
        lugging along my body,
        mouth to speak, mind to wither,

                    my life an open wound.



    .poem-title.poem 11/8
    pre.poem.
        Meager fuel,
                    I’ve learned
                    love falls upon people
                                    undeserved,
        as I replenish endlessly, K says
        this must mean I love you;

        kurosawa blizzards,
        drips of blood on melting snow;

        I can’t turn back; you are waiting at the bottom;
                        my mountain to yours.

        Soft white feathery forgiveness
        descends and slowly covers me,
                        a sort of coffin.

        When it spills out I play at being a saint.

    .poem-title.poem 11/5
    pre.poem.
        Morning has unfolded: the bed is warm
        from my own body,

        —strange,

        I like quiet before I leave,
        big ceremonial movements.

        I don't want to be the wise one,

        but
        each day I wake up and worry about
        the same thing—

        "the prolonged agony that eventually
        ends"—so,

        turn it into granules of sand,
        and then a beach, ragged underfoot
        (new york),
        then into the ocean,

        then back to shore. So,

        my clothes won't dry for days,
        seawater will stick to my skin,
        but the calm will bleed into night.


    //- .poem-title.poem Difficult ask (reprise)
    //- pre.poem.
    //-     In the face of my muteness
    //-     reflected across a lake of worries,
    //-     I try to breathe deeply, I try to
    //-     ignore you, the difficult ask.

    //-     <a class='dusk' href='/write/dusk/difficult-ask'>&rarr;</a>

    .poem-title.poem Walk-through
    pre.poem.
        This fragment of my life sits squat, just
        as you don't budge with your back turned to
        me, just as I rub my eyes refusing to move, as
        my sore head spins freely along three axes,
        as the fear-shaped thing inside me doesn't
        dislodge.

        A walk through the park:
        I am surrounded by birds, leaping squirrels,
        the quiet of midday, the start of november,
        the promise of pain.

        At last I am understanding this sonata of
        suffering, this path I have been stumbling on:
        it comes to me piece-meal, slowly, slowly, and
        with each morsel I trade in a bite of my flesh
        for a swing at that black hold, asphyxiation.


    .poem-title.poem Airplane survey
    pre.poem.
        My life hangs midair, each time I wake
        you are in a different contorted position,
        spotlit.
        We fly through the night;
        it is over, over
        too soon.

        Then
        low clouds kissing hills over germany,
        irene with sunrise

        (tributary wisps like a river,

        our inflexibilities,
        the cause of freedom is not the cause which
        causes the body;

        now
        with a still sea of sky below us,
        jet lines criss-crossing,
        our knees no longer touching,
        I find I am moving into grief),

        and
        the realization that I am suspended over an ocean,
        a substance so deep and so cold,
        so harmful to enter
        and so harmful to exit.

    .poem-title.poem Night island (forgiveness)
    pre.poem.
        We suffer together, trek out to the beach at night, stay up for K's heartbreak, dream of warm broth and car-rides home, of empty calendars, of being taken care of. The next day my mom comes and cleans the microwave, I sit squished between my parents as the sun retreats behind a building, sharing details of my life as I move further and further away. After they depart I'm left to shiver alone in my stale, barren world.

        We communicate haphazardly, but it feels like forgiveness, my throat raw from the coughing and the laughing and the joint and the onion rings and the sleeping late.

        Between vacuuming and crying, I implore you to sleep so I can rest.

    //- .poem-title.poem difficult ask
    //- pre.poem.
    //-     ‎                                            Look up!
    //-     you are walking toward me
    //-                                                 You are stiff fabric
    //-     made for the outdoors—

    //-     Sometimes I hold my head underwater
    //-                                                                   until I am
    //-     breathing in sand
    //-                                 —gratitude like medicine to
    //-     watch you float away.

    //-     You are the difficult ask:
    //-                                         I am reaching for warmth
    //-     I am putting out flames with my fingers
    //-                                                                   You
    //-     are the poet
    //-                         The falling apart is different every
    //-     day.

    //-     I am vapor exhumed after chemical cooling
    //-                                                                         not
    //-     piercing
    //-                  questions occur to me only later, delayed

    //-     The sky is overcast
    //-                                   melancholic
    //-                                                       like waking up to
    //-     a nightmare:
    //-                          scalding, thermal shock.

    //-     My brother has gone for groceries and
    //-                                                                 I am resting—

    //-     Check on me through the fever
    //-                                                       (though often I didn't)

    //-     I forgive you and forgive you and
    //-                                                         forgive.



    br
    br
    p.poetry-footer love, <br> suzanne <br><br> 2022
    br


    include write_home_link
