include ./../layout

link(rel='stylesheet', href='/stylesheets/write_style.css')

block content
  body.dusk
    h1.poetry-heading [wip] dusk, suspended

    .poem-title.poem Walk-through
    pre.poem.
        This fragment of my life sits squat, just
        as you don't budge with your back turned to
        me, just as I rub my eyes refusing to move, as
        my sore head spins freely along three axes,
        as the fear-shaped thing inside me doesn't
        dislodge.

        A walk through the park:
        I am surrounded by birds, leaping squirrels,
        the quiet of midday, the start of november,
        the promise of pain.

        At last I am understanding this sonata of
        suffering, this path I have been stumbling on:
        it comes to me piece-meal, slowly, slowly, and
        with each morsel I trade in a bite of my flesh
        for a swing at that black hold, asphyxiation.


    .poem-title.poem Airplane survey
    pre.poem.
        My whole life waits for the beverage cart to reach me,
        waking up two-thirds through an album, each time
        you're in a different contorted position,
        spotlighted.
        We fly through the night;
        it is over, over
        too soon.

        Then
        low clouds kissing hills over germany,
        irene with sunrise,

        (tributary wisps like a river,

        our inflexibilities,
        the cause of freedom is not the cause which
        causes the body;

        now,
        with a still sea of sky below us,
        jet lines criss-crossing,
        our knees no longer touching,
        I find I am moving into grief),

        and
        the realization that this is an ocean and a choice,
        that I may not want to dive into a substance so deep,
        so cold,
        so harmful to enter
        and so harmful to exit.

    .poem-title.poem Night island (forgiveness)
    pre.poem.
        We suffer together, trek out to the beach at night, stay up for K's heart breaking in front of our eyes, dream of warm broth and car-rides home, of empty calendars, of being taken care of. The next day my mom comes and cleans my microwave, I sit squished between my parents as the sun retreats behind a building, sharing details of my life as I move further and further away. After they depart I'm left to shiver alone in my stale, barren world.
        
        We communicate haphazardly, but it feels like forgiveness, my throat raw from the coughing and the laughing and the joint and the onion rings and the sleeping late.

        Between vacuuming and crying, I implore you to sleep so I can rest.



    br
    br
    p.poetry-footer love, <br> suzanne <br><br> 2022
    br

      
    include write_home_link
