include ./../layout

link(rel='stylesheet', href='/stylesheets/write_style.css')

block content
  h3 the embarrassment of pain

  p.sub.serif August 2017
  
  br
  
  div.serif
    p.
      I’m figuring out a lot, in and out of the shower. 

    p.
      There is a lot of privilege for me to unpack, as well as a lot of the self-centeredness that comes from it. There is a also a lot that I have already undone, and unpacked. I think I need to be easier on myself, I think I need to tell myself to <i>try</i> rather than to <i>be</i>. If there is one thing I’ve learned from the process of growing these past two years, it’s been that true change takes time. And time can pass slowly. But, even one day, one forever long day, will turn over some leaves, and bring on progress — a certain pain that is no longer felt, a certain realization that has finally sunk in. 
      
    p.
      I have thought about the thing I do not want to think about, let's call it X, without fail every single day, and sometimes I will still feel that familiar anxiety from when it was at its worst when I do things so marginally related to X. I have to be honest with myself about this, I have to be forthright. It hasn’t been easy, and despite all I have learned and unpacked, this particular pain is still a self-centered one. I still can’t explain it very well, to myself or to anyone. It’s lack of closure, it’s uncertainty, it’s swinging back and forth between best and worst cases, it’s assuming worst and trying to forget, it’s empathy and understanding the X side, it’s uncertainty, uncertainty, uncertainty…
    
    p.
      Ultimately it’s about me. It’s the best I can do right now. I am piece by piece eliminating the parts of my life in which I constantly center myself, in my friendships particularly. This last piece has been hard and is the most important.

    p.
      I keep going back to simple pain reliefs in any small downtime. Preparing myself for the worst case scenario. Imagining X never entered my life in this way. Paying really close attention to what’s happening in my present. Trying to find myself again, the self that could feed off of anything, the self that loved art and was okay. Practicing self-love, telling myself that I am worth love.
    p.
      Self-love wouldn’t put me through this dull, never ending pain. 

    p.
      Empathy wouldn’t put me through this either. 
      
    p.
      It’s anxiety — self-centered anxiety — that is standing in the way of full understanding, rationalization, and empathy. And it’s depression that’s keeping me from accessing my best self, that can thrive alone, even with a broken heart. 
      
    p.
      Looking back on this week, it has been hectic. My mind has been hectic. It’s been hectic this past month, heck. But even if this pain is relieved, it won’t be in time. In fact, it’ll probably be just in time for some new or old pain to make a grand appearance, as the semester starts back up. 
    
    p.
      It’s easy to lose hope with this kind of thinking. 
    
    p.
      I have been frustrated by how reminding myself of good things just causes me pain, since things aren’t currently good, and how I almost wish there was no hope, so I wasn’t able to get my hopes up, and I could just cut straight to the chase and focus on my recovery. 

    p.
      I don’t know what to focus on, and taking a step back always leaves me feeling embarrassed for feeling so much pain at all, fixating on this at all. 

  include write_home_link
