include ./../layout

link(rel='stylesheet', href='/stylesheets/write_style.css')

body.fiction
  block content
    .golden
      h1 GOLDEN
      h3 and the Beginning of Understanding
      
    br
    
    p.serif.
      Golden was a Land Star with a golden heart. Her golden heart was the most precious of hearts, the most malleable, the most abused, the most coveted, the most mistaken of hearts. 

      <br><br>

      There was a Sky Star the color of gold that Golden longed to see with her own eyes. She had only heard of such a star from the Saying of Sayings. Privately, not only did she hope to see this star, but she desired also to be this star. Further buried in a place not even Golden could access was the certainty that she had already become the Sky Star the Color of Gold. She always was this star, and would always be it.  
      
      <br><br>
      
      Sometimes the thoughts in Golden’s mind weren’t glowing ones. They were going to eat her alive according to the How It Goes. Golden had heard from the Saying of Sayings about the proverbial Gold Leafing. It was a beautiful name for the terrible transformation that happened to a Land Star when it was eaten alive by its own vicious thoughts. 
      
      <br><br>
      
      First, and this usually happened so early in a Land Star’s life, and so innocently that it often went unnoticed: a Land Star’s solid center would push outward, so desperately — gurgling, bubbling uncontrollably — seeking the light of those around it, that it would create a tiny, imperceptible hollow chamber at the center of the star. As the Land Star would grow in brightness, and begin to generate its own heat, light, and beauty (as is endowed by the Always Been), that hollow chamber would gradually become a Cave. There is nothing more dangerous than a Cave, the How It Goes informed Golden after it was too late. 
      
      <br><br>
      
      In such Land Stars with a Cave, their life — which should end in unimaginably pure, expansive white light — instead would finish in a pitiful fire that shrinks and dies into the darkness. As the Cave would grow, the Land Star’s shell would become mere Gold Leaf. Beautiful still, but barely holding up. Once the Cave would cave in, not even the Gold Leaf would burn on with its star — it would fly upwards, scattering to escape the ugly disaster underneath. Pure substances cannot stay long in intimacy with dead ones.   
      
      <br><br>
      
      Golden knew about all of this, more or less, and this is why after many weeks of spasmodic hovering, she went to the Running River. According to the How It Goes, there is a method of total and utter regenerating destruction that can leave a star so withered and little as to be ready for the Miracle of Rebirth by the Always Been. That is, Golden was going to plunge herself into the Running River.  
      
      <br><br>
      
      At this time, Golden had become so hollow as to be physically moved when passed by other Land Stars. Because of her empty center, Golden did not have the density to resist being affected by attractive or repellant forces (emitted both knowingly and unknowingly) from other Land Stars. No longer able to control her own direction, Golden was swallowed by Blackest Black mid-plunge into the Running River. This was not an occurrence to be feared; Golden was used to it — even enjoyed it by now — for what harm could Blackest Black do to her in a world of ensuing chaos, darkness, and loss of control?
      
      <br><br>

      Inside Blackest Black, the Saying of Sayings revealed a devastating piece of news to Golden which caused her to nearly cave in while inside of Blackest Black (an irremediably  destructive event). Luckily she was pulled out before then. Golden was left stuck between a river and a liminal space thinking about what had just been revealed: Golden’s heart was, in fact, not made of gold — but of alloy.  

      <br><br>
      
      As Golden’s world flipped, inverted, tumbled, and imploded, Golden remained fixated on her hollow center, her Absence Of — given all this, Golden could not begin to understand how she could still be subject to Gold Leafing. Her remaining desire for the Sky Star the Color of Gold tormented her. Her inability to travel without being pulled every which way still had not changed. In fact, Golden’s newfound knowledge of her alloyhood only weakened her. Her light was paler; her thoughts glowed even less; she could now feel the Cave pressing up against her shell — looming, threatening.   
      
      <br><br>

      Golden began to prefer Blackest Black to a life-time entrapped by other Land Stars who knew not even of her light or heart, however tainted. Golden’s thoughts told her that gold was just a color on her shell, and this was likely also true for the Sky Star the Color of Gold. Golden discovered by way of the How It Goes that gold cannot be tainted, yet also cannot purify the tainted. The gap between the color and the substance was collapsing dramatically.

      <br><br>
      
      Sky Stars did not operate by the rules of the How It Goes, though, and one day quite out of the blue, the Saying of Sayings whispered the name of the Sky Star the Color of Gold to Golden.  The names of Sky Stars are knowledge held only by the Always Been, and given out only with permission of the Always Been.   
      
      <br><br>
      
      Upon learning the name of the Sky Star the Color of Gold, Golden was given the haven of freedom of mobility. No longer constrained by the cloud of forces around her, and now floating with ease, Golden remembered the days of small, preciously contained, innocent light, and how she yearned earnestly for the Sky Star the Color of Gold in her youth. As that young Land Star in heart, Golden began to rise toward the sky. The more she was pulled upward, the brighter everything became. For the first time since the moment before plunging into the Running River, Golden forgot about her Cave. 
      
      <br><br>
      
      Then, something she had never even dreamed was possible happened: she heard a Sky Star speak. It was the Sky Star the Color of Gold! She could not see it, but she knew — with certainty, with simplicity — the origin of that voice. Its request was direct and simple: <i>come up and see if I am not merely the color of gold, but Gold itself.</i>  
      
      <br><br>
      
      This was the beginning of Golden’s understanding.
      

      
      
    br
    br
    br
    br
    br
    br

  
  include write_home_link
