include ./../layout

link(rel='stylesheet', href='/stylesheets/write_style.css')

block content
  h3 
    i to the writer
      
  br

  p.serif Hello, I find writing to be tremendously difficult sometimes but I have found the wisdom, courage, guidance, and inspiration to continue with the help of the words of these amazing people:

  .serif
    
    strong<a href='https://www.goodreads.com/book/show/46199.Letters_to_a_Young_Poet' target='_blank'>Rainer Maria Rilke, <i>Letters to a Young Poet</i></a>
    div 
      i On the essentiality of writing
    div.quote Nobody can advise and help you, nobody. There is only one single means. Go inside yourself. Discover the motive that bids you write; examine whether it sends its roots down to the deepest places of your heart, confess to yourself whether you would have to die if writing were denied to you. This before all: ask yourself in the quietest hour of your night: <i>must</i> I write? Dig down into yourself for a deep answer. And if this should be in the affirmative, if you may meet this solemn question with a strong and simple "I <i>must</i>", then build your life according to this necessity; your life must, right to its most unimportant and insignificant hour, become a token and a witness of this impulse. Then draw near to Nature. Then try, as if you were one of the first men, to say what you see and experience and love and lose.
    br
    djv
      i How to write
    div.quote Turn from the common themes to those which your own everyday life affords; depict your sorrows and desires, your passing thoughts and belief in some kind of beauty--depict all that with heartfelt, quiet, humble sincerity and use to express yourself the things that surround you, the images of your dreams and the objects of your memory.
    br

    strong<a href='https://www.goodreads.com/book/show/18521.A_Room_of_One_s_Own' target='_blank'>Virginia Woolf, <i>A Room of One's Own</i></a>
    div
      i Why we write
    div.quote Above all, you must illumine your own soul with its profundities and its shallows, and its vanities and its generosities, and say what your beauty means to you or your plainness...
    br
    div
      i The mind's ideal condition to write
    div.quote The whole of the mind must lie wide open if we are to get the sense that the writer is communicating their experience with perfect fullness. There must be freedom and there must be peace. Not a wheel must grate, not a light glimmer. The curtains must be close drawn. The writer, I thought, once their experience is over, must lie back and let their mind celebrate its nuptials in the darkness. They must not look or question what is being done.
    br
    div
      i On criticism
    div.quote Praise and blame alike mean nothing. No, delightful as the pastime of measuring may be, it is the most futile of all occupations, and to submit to the decrees of the measurers the most servile of attitudes. So long as you write what you wish to write, that is all that matters; and whether it matters for ages or only for hours, nobody can say. But to sacrifice a hair of the head of your vision, a shade of its colour, in deference to some Headmaster with a silver pot in his hand or to some professor with a measuring-rod up his sleeve, is the most abject treachery.
    br
    div
      i Travel, idle, contemplate, dream...
    div.quote By hook or by crook, I hope that you will possess yourselves of money enough to travel and to idle, to contemplate the future or the past of the world, to dream over books and loiter at street corners and let the line of thought dip deep into the stream.
    br
    div
      i Writing as living in the presence of reality
    div.quote Now the writer, as I think, has the chance to live more than other people in the presence of this reality. It is their business to find it and collect it and communicate it to the rest of us...So that when I ask you to earn money and have a room of your own, I am asking you to live in the presence of reality, an invigorating life, it would appear, whether one can impart it or not.
    br
    div
      i The importance of being oneself
    div.quote When I rummage in my own mind I find no noble sentiments about being companions and equals and influencing the world to higher ends. I find myself saying briefly and prosaically that it is much more important to be oneself than anything else. Do not dream of influencing other people, I would say, if I knew how to make it sound exalted. Think of things in themselves.
    br

    strong<a href='https://www.theguardian.com/film/2011/oct/03/charlie-kaufman-how-to-write' target='_blank'>Charlie Kaufman on writing</a>
    div
      i On storytelling
    div.quote Storytelling is inherently dangerous. Consider a traumatic event in your life. Think about how you experienced it. Now think about how you told it to someone a year later. Now think about how you told it for the hundredth time. It's not the same thing. Most people think perspective is a good thing: you can figure out characters arcs, you can apply a moral, you can tell it with understanding and context. But this perspective is a misrepresentation: it's a reconstruction with meaning, and as such bears little resemblance to the event. <br><br>The other thing that happens is adjustment. You find out which part of the story works, which part to embellish, which to jettison. You fashion it. Your goal is to be entertaining. This is true for a story told at a dinner party, and it's true for stories told through movies. Don't let anyone tell you what a story is, what it needs to include. As an experiment, write a non-story. It will have a chance of being different.
    br
    div
      i On specificity of medium and intentionality
    div.quote I like the idea that the story changes over time even though nothing has changed on the outside. What's changed is all in my head and has to do with a realisation on my character's part. And the story can only be told in a particular form. It can't be told in a painting. The point is: it's very important that what you do is specific to the medium in which you're doing it, and that you utilise what is specific about that medium to do the work. And if you can't think about why it should be done this way, then it doesn't need to be done.
    br

    strong<a href='https://thecreativeindependent.com/people/jenny-zhang-on-writing-the-secret-language-in-your-head/' target='_blank'>Jenny Zhang, "On writing the secret languages in your head"</a>
    div
      i Every writer should have a question
    div.quote I think that every writer should have a question they can ask that there is no end to the pursuit of. Every writer should have questions big enough and pressing enough and multi-faceted enough and unanswerable enough that they occupy their entire life, however long or short it is.
    br
    div
      i On greatness
    div.quote I think the main thing is to let go of the idea of greatness. Wanting to be great is really limiting. Wanting to be great, wanting to be perfect, wanting to wow and to stun and to dazzle—letting go of that is the most important thing.<br><br>You have to both be incredibly willing to be humbled and also, at the same time, hold an incredibly high level of delusion. The high level of delusion is what allows you to keep writing and to want to share it with the world. But you also have to accept that it might not mean anything to other people, or that you might be writing so esoterically or so privately that other people have no way of entering into your ideas. Everyone is constantly trying to articulate the secret languages in their head to the outside world. If your language is too secret, then no one can understand; if your language is completely public, then there’s no mystery. There’s no longer the pleasure of decoding.
    br
    
    strong<a href='https://aaww.org/the-occasional-writer-an-interview-with-science-fiction-author-ted-chiang/' target='_blank'>Ted Chiang, "The Occasional Writer"</a>
    div
      i On coming up with ideas
    div.quote The fact is, I don’t get a lot of ideas that interest me enough to write a story about them. Writing is hard for me, and an idea has to be really thought-provoking for me to put in the necessary effort. Occasionally I get an idea that sticks in my head for months or years; that tells me there’s something about the idea that’s compelling to me, and I need to figure out precisely what that is. I spend some time brainstorming, looking at it from different angles, and contemplating the different ways I might build a story about it. Eventually I come up with a storyline and an ending, and then I can start writing. <br><br>I have previously described myself as an occasional writer, and I feel that’s a fair description. Writing fiction is important to me, but it’s not something I feel like doing all the time.
    br

    strong<a href='https://www.brainpickings.org/2013/08/09/annie-dillard-on-writing/' target='_blank'>Annie Dillard on writing</a>
    div
      i Spend it all, give freely, don't hoard
    div.quote One of the few things I know about writing is this: Spend it all, shoot it, play it, lose it, all, right away, every time. Don’t hoard what seems good for a later place in the book, or for another book; give it, give it all, give it now. The very impulse to save something good for a better place later is the signal to spend it now. Something more will arise for later, something better. These things fill from behind, from beneath, like well water. Similarly, the impulse to keep to yourself what you have learned is not only shameful; it is destructive. Anything you do not give freely and abundantly becomes lost to you. You open your safe and find ashes.

    br

    strong<a href='https://www.brainpickings.org/2016/09/07/jennifer-egan-on-writing/' target='_blank'>Jennifer Egan on writing</a>
    div
      i Be willing to write badly!
    div.quote You can only write regularly if you’re willing to write badly. You can’t write regularly and well. One should accept bad writing as a way of priming the pump, a warm-up exersize that allows you to write well.

    br
    
    strong<a href='https://www.goodreads.com/en/book/show/20613666' target='_blank'>Sarah Ruhl, "The drama of the sentence," <i>100 Essays I Don't Have Time to Write"</i></a>
    div
      i It's the way the story is told
    div.quote. 
      If it is true that there is nothing new under the sun and that there are only two or three basic human stories worth telling, then the contribution of the playwright is not necessarily the story itself but the way the story is told, word for word. So that there is a drama in the linguistic progression: what word will follow what word? I might call this the drama of the sentence, how it will unfold, how it will go up and down, how it will stop.<br>
      …<br>
      A writer’s special purview and intimate power is how a word follows a word. And the cultural dependence on stories has slowly deprived playwrights of their province—to be the only person in the room who should know which word should follow which word, or (in Virginia Woolf’s words) how a voice answers a voice.<br>
      …<br>
      It is a different kind of listening, to listen to how the phrase unfolds as opposed to listening only to how the story unfolds. Surely stories are important—just as having a subject is crucial for the painter. But playwriting will no longer be considered an art form if we are deprived of the paint—that is to say, our language.


    br
    
    strong<a href='https://www.goodreads.com/book/show/24970' target='_blank'>Soren Kierkeaard, "Diapsalmata," <i>Either/Or</i></a>
    div
      i Set down your reflections carelessly
    div.quote. 
      Tested Advice for Authors: Set down your reflections carelessly, and let them be printed; in correcting the proof sheets a number of good ideas will gradually suggest themselves. Therefore, take courage, all you who have not yet dared to publish anything; even misprints are not to be dispised, and an author who becomes witty by the aid of misprints, must be regarded as having become wittty in a perfectly lawful manner.



  br
  br
  p.poetry-footer love,<br>suzanne
 
  
  
  include write_home_link
