include ./../layout

link(rel='stylesheet', href='/stylesheets/write_style.css')

block content
  h1.poetry-heading If I Am To Be Filled



  .poem-title.poem The over
    span.poem-link.poem
    a(href='/images/write/overlook.jpg', target='_blank') look on the way down
  pre.poem.
    When the clouds sit on the edge of their seats
    they are both far and massive,
    both spectator and companion.

    I was glad to find them behind tangled wires,
    graphic, drawn into place.

    I have no raison d’être
    in front of summer linen buildings,
    landscaped, painted into place.

    And I wonder how to give in and let go,
    how to be far and massive,
    spectator and companion. 

  .poem-title.poem 4/30
  pre.poem.
    surely morning will come,
    and goodness will follow me.

    help me remember through
    glass tinted blue my life stretched out
    behind me.

    whisper to me through 
    pink stained skies what you have
    ahead of me.

    surely morning will come,
    and goodness will follow me.

  .poem-title.poem The gentle live long
  pre.poem.
    On daily renewal: I couldn’t believe
    how dark a darkness could make
    a morning, I couldn’t stand it

    any longer than you could. I’m afraid
    I’ve done you wrong, love, I’m afraid
    I am a vulture and not a crow, that

    to be cursed is not to be vulnerable
    but to prey upon the dead and the nearly-
    dead. The gentle live long, their dust

    storms haven’t pierced their skin, but I
    can’t see past this rod through my eye,
    it’s in my brain too.

  .poem-title.poem Passed over
  pre.poem. 
    1
    Somehow, somewhere
    they changed up the numbers, they
    left you millions for my death—planned,
    strategic, leave the world a better place.

    For the brush cleaners, for the wood
    painters, for the piano tuners:

    2
    Night bleeds into day, too—
    the wrong way.
    I can list the places I went
    looking for you,
    sunny strength, quick winds,
    drenched in the night.

  .poem-title.poem Psalm −1
  pre.poem. 
    If I am to be filled then fill me.

  .poem-title.poem Chess dreams
  pre.poem. 
    I remember waking up to the  
    reachings of tomorrow,  
    I asked myself: what did you used to believe?  
    Voices murmured, swimming between my ears,  
    quiet, like what a mother says to her child  
    to let her know she’s still there. It meant  
    absolutely nothing, didn’t it—sequence of  
    images, a panic forgotten—(dip yourself into  
    the river, dip yourself into the river, dip yourself  
    into the river).   
    
    I remember fitting myself gently into  
    the figure of a melody, barely, in C so that I  
    could see its character. If time stopped  
    and never started again it would be the best  
    death, I thought to the voices how close they  
    were, how they’ve been more than a lifelong  
    friend, essential as my first language.    

    I can’t believe quiet until I see it, up top a  
    mountain in San Jose, how it’s thicker than  
    a dream,  
    a key I can finally comprehend. I loved to be  
    pushed backward, old comfort in questions  
    that might tear the veil of mystery, of mornings,  
    of sickness.    

    I remember sinking and half-lidded wondering  
    about the lawn path I needed to  
    trace, the buckets and wheels of water  
    that for once turned with me,  
    I was so glad. I saw everyone for one last time  
    before picking up and moving on. A dead   
    bishop cannot be out to get me. The  
    murmurings always continued.    

    I remember not waking up.  

  .poem-title.poem Cambridge, MA
  pre.poem. 
    I have become very secretive  
    again;  
      
    I can see my ribs  
    again;   
      
    I had a dream about a bees nest and  
    ladybug bees;  

    A dance show that made me bleed  
    as if I had been bitten;  
      
    A three hour art class everyone loved after the  
    show;  
      
    Time trudges along,    
    I fall down like a boot dragged through the  
    mud;  
    On a concrete day,  
    where the weather can’t sit still.  
      
    I was swallowed by the hotel bed.  
    What remains to be already drained down the  
    shower, my inside loose with the very rest;  
    As thirteen year old Jayme Closs is found alive!,
    so am I. 

  .poem-title.poem 10/25
  pre.poem. 
    Give me your old, your weary, your tired, tired  
    eyes; give me your boundary, your battle, your   
    purchased, ticketed demise; and her wonders,  
    her worries, her hurried, infected ways 
    wont sink down, and tumble, 
    and all go to waste. 

  br
  br
  p.poetry-footer love, <br> suzanne. <br><br> spring, 2019
  br

      
  include write_home
