include ./../layout

link(rel='stylesheet', href='/stylesheets/write_style.css')

block content
  h1.poetry-heading Letters

  .poem-title.poem 9/16
  pre.poem. 
    I sometimes ask for rain,
    that you will not join me today.

  .poem-title.poem Here comes another crossing
  pre.poem. 
    Here comes another crossing,
    unprepared for my trembling
    feet to tread;
    forgiveness had me laughing
    my way to insanity, leaving
    crumbs of truth—shed—for
    some unfortunate version
    of me to find.
    I sliced you up good, and lost
    track of which form you took
    in my head;
    though you are constant and kind,
    the crossing is not wide
    enough—yet.

  .poem-title.poem For my Rilke, and other half-opened cans
  pre.poem. 
    End-
    -ing on a fast note,
    I tried to hold on to the
    cracks in the road, the slow
    of help, the slew of faces,
    half-opened cans, before
    I imagine something
    I cannot 
    begin.

  //- .poem-title.poem For my Chet
  //- pre.poem. 
  //-   Sun-kissed, I sought to haunt you—
  //-   if only a cloud, covering, if only a sun,
  //-   setting, if only the wall behind you
  //-   as you look into the mirror.

  .poem-title.poem For my Bacardi Gold
  pre.poem. 
    I—now castaway—can ask: but what
    do I expect of friendship? I slip
    through months, pushing past faces,
    brushing by shoulders; I get on like
    you. Still, your picture provokes in me
    something too essential to utter; I rose
    for air desperately to find it again
    (maybe you were there too), yours the
    face of an entire future. Well, the 
    night has long expired, and a 
    friend forgotten is no feeling 
    at all.

  .poem-title.poem For my Chuck Taylor
  pre.poem. 
    Bear the safe ending:
    the one where I am not in your skin
    and you are not airborne.

    But you lift like the dust under my bed,
    and I breathe you in as easily as the
    midnight sky.

    You’ve coated my hollow skull in
    a softness seeping into my vision, and
    it liquefies as it stings down my throat.

    Your edges shed as I approach,
    as I can barely see, all your life
    lifting before me,

    you little thing.


  .poem-title.poem For my Tommy
  pre.poem. 
    You swept the room clean of yourself
    after you pushed out that itch in the back
    of your head;
    I kept my silence.

    I needed it to enter my ears slanted
    from the prickling of your untouched gaze
    at my sides,
    though I couldn’t keep still.


  .poem-title.poem For my Happy Cola
  pre.poem. 
    Is this the part where we say yes?

    I want to open that latch on the 
    ceiling and read what’s written there,
    that tiny sliver of a bare heart
    I saw as you fell asleep and invited
    me in.

    In the mornings our memories are erased
    and we start over;
    you roll over on the floor
    as I turn away;
    we can’t believe our
    own waste.

    This is the part where we speak in
    hushed tones: it’s the place for the
    disastrous vast, the untamable pummeling—
    the Super-Rapid-Express-Bullet Rail.

    In a moment, we forget our truth as suddenly
    as we lose our foothold;
    and so this is how I switch off:
    this is the part where I say no.



  br
  br
  p.poetry-footer love, <br> suzanne <br><br> summer & fall, 2019.
  br

      
  include write_home_link
