include ./../layout

link(rel='stylesheet', href='/stylesheets/write_style.css')

body.fiction
  block content
    .june
      h1 MY JUNE BUG
      h3 and Other Stories

    br

    .june
      ol.serif.toc
        li.red
          a(href='#ive-fallen') (I've fallen a long way)
        li.yellow
          a(href='#my-june-bug') My June Bug 
        li.green
          a(href='#the-groundhog') The Groundhog
        li.green
          a(href='#each-time') (Each time something has gone wrong)
        li.red
          a(href='#let-me-state') (Let me state a simple law)
        li.yellow
          a(href='#augusta') Augusta
        li.purple
          a(href='#he-waited') (He waited until the sun came up)
        li.purple
          a(href='#postlude') Postlude: After White
          
    br
    br
    br
  

    .june(id='ive-fallen').red
      h3 (I've fallen a long way)
    
    p.serif.
      I’ve fallen a long way. Hers was the one voice that ever stuck. I’d still like to hear it. Some of these things I don’t like to end; they appear like the full moon.

      <br><br>

      The caress of the sun had been too painful that afternoon: a sigh, then it was over. These strange rises—how magnificent they are; as if life was exquisite; perfection—and how quickly they fall apart; loosen; give underneath the tremendous weight of such majesty.

      <br><br>

      Some reveries do have us; will take us in—a time well spent: that chasing after the next step into the sky; that reckless flying. That’s how I ran those days: wildly into the sun, burning.

      <br><br>

      My time in the sea faired no better. How is one to find the contents of a dream in total darkness? Surrounded by a velvet so heavy—how does one ever resurface? With a sigh, I withdrew; was pulled away; it ended.

      <br><br>

      As the deep earth champions its warmth, I championed that envelope of time: her hair fire in the sunset, and the distant mountains at dusk; how could we go higher? There was nothing greater. Like a sigh, it fell down. Like the moon, we waned.

    br
    br
    br

    .june(id='my-june-bug').yellow
      h3 My June Bug

    p.serif.
      My June Bug and I met trying to find our way back to the main path on Mount B—. We were both ones to easily become lost and cling desperately onto the absolute next sweet thing that appeared. Together we reached the summit, and feeling that this was not enough, endeavored to take the long, scenic way down. The mountain never ends, and the boundary between trough and peak is obscured by dizzying, cyclic sights. This was the beginning of summer, and we met breathless and spent.

      <br><br>

      The beginning is always happy and lovely. We linger  in the sun and learn small details slowly. We bathe in white linen and Dostoyevsky, the barriers between us becoming threadbare.

      <br><br>

      A good day hardly crosses midnight before dissipating. I started to worry about stains, irreparable damages, and the fragility of friendship. She is dangerous; in the mornings I woke to cold fronts and rain.

      <br><br>

      She never finished the book we started together, and I couldn’t leave it any longer.


    br
    br
    br

    .june(id='the-groundhog').green
      h3 The Groundhog

    p.serif.
      This groundhog is by far the largest creature here. He’s at it all day: digging, digging, digging. All day: eating here, eating there. He is the only one here. All day I wonder what it is I admire about him.

      <br><br>

      I notice all these problems—take my roommate for example. My roommate: his problem is that he’s a narcissist. He will only do the dishes if it’s to tell me that he did them later. Every day he asks me if he looks alright, how’s his hair, does it look good? I suppose it does; but that makes little difference.

      <br><br>

      I wonder if he gets tired of having to circle back around to make sure I see him; that I notice; that I’m here; that I care. Is he afraid he will cease to exist?

      <br><br>

      I’m sure the groundhog would scurry on without me watching him every waking minute. I feel a serenity when I do watch him. It’s as if by attending to this task: watching the groundhog—by subscribing to this short-circuited news cycle of what the groundhog is up to—my body, mind, and selfhood are relegated to the background. I disappear.

      <br><br>

      Oh, it’s a wonderful feeling; a freedom beyond any other. And the groundhog: he just keeps scrambling around, nibbling, watching for movement. It’s always the same thing.


    br
    br
    br

    .june(id='each-time').green
      h3 (Each time something has gone wrong)

    p.serif.
      Each time something has gone wrong—that drop in her shoulders; a sharp edge to the air, threatening to explode at the slightest nudge—a prickly excitement leaps within me: the hope that I can save her; that I will say a word or a sentence and she will look up—beaming—at me, thankful, drowning in joy and relief; oh, this: her relief—that’s the ecstasy I’m after.

      <br><br>

      She’s so pent up, I’d like to circle around her like a crow, feasting on her worries; making them go away: I want to be locked in. I want to carry her to bed. Her weariness—that devious obtrusion—the way it hangs upon her eye: I could pick it up, fastidiously, transform it into a warmth: a grayness she could sink into at long last—that dear, familiar heaven: point its maniacal center away from us, catch her limp body—and how slowly we could confer in the darkness; oh, how I’ve been longing for it.


    br
    br
    br

    .june(id='let-me-state').red
      h3 (Let me state a simple law)

    p.serif.
      Let me state a simple law: if the rate of input exceeds the rate of output, the accumulated sum will approach infinity.

      <br><br>

      This weighed upon me and kept me from seeing clearly. I have constructed and tended to a great life that only I can see. I said yesterday to S—, I have become a terrible and jealous person. You wish to be other people? I wish to be great. It is something that once you have, you don't feel. I know.

      <br><br>

      The greatness is in my head; it’s neither worthwhile nor feasible. I didn’t know how to express this, so we did our dance of I Knows without knowing anything. She does not presume to know me, which is good. Though I want her to: is that good?

      <br><br>

      She goes through each task methodically. Have I known anyone more thorough? Let me fold your socks; let me wash your dishes; let me sort your mail; let me find a place to eat; I chose a vacuum for you to buy; how do you feel about Lake P— this weekend?

      <br><br>

      How can I answer such a question?

      <br><br>

      I feel sickly and frail. My head hurts with a foggy, diffuse pain—a confusion. We look into each other’s eyes for an hour. I read about it in a book and thought it was a bright idea. I don’t know how we ever managed it, but it thrills me. The sun travels its course as we sit in the bluing corner by the window. I lose my body.

      <br><br>

      We go to eat bagels on Saturday. She tells me about her cousin but I am anxious to get to the heart of some matter. It’s impossible to articulate. Try, she says. You’ll get the vagaries of an imprecise mind. That’s never stopped you before. I feel our lives are colliding; I feel I have too much to tell you; I feel you already know.

      <br><br>

      The mechanisms of life tend to take care of themselves. For all her exactitude, S— does not plan far ahead. I try to take her arm but cannot. I wish she would tell me, I am constant.

    br
    br
    br

    .june(id='augusta').yellow
      h3 Augusta

    p.serif.
      Augusta and I are roommates. It’s a large flat uptown, though because of medical school applications she is rarely here. I don’t know why she can’t work in our apartment, as far as I know she spends most of her time at her parents’ place. She has a boyfriend—an altogether negligible detail since I never see him and she never mentions him. Perhaps she spends all her time at his place. Though perhaps he does not even live in the city.

      <br><br>

      One night I had plans to see a concert with my brother. The Philharmonic was playing Saint-Saëns’s “Organ Symphony.” I was looking forward to dressing up, since formalwear is rarely required of me anymore. Augusta reappeared sometime in the morning, though I was at work. I came back to the apartment around seven and didn’t expect to see her. A burning yellow intensified by the hardwood floor lit up our living room, and she greeted me, her eyes nearly transparent, the whole scene something of an apparition.

      <br><br>

      Augusta suggested we go for a walk, and I agreed, though I worried about getting late to the concert. This concern dissipated as we stepped outside into the heavy summer air. The sun was just setting, and I could feel the onset of the night’s coolness.

      <br><br>

      Summer nights on the East coast hold a special place in my memory. I love the way the humidity carries the warmth of the day into the night, like an envelope of safety: a shield against all my fears and night terrors. Night walks in the city during the summer are especially lovely. The air is perfectly still if not gently breezy, and the streets are thick with people reviving themselves after a long day underneath an unrelenting fire. With the world between us and the sun, the city becomes bearable and our lives can really begin.

      <br><br>

      We fell back into natural conversation. I was enjoying the navy haze of the early evening, and not paying too much attention to where we were going. We came across a children’s puzzle event with glowing gadgets hanging from make-shift tents, and neon chalk on the sidewalk. We stopped for a while to goof around, then crossed a small walkway over a busy, brightly lit street.

      <br><br>

      At this point I remembered the concert, and tried to orient myself. We had wandered in the opposite direction from where I needed to go, so I told Augusta that I really had better get going. We joked around, smiling, giggling, and she said she could carry me there. I laughed, daring her, and she lifted me onto her back and ran haphazardly for half a block before we both collapsed out of breath and shrieking in a playful hysteria. An urgency finally overtook me, and she said she’d see me back at the apartment later. We parted.

      <br><br>

      In my rush to get to the theater on time I didn’t think much of my night so far. Later, on the way home, the sensory experience of earlier began to impress itself onto my body. I wondered what I would return to. With Saint-Saëns pulsating between my ears, and the lingering touch of Augusta, I unlocked the door to our apartment and stepped in.

    br
    br
    br

    .june(id='he-waited').purple
      h3 (He waited until the sun came up)

    p.serif.
      He waited until the sun came up, until the moon no longer shone through the paneled windows of his bedroom, until the blanket of sleep was a distant memory. He waited for the clocks to turn, for each hour to strike and fade, for the dandelions to inch their necks upward, for the shadows to change.

      <br><br>

      He waited for the mourning dove’s call, for the sound of feet sliding across hardwood next door, for hurried boots flying down the steps, for silence again. He waited for the songbirds to feed, for the sky’s daily painting, for a speck of springtime in the air.

      <br><br>

      He wasn’t given a time or place; he wasn’t given a description or direction. He could not count. He could only wait.

      <br><br>

      He waited for the electric vigor of new hands, for the comforting warmth of old ones, for the instant in which he could not distinguish the two. He waited for her to cross his path, for him to climb up the stairs, for the feeling of being inside a smile.

      <br><br>

      He waited for endless relief, and for the dark valley that followed: the empty chamber. He waited for windows, for doors, for rooms; he waited for small whispers, for alarming shouts. He waited for the end.

      <br><br>

      After each moment came and went, at the very end: he did not know it was the end. And so it ended.

    br
    br
    br
  
    .june(id='postlude').purple
      h3 Postlude: After White

    p.serif.
      This deflating spirit of the afternoon: after we had permission to leave work, as the snow piled high and the windowpane turned a deep blue: we were exhaustion embodied. The day had been a brilliant, monolithic grey-whiteness. We turned in; we—low to the ground, dragging our knuckles, knees almost gracing the soft, frozen, blanketed ground. What had we to lose today? What more could be taken?—today, we can offer nothing, and nothing more is asked of us.

      <br><br>

      We lay down and let the darkness cover our eyes; our limbs motionless, our minds paralyzed: who could fight it? Who could resist the soft, warm soil of it? It seemed something life-giving; something from the center of the Earth: unseen, unknown, within. Who can see the inside of their eyes? Who can feel the inside of their body? Who can know the magnificence of Two from within One?

      <br><br>

      (Who can stretch themselves beyond their understanding? Whose will can encompass the intellect of God? Who can hibernate? Who can survive death? Who can lower themselves underneath the feet of even the proud? Who can in youth be young? Who can know the meaning of work? Who may disappear?)

      
      
    br
    br
    br
    br
    br
    br

  
  include write_home_link
