include ./../layout

link(rel='stylesheet', href='/stylesheets/write_style.css')

block content
  body.dusk.screen
    h1.poetry-heading rain 1
    br

    .poem-title.poem 7/15
    pre.poem.
        a bird’s nest in my hands.
        waters diverted, unclarity, until they reach
        and no longer flood,
        rather, posed as a question. i always
        hold my breath.

    //- .poem-title.poem 7/5
    //- pre.poem.
    //-     looking at my bruised knees, something crumples inside me.
    //-     odd shaped gray and brown dots. a sickly watercolor attempt.
    //-     and it pulls me smaller, attached i am to this rope again.


    .poem-title.poem 7/2
    pre.poem.
        around my memory a forest.
        daily walks to the house with boarded up windows,
        in what should have been silence, but instead,
        something twisted and dissonant. i mix up sitting
        in the car in front of —’s house, we talk crime and punishment,
        with pulling myself out of west virginia in tears,
        the feeling of something accomplished, summer arriven.
        the short pause as we roll over the hill. sweet moments
        away from —. the shadow was heavy and full of rain.
        oak and maple green on either side of me for seven
        hours of disentangling.
        going between aspengroves and sandstone.

    //- .poem-title.poem retreat
    //- pre.poem.
    //-     hardy body bursts once/
    //-     skin translucent. pierced/
    //-     inflated face. eye to glass/
    //-     careful/
    //-     breath broken/
    //-     catch it, pieces scatter/
    //-     heartwater/
    //-     camouflage ground/
    //-     snail spirals inward. centipede outward/
    //-     recoil/
    //-     sun shot. surrounded/
    //-     spill surface. preparation/
    //-     intact.

    .poem-title.poem year
    pre.poem.
        june again and i still
        see you in places like i see my
        brother in everyone.

        you would like the quartzite, and you
        would like Carson on Celan.
        they’re your arms pressed up against the
        pebbled crag;
        they’re your plea for objectivity, antibiography,
        writing against writing.

        in — i might speak an unreachable language.
        away from the edge.
        i am a tree now, i may be severed.

    .poem-title.poem climbing
    pre.poem.
        i am aware that my body is blood.
        facing rock is facing death. mosquitoes, pouring into rock,
        seeping through my pants; in the water.

        i am away, but not enough away. the sky blackens unnoticed
        after rain. i was looking up at a blue carpet square.

        we are surrounded by fern forests and fireflies;
        it’s enough excitement to not tell the story in my head,
        pretend i was airlifted out of the void onto the bottom of a cliff.

        black glass and nascent music. i am sure there are stars behind those.
        the earth can keep turning, i no longer mind.

    .poem-title.poem pgh rain 1
    pre.poem.
        anywhere, a private lesson. soft tones
        in the wet summer nighttime, i don’t need to tell you
        it’s my favorite. these american summers. the tour, your voice
        soft staccato, filling a map. i’m too far.

        i’ve broken and entered, sitting in the dark in the back
        of the lecture hall. you search. it’s too late now,
        of course. i woke up and you were sick.

        a shared roof. we break and enter. there’s a man following
        you around. i am free spirited. i am a cave.

        your pause, the punchline. clear-eyed confusion, glassy
        pittsburgh rain. i am laughter, not logic. here: the roof!

        blockades ahead of me. my delay. i walk too slowly.
        letting it swing.


    br
    br
    //- p.poetry-footer love, <br> suzanne <br><br> 2025
    br


    include write_home_link
