include ./../layout

link(rel='stylesheet', href='/stylesheets/write_style.css')

block content
  body.dusk.screen
    h1.poetry-heading [wip] screen
    br

    .poem-title.poem 7/17
    pre.poem.
        Monday will, it hammers between
        my ears, a battle thinking itself into
        being, between years & the feeling of
        travelling, consider the fight, consider
        the jetlag & mysterious pains.

        A will to wake up, each time secret,
        each stargaze separate, plenty room
        for us to mean nothing or everything;
        the secret of each of our languages,
        & broken alarms, & the battering of
        our wills.

        Fitful, troublesome words, weakly they
        hold onto my arms, as will slips out,
        let me think against,
        and go.

    .poem-title.poem 5/14
    pre.poem.
        was the roach in my dream
        was the wall crawling, light touches,
        heavy footsteps
        was the shadow from the light,
        light on,
        door swinging, creaking in between
        open and closed,
        face turned into the couch,
        object impermanence,
        was the light the sun
        was the morning today
        is the night the moon beaming,
        waking curled
        was the satellite,
        is the water a dream,
        damp skin, plant food,
        is today the night closing in?
        dream off.



    .poem-title.poem supplant
    pre.poem.
        Forest fire
        dry
        enough to ignite,
        it was dangerous to meet you,
        saplings reborn,

        I grew up with oak,
        birch,

        the deer problem,
        the one-lane highway.

        Full moon you saw death
        it ate your dawns,

        head racing upward,
        the sky leans down to meet you.


    .poem-title.poem 2/7
    pre.poem.
        Revelatory dove
        landing on fire escape,
        I’m in the airplane,
        a graceful descent
        for humans,
        morning shows up empty,
        coldfingers stuck underneath
        windows,
        lovefingers given away as charity,
        silent as man breathing, as man heaving,
        stench filling the room,
        apologetic I wait, humidifier off,
        man alone fridays,
        silent as found treasure,
        my disbelief driving,
        discarding vestigial selves
        winding up skinny roads,
        containers like airplanes,
        substitutes for sky,
        dove quiet visit,
        mourning.

    //- .poem-title.poem 1/31
    //- pre.poem.
    //-     Fractional hope, I split an antihistamine in two,
    //-     digital wristwatch just runs, no ticking, no fuss,
    //-     functional hope, I hide memories from myself,
    //-     high places and dark corners,
    //-                     chopin to calm, tarkovsky to breathe,
    //-                     sweet trip to choke, sartre to sulk,
    //-     pages of my journal return to me,
    //-     delicate petals of last july: I weep
    //-     for you, I want to say:
    //-     turn back, I want
    //-     to say: I’m sorry.

    //- .poem-title.poem home by 9
    //- pre.poem.
    //-     Men will approach me in the worst states,
    //-     when I am waiting for my rice bowl in the ktown food gallery
    //-     recovering from crying about you,
    //-     my therapist lingering, investigatory, we went late today,
    //-     she told me that I can't map my decisions onto yours,
    //-     her large coffee a fixture of this room, maroon nails instead of eyes,
    //-     that I need to rest without detaching,
    //-     is it fallacy, my belief that moods amortize?
    //-     She speaks my name.
    //-     In detachment there is death, perhaps,
    //-     that part of me holding on is the only real part,
    //-     the rest is fat, muscle, scar tissue, skin casing. I cried at the thought.
    //-     How could I antagonize the only scrap of life worth living?
    //-     You'd become a computer if you could,
    //-     I answer your questions in poems, each of your thoughts my thoughts,
    //-     tiger sugar swamped at night, gong cha instead, nearly fainting on the 6,
    //-     you'll be happy to know I feel hunger for food too, not just you,
    //-     I want to be christ-like, pulling punches,
    //-     I want to be holy,
    //-     my therapist tugged it out of me,
    //-     gripping my cord gladly,
    //-     which of itself is almost enough.

    //- .poem-title.poem kindness
    //- pre.poem.
    //-     Crumpled paper flies around my head,
    //-     dead leaves off trees, yet
    //-     through the wind storm you hold on,
    //-     you hold onto me and I open my eyes, shocked,

    //-     cooking oil, detergent, soap in my food, droppings on
    //-     my clothes, is any of it parve?,
    //-     the dead leaves still stuck to branches—wintered,
    //-     frozen in time,
    //-     the sun only bakes, never boils,

    //-     “we can get there” you say,
    //-     “but I’m bleeding” I say,

    //-     I become a dead leaf stuck to your branch,
    //-     fingers clasped around your arm,
    //-     and then april will come with my second death,

    //-     “I want to make sure you’re alive” you say,

    //-     none of this is water, it evades my skin,
    //-     I am asking for your breath, I cannot speak,
    //-     pour sand into my mouth, bury me underneath you,
    //-     you’ll still have my body to wrap around and desiccate,

    //-     my last drops tears,
    //-     my final words blood.


    //- .poem-title.poem screen
    //- pre.poem.
    //-     Dark navy blue it is like we are watching a movie
    //-                                                     				something to look at
    //-                                     but not for my hands,
    //-                                             is this how J felt when he tainted our nights?
    //-                                                                                     Fingers and mouths in the
    //-                                                                                     dark navy blue,
    //-                                                         watching myself from the back row with
    //-                                                             figures bumping the screen,
    //-                                                                     hair and hat shapes,
    //-         I am like your shadow
    //-                         something you lose in the fog and
    //-                                             then appears to you like a gift,
    //-                                                                             		near amnesia
    //-                                                                             		near sleep,
    //-                                                         like an organ growing outside your hip,
    //-                         something you can't swallow.
    //-                 You're caught in disbelief,
    //-                                                			tell me you are nauseous, worried,
    //-         I am the circulated theater air making you cold,
    //-                                                                                         I am the beating heart outside of water,
    //-                                                                                 ligamented, body horror of the mind,
    //-                                         images hit me out of order and
    //-                                                     the sentences are not sentences,
    //-                     you liked the dialogue,
    //-             I was too enraptured by the large faces.




    br
    br
    p.poetry-footer love, <br> suzanne <br><br> 2023
    br


    include write_home_link
