include ./../layout

link(rel='stylesheet', href='/stylesheets/write_style.css')

block content
  h1.poetry-heading [wip] As Nothing as Silent

  .poem-title.poem Black sea; buoy
  pre.poem.
    The small panic at the top of my chest,
    bolted down as I wait for help,
    frantic picnic of the mind—

    Will you lock the door after you get in?
    I left you spare keys on the table,
    I'm crouched down and heaving; your
    solidity is a safety net, your body heat
    travels through walls. (Your hunger is
    satiable; sleep and you will have rest.)

    As I wait up I think about ways to knock
    myself out. Test me: I am heavy, I sink.

  .poem-title.poem Storm warning : mirroring
  pre.poem.
    Storm warning : mirroring;
    My father typing erratically : my mother not someone to rely on;
    I've taken on exhaustions as I've injection-molded into you;
    I'm held together loosely, crumbling,
    begging for a storm to cake me,

    bind me into glass, something that can be known quickly;
    white rain : open window.

  //- .poem-title.poem Retreating, a list
  //- pre.poem.
  //-   - A door opening into another life
  //-   - Poems written on an airplane
  //-   - Spending time and not getting to know one another
  //-   - Getting woken up, by anything

  .poem-title.poem Looming
  pre.poem.
    I would sometimes wake between sleeps
    and see snow,
    I would sometimes wake to thunder.

    The waiting—suspended: it fills my mind with water.


  .poem-title.poem Ghosts
  pre.poem.
    My memory fails me: was it your father that
    smelled of coffee at night? We lay on our
    sides, one eye blinded, and I spin
    between ghosts.
    I enumerate and archive—while she doesn’t
    talk to me—what has been spoken,
    and though we are not permitted a bed,
    this that swallows the night and rouses me
    awake, memorialized, can be laid to rest.

  .poem-title.poem Distance
  pre.poem.
    I've located the mark on this cloth that could kill me,
    the one consolation being that I can't quite articulate it.
    Now comes exhaustion to wash it away;
    now comes the tidal wave of distance.

  .poem-title.poem Tethered
  pre.poem.
    We've tilted the scales:
    it's counterfeit fun.

    I was a tyrant,
    but when I am touched, I am tethered.

  .poem-title.poem Yellowing
  pre.poem.
    There is a happiness floating: the F train into
    the city; blissfully;
    an inflation, how long can it last?
    I am split in two, parched, cracking;
    but the sun catches on the forsythia and in
    quiet Carnegie Hill I listen only to the vacuuming
    next door, and I know it can be sustained.


  //- .poem-title.poem 3/20/22
  //- pre.poem.
  //-   I'll rob you of something vital,
  //-   I can't look you in the eye;
  //-   sound doesn't travel here.

  //-   This world will leave you wanting;
  //-   the deep heaviness of past years,
  //-   I bring it onto myself.

  .poem-title.poem A little low on oxygen
  pre.poem.
    Here it is again: the richness of life:
    early spring, the possibility of God,
    memories of pain turned sweet,
    dark scatterings snapping into place:
    it is a story, it is full-bodied love and loss,
    it is walking upright as daylight begins to end: 
    a great distance from despair, the relief 
    caught in my throat, my light-headed 
    wanderings: overflown with piercing aliveness.

  .poem-title.poem Laceration
  pre.poem.
    How about this? laceration. Wait for the end,
    seek the trace of the groove and follow it 
    down tracheally and fall, (nice dream),
    it is a battery, an endless recycling of misery.
    Tie one ribbon-end loosely to the neck, hope to see 
    the green edge again; my head toppled,
    the waiting over.
    Is there intracranial safety? Fold the skin neatly 
    into a square, it is not the time for crying.

  .poem-title.poem 2/22/22
  pre.poem.
    For your cowering and your breath, unhurried
    stases and sorrows, working into the evening,
    you come to me like a question, like play,
    a pattern to untangle, a landslip.

    I don't know how to describe spring to you,
    I worry through the night.

  .poem-title.poem Salves, vanities
  pre.poem.
    I like you covering my heart;
    you hold it and show it how to pulse, keep it alive.
    I like my motion guided, I like water pouring 
    out of my mouth.
    I tie the strings around my arms and legs, you
    control me. I want you to fix me with your
    careful, small hands.
    I am glowing from your gaze inside me, the
    substance of my being. I like the spotlight.
    I like you scaffolding my body;
    you hold it upright, beautiful and strong.

  .poem-title.poem A cyclist stopping for a smoke
  pre.poem.
    You were sitting there looking so sad,
    a cyclist stopping for a smoke.
    (Is now the time for creation?
    You'll go back to the dark room muddied
    all over.)
    I saw you years ago: that overcast
    face, your body like an S. I couldn't explain it,
    but I knew your implosions.
    You're like a dying roach--your arms so tense,
    your voice too soft.
    (Can we push on?)
    You decline; you're panicking. The shadow
    seizes into definition: now we see the ghost
    clearly. Now we're in the room with no windows.
    Here appear your hollow cheeks, your legs 
    bound and hanging like rotisserie.
    I try to pull us toward relief, but you just sit 
    there, looking so sad.

  .poem-title.poem 6/9/21
  pre.poem.
    A silence has ensued,
    for her I'd endure the waiting.
    Though we pass the time with our heads down,
    I know I'm wrong.

  br
  br
  p.poetry-footer love, <br> suzanne <br><br> 2021 & 2022.
  br

      
  include write_home_link
