include ./../layout

link(rel='stylesheet', href='/stylesheets/write_style.css')

body.the-fence
  block content
    h1
      center THE FENCE
    
    br
    
    p.serif.
    
      <i>&emsp;&emsp;
      
      The long, metal bar rose and rose until it drenched the ground in shadow. Cold to the touch, and imposingly near, it expelled the last whisperings of light. The path in front became a black void, difficult to discern, and the path behind became occluded by the same thick arm of the shadow. The leaves rattled in circles, unsettled out of their rest. The sky thundered in response, but refused to bring down the shower it had been holding in. Following the leaves, the birds began to chase each other, further darkening the landscape. Their sirens preached the coming of electricity, but soon after filled with longing and unhappiness, unable to break the cycle they commenced. The bushes rattled impatiently among their peers, too quickly to remember the fruits of spring. They longed to ignite. After the thick, forceful passage of time, the remaining life stopped anticipating the rain or the fire, and stopped even moving in any particular direction, as the path had been occluded, and the fruits forgotten.

      </i><br><br><br>&emsp;&emsp;

      “My legs carry me forward,” said Esther, “right, then left, then right again. I go to meet Jonathan, to meet Amy. I go to meet my friends, I move forward in order to see them. I’m detached from my body, I wonder if they’ll notice; I wonder if they’ll ask me where I’ve been, where I am now, and where I’m going. I walk past the cafe and smell remnants of my mornings alone. I love to remember these details and so I save them in a little white book and tuck them away to tell Amy. The people go on past me but I have to sit down, I have to write down what I’m seeing.
      
      <br><br>&emsp;&emsp;
      
      “I sit down, and I wait, and I think, and I write. The woman in the corner seems to have direction. She wipes her glasses clean and then gets back to work. She eats, and drinks, and works, and thinks all at once. The next thing, and then the next thing, and then the next thing, and then everything at once. I’m tired of trying to find drive by imagining myself as her. The man in front of me with graying hair and expensive shoes looks up toward the sky. I look where he looks. The stillness seems misleading, and he can’t be thinking about anything worthwhile. Neither the sky nor the man can possibly have meaning for me. I look intently again at the singular cloud the man was looking at. What significance could such a pitiful, lonely apparition in the sky have to that ordinary, content man? Why doesn’t it say anything to me? Why is the world so silent? Nothing is enough. I look at the tree, past the man, and beg it to say something to me. The tree sighs, perpetually drifting from side to side, while stuck where the seed first landed. There is nothing more to write so I finish writing. I can’t sit still any longer and I will talk to Amy because Amy knows where to go and what to do next.”
      
      <br><br>&emsp;&emsp;
    
      “I see Esther,” said Amy, “sitting alone outside the cafe. We planned to meet with Jonathan in the park but Esther is at the cafe. Esther is thinking, her eyes are cloudy, her left leg is tucked underneath her arm, and her right leg is up on the wire chair beside her. The light strikes the scene magnificently and I want to take a photo. Esther’s hair turns into a lush sienna under the sun. The tables, chairs, faces, legs, and windows all glow. Oh, I couldn’t have arranged it any better!  It’ll be wonderful to see my friends again underneath today’s impenetrable sky. My heart swells. The people bustle around me, everyone colorful and with something to offer—a mystery novel, a mischievous smile, an intricate interior. Patches of denim contrast amber, terracotta, and jade. I smile, I dance, I jump; but, the fire leaves as suddenly as it came. I’m left weak, sullen, and grieving the now muted colors.  
      
      <br><br>&emsp;&emsp;
      
      “I’ve arrived at Esther, and she sees me, and she comes to me. I tell her about the dying light at the bottom of the well. I tell her about the once erect lavender stem that is now wilting. Increasingly often, I feel that I’ve fallen down and run out of oil. I’ve never needed to rely on miracles, but everyday there’s less and everyday I want more. Esther seems to understand but now, and again now, her eyes become overcast. Esther is better at being lost. She makes a life out of it, she turns it into beauty, into prose, and she is beautiful because of it. I have never been lost and I have always known beauty. I will suffer silently because Esther understands but has no answers, and my silence will be loud enough for everyone to hear.” 
      
      <br><br>&emsp;&emsp;
      
      “We wait for Jonathan now,” said Esther. “Amy has told me everything, but hasn’t asked anything. Amy fills a space like gas in a jar, she is used to being heard and being looked at. Amy creates the future and we all admire her. She has told me everything though, and I hear her story and parts of it are my own story. The connection, though thin, is made. This is the moment I’ve been waiting for, this moment of shared misery. The corner shadow of the jubilant cafe canopy serves as a filter for light and darkness, sun and shade. The anticipated moment, the final release, the tip of the cup is happening right now—but it’s not what I thought it would be, and I don’t feel better. To witness the dryness reach Amy breaks my heart. It plunges the axe downward, toward depths that I’ve been afraid to reach into. The pendulum swings lower and lower. Amy is the fire, she can’t be put out. Amy never needs to question because she always knows. Now, we sit and wait for Jonathan, motionless in the obtrusive orange heat of the day. I am thrown into the sea, swimming desperately, lost, holding onto an anchor that is no longer grounded, afraid to move in any direction.”
      
      <br><br>&emsp;&emsp;
      
      “Finally, I’ve found my friends,” said Jonathan. “I sit down and I’m comfortable and happy to be near them. I think about and pray for them often, in my wooden room where a single light shines. My body is thin and weak, and my clothes hang off my bones as if they are about to dissolve. I look to Amy and then to Esther. I am content just to be near. I no longer feel hunger or thirst but Esther looks to me and tells me, ‘drink,’ and Amy looks to me and tells me, ‘eat.’ Perspiring beads of water invite me to the glass. Amy radiates and Esther is captivated, but there isn’t joy in their eyes. I want to help but I’ve never been able to do much. I give everything and I don’t expect it to be enough. Esther has clenched her hands and has finished her coffee. Amy is low but animated, and suddenly looks to me. I have nothing to offer, only half-finished sentences and all the time of my life. Every day is just waiting, waiting, waiting. I breathe in just enough air to keep going.  
      
      <br><br>&emsp;&emsp;
      
      “I long to go home, but being here is as close as I’ll get to home. Amy smiles, Esther asks. Home is the love that fits so perfectly that I am completed. There is a room for me there, after death, made specially for me, where I can be of perfect use and live in perfect peace, and sit in a joy that never ends. Almost every second of every day I want to go there. There is nothing familiar to me here, there is nothing for me here, and I can offer nothing to anyone here. The tables, chairs, faces, and bodies pulsate with their emptiness, sending saccharine waves of false hope. A man in a lightly checked white shirt hurries by, so starved of love as to look for it on the other side of the plastic picket fence. I try to give a love that is enough—but it will never be enough, and no one has ever loved me enough because there is not enough reason to. No one should listen to me, no one should bear this any longer. I am quiet.”
      
      <br><br>&emsp;&emsp;
      
      “We’re at the field now,” said Esther, “and the day is beginning. The oversaturation of pea green and azure blue sends me spinning; I’m moving, I’m lost, I’m swung wildly astray as Amy begins to fall. I’m pulled to orbit around Jonathan’s gentle black hole. The objects around me dip in and out—some orderly crates, some shapeless lumps—all becoming increasingly indistinct. I’m trying to remember it all to write it down later. We run forward, the sunlight sterile and overwhelming, I behind Amy and Jonathan behind me.”
      
      <br><br><br><i>&emsp;&emsp;

      Swiftly, the storm and the birds began their synchronization, rattling so loudly and violently that the presence of the long, metal bar was again made known. In the chaos of the trees, bushes, leaves, and wind, individual rays of light began to touch the ground. The rays traveled far—quickly, expertly—bending ever more slightly around the bar, slowly heating the metal’s edges and illuminating its outline. Encouraged by the faint glow of the sky, the birds’ screeching amplified and grew steadily. Cautiously, the insects paused from their work, sensing the coming of rain. What was known to some became known to many, and the air began to buzz with anticipation. The sky, at the brink of bursting into color and relief, held onto the edge, swirling monstrously, purposefully. The shadow’s blanket failed at the boundaries, movement cracking through the stillness. Time, reawakening, gestured toward the path ahead—which was solidifying by the hour, and full of light and livelihood. 
      
      </i><br><br><br>&emsp;&emsp;

      “Jonathan’s eyes hold depths of sorrow,” said Esther, “He looks as if he’s pleading—pleading for joy? For relief? For what? I note it down for later. There is a dark blotch of ink on my hand, with no story to tell. We are us three sitting down in the grass. The grass takes us in, it swallows us. I am nothing, nothing but a speck, and I wish for an insect to bite me, to propel me forward, to do something. In this moment, the powdery breeze is irresistible and for once, gentle. I catch a glimpse of what it means to sit and to be, and I want to write it down. I’ve lost track of Amy—she’s flickering, she’s hovering near to the ground, I need to tell her, I need her to ask me.”
      
      <br><br>&emsp;&emsp;
      
      “Love must bloom in days like today,” said Amy. “What else is there for us to do today than to love? Esther is thinking, Esther is asking. ‘How?’ Esther urges, Esther is hopeful. I climb higher, higher, I dip, I dive. It’s exhilarating. I’m recharging, I’m filling up again. The sun begs us for acknowledgement, we need to look up at it, we need to look at everything it touches, the lush, velvety lawn is teeming with prismatic life, we need to truly see the raw beauty. Our sun’s energy comes from nowhere, it comes out of nothing. From nothing, I can be filled; from nothing, I can create. From nothing, Esther, nothing! All I want in the world is to have love that comes out of nothing, love that’s greater than itself.” 
      
      <br><br>&emsp;&emsp;
      
      “Truly,” said Jonathan, “the wonders of the world are the wonders of God. The sun, the sky, the grass, and all life were given a beginning by God. We were set forward, and now we go, we live. Time can be agonizing but I trust that time was given for a reason. I trust, I trust, I trust. Amy in front of me, basking in the beauty of the world, embraced by the tender arms of sunlight, and Esther next to me, turning, spinning, formulating, are proof. I’m content, I’m at peace. This must be the slightest taste of home, this must be goodness and mercy. I root myself to the ground. I feel the weight of living, of needing to be alive, of needing to be here. The porous soil is cool and sturdy below me. In front of me, Amy smiles, Esther asks. It’s important and wonderful to stay here.”
      
      <br><br>&emsp;&emsp;
       
      “I wonder,” said Esther, “where Amy gets her drive, her will to create, to see beauty, to love. From nothing? From God? Amy knows, and Jonathan knows, but I don’t know. I don’t know anything. I don’t believe that the sun will rise tomorrow and tell me the same things it tells me today, or that it will even talk to me at all. Where does the knowing come from? I jitter, I jump. I need to know, I try to imagine a future where I know—where I take daily strolls around the block, jolly and determined, buoyant and brilliant—but it’s a paradox. I want Amy to ask me and then show me the way forward. I only know left, right, left, right. I want Jonathan to stay near; he escapes and returns, and on and on again. I want to know! The breeze is wonderful, the sun is glowing, but really, Amy, I need to know.”
      
      <br><br>&emsp;&emsp;
      
      “Do you feel the flame now?” said Amy. “Something from nothing, something from nothing. I feel the energy in Esther, it’s raw, it’s rich. We are drawing very close to the thing itself, the source of all our energy, desire, ambition, passion. Esther writes to understand, but I create out of wonder, out of joy. In my head, I turn the scene into a painting and it’s enough. A periwinkle stroke to describe the ball tossed about by the neighboring children, a sanguine dab for the magnificent angle of the mother’s neck. Isn’t it so complicated, so weighty, to need to understand? I don’t feel compelled to pause and reflect because the call is so loud! The richness is too great to ignore. Esther is pulling away, I feel it. I want her to come back, I want her to experience with me the deepest hues of green in individually selected blades of grass, arranged delicately and maybe even divinely, all so that we can lay on it and soak it in.”
      
      <br><br>&emsp;&emsp;
      
      “Amy’s flicker was just that—a flicker,” said Esther. “Her fire burns on. I’m relieved yet agitated. I’m unheard, and unseen, and misunderstood—but Amy’s hand is on my knee, caring and warm, and Jonathan’s shadow brings relief, and assurance of his presence. I’m safe in this small refuge. I lay down and I know that even if the lights were all to suddenly disappear, Amy would guide me back to them. Amy would perfectly, beautifully describe the florid shape of Jonathan’s hair, the playful colors of the shops, the dark chocolate scent of the coffee, and the immense character of the sky until I saw them too. Jonathan would understand, Jonathan has always understood. In this moment, if the very last drop of hope was sucked dry right into the ground, I know Jonathan would still be here, will always be here. I know it, and I know it, and I want to write it down, and I want to tell myself that it’s enough. I want to feel that it’s enough, I want to always know.”
      
      <br><br>&emsp;&emsp;
       
      “The glory of this nearness to home,” said Jonathan, “is too much. I want to share it! It was made to be shared. Esther is troubled. Esther keeps searching and searching and I’m ashamed to tell her that I once searched and gave up. Esther’s frame is crumpled, tangled. Esther is more resilient than me, though, and I have all the time in the world. I have nothing useful to tell her, but it’s my turn to speak, so I must speak. Remember the gift of time, Esther. The wait is agonizing but we can trust that it’s fruitful. I don’t have much to offer but this assurance. I only have enough breath to believe. My hair is unkempt and my clothes hang loosely on my frame. My body is weak but I feel joyous and at peace, and all I want is to share it, all I want is to give it away.”
      
      <br><br>&emsp;&emsp;
      
      “How can I know with certainty,” said Esther, “that any joy will last? That any richness will remain? I’m stuck, I’m fixated. I look at a blade of grass and see a small bit of life, fragile and without purpose. Yet it’s beautiful, at least it’s supposed to be. The only thing I know is Amy and Jonathan, but even this is fleeting. It’s the short, futile blossom of a flower. The march of time brings the next moment, and then the next, and then the next, and I finally understand how time can be agonizing. The waiting will become excruciating, the richness will give way to tedium, and the bodies around me will go on with their lives—creating, producing, discovering. Where am I and where am I going?
      
      <br><br>&emsp;&emsp;
      
      “I hope to one day understand, I hope to one day know. Amy doesn’t need to understand because she already knows. Jonathan understands just enough and through that, knows. I hope, I hope, I hope. The soft, inviting breeze greets me again, and asks me to look around. An eccentric, brown twig lies beside Amy. The amputated tree in the distance stands straight and bears dignified its new, pointy leaves to the people walking by. Children scream, and chase each other with their sticky hands. They laugh, they smile, they are filled with a fire that bubbles over and infects. I marvel at them, I understand, but there is nothing to write down. My pearly notebook receives its long-awaited rest. I think of the soft bit of flesh inside of me, demanding protection. There is a part of us that never grew, never healed, and never hardened. This, I think, is the child. The child knows nothing yet feels, and understands, and is filled completely. Something from nothing, something from nothing…“ 
      
      <br><br><br><i>&emsp;&emsp;

      As resolutely as it appeared, the tall, metal bar retreated. Light, traveling from a great distance away, flooded the path, taking back all which had been hidden. The trees shook, bloomed, and sighed in joy. The birds broke their cycle at last and fell back into the rhythm of the dance that had been within them since the beginning. The insects glanced up knowingly, and continued their work. Leaves sunk into the soft soil, relieved finally of their anxiety and agitation. With a deep laugh, the sky bulged and released its renewing shower, perfectly balancing the heat of the light. Old life brought new life and the promise of fruit, and all was retained, all was illuminated. The last shivers of the metal bar gave way to reveal to all the towering fence of which it was a member. The fence was dark, massive, and foreboding—yet it was made miniature by the sheer breadth and greatness of the light. Though infinitely further away, the heat of the light still overcame in magnitude the cold shadow of each bar of the fence. Alternating endlessly between shadow and light, the passage of time continued to trudge forward—all the while, always knowing the path, always knowing the light.
    </i>

    br
    br
    br
    br
    br
    br

  
  include write_home
