include ./../layout

link(rel='stylesheet', href='/stylesheets/write_style.css')

block content
  h1 The Fence

  //- p.sub
  //-   i There is no end
  
  br

  p.
    soon

    
  
  include write_home
