include ./../layout

link(rel='stylesheet', href='/stylesheets/write_style.css')

body.fiction
  block content
    h1
      center THE DRIVER
    
    br
    
    p.serif.
      &emsp;&emsp;
      I thought I felt it next to me, on my right. I could never be sure in this lighting. I just knew to look for the darker spot at the edge of my vision. Oh, it was definitely there. The creaks creaked rhythmically in unison around me. My footsteps, I thought. I felt them more than I heard them.

      <br><br>&emsp;&emsp;

      Well, I’ll be out here for a while, I thought. I turned to face it, struggling to keep up. “When will you finally tell me?” I shifted my angle slightly to indicate that I was addressing it. Doing so felt ridiculous. Of course it knew. Just like my body knew, and was eager to explain, but to my knowledge could not speak. I considered looking at it, but feared blindness. Or burning. I couldn’t burn here, though. Right? By now I was at the pace of a light jog.
      
      <br><br>&emsp;&emsp;
      
      “You can,” it spoke. “I would not be the one doing the burning, though.” It seemed to change color, as if it was chuckling. The deepest of blues, then reds, then oranges. Actually, they were all black. The colors.
      
      <br><br>&emsp;&emsp;
      
      “Well,” I attempted to say aloud, “what am I supposed to do then?” I thought I spoke successfully, but it was hard to tell. I was moving at the pace of a healthy run.
      
      <br><br>&emsp;&emsp;
      
      “All this time, what have you been doing?”
      
      <br><br>&emsp;&emsp;
      
      I’ve been looking straight ahead at my favorite, familiar patch of darkness. It was the lightest part. I considered trying to answer aloud. Sometimes the patch was white and green, cloudy and voluptuous, like the sky. The part that touches the trees. I couldn’t look away. Why would I look away? I wonder if it heard me. It was possible to lose interest quickly here.
      
      <br><br>&emsp;&emsp;
      
      I continued to feel it at my side. Perhaps it wanted my company. My concentration focused steadily at the hint of brightness ahead. Soon the light would surround me, and I would be able to breathe a little more.
      
      <br><br>&emsp;&emsp;
      
      “Well, if you are going to stay with me,” I heard myself say, “will you please tell me why?” I would be satisfied to hear anything, I thought with muted bliss.
      
      <br><br>&emsp;&emsp;
      
      “It is <i>you</i> who are following <i>me</i>,” it said, pulling my gaze toward it.  
      
      <br><br>&emsp;&emsp;
      
      Oh, right. I tried to comprehend, but I could not. “Why would I do that?”
      
      <br><br>&emsp;&emsp;
      
      “You have the power to burn,” it hissed, retreating. It then reappeared as much above me as next to me. I wasn’t afraid. It was nice for it always to be near and always come back.
      
      <br><br>&emsp;&emsp;
      
      “I’m not afraid of you,” I felt it necessary to confess. “In fact, I’d like to thank you.” 
      
      <br><br>&emsp;&emsp;
      
      It pulsated. “You misunderstand,” it emitted in waves. “You must be careful. You could burn everything down. You alone.” 
      
      <br><br>&emsp;&emsp;
      
      It was making very little sense, I decided. I began to feel the bobbing up and down of my body, threatening to throw me off balance. How did it travel so fast? I tried to remember our starting point but I could not.
      
      <br><br>&emsp;&emsp;
      
      “Listen to me,” it said. “Be careful. You are in control. Do you understand? Every choice is yours.” I felt it compel me downwards. We hurried down a steep slope. “Listen,” it repeated, more urgently. “This much is in your power. It’s important for you to understand.”
      
      <br><br>&emsp;&emsp;
      
      Power? I had no power.
      
      <br><br>&emsp;&emsp;
      
      “You have the power of choice,” it answered like an ocean, loud and immense.
      
      <br><br>&emsp;&emsp;
      
      I was sprinting down the slope, losing track of each step. It would be impossible for anyone to hear me if I spoke now, I thought. 
      
      <br><br>&emsp;&emsp;
      
      “Listen, you need to be careful. There is no driver.” The sound intensified impossibly, and kept growing.
      
      <br><br>&emsp;&emsp;
      
      “Oh!” I shouted. “I’m listening!” 
      
      <br><br>&emsp;&emsp;
      
      “THERE IS NO DRIVER,” it told me, compressing the space around me. Every particle vibrated and grew, darkening my vision.
      
      <br><br>&emsp;&emsp;
      
      “I’M LISTENING,” I thought I screamed, but I couldn’t be certain.
      
      <br><br>&emsp;&emsp;
      
      “YOU ARE THE DRIVER,” I barely heard it say. 
      
      <br><br>&emsp;&emsp;
      
      It surrounded me now, I was sure of it, and I began to fall. I wondered if it had anything more to tell me.
      



      
      
    br
    br
    br
    br
    br
    br

  
  include write_home_link
