include ./../layout

link(rel='stylesheet', href='/stylesheets/write_style.css')

block content
  h1 2/15/2018 12:32 pm prose
  //- h1 thirty-two pm prose

  p.sub Try reading this aloud
  
  br
  
  p.
    Everything is so slow motion, it takes such a long time to get anywhere at all,… and suddenly I was aware of consciousness again and I was sleepy.  
  p.
    Disrupt, disrupt,… I chanted to myself… I couldn’t disrupt, but the act of consideration, that must count.  
  p.
    All the people that walk by, they are so far away… to me and to each other… When I first discovered true distance I felt so alone.  
  p. 
    Does the world slow down for me, or I for it?  
  p.  
    The focus… um… it’s onn… people avoiding eye contact, leather unpolishing itself, apologizing to the original lifeblood.
  p.  
    It’s hard to respect life while living this one, while seeing eye to reference but also reference to eye, at the same time. Maybe it’s because I am a “woman.”  
  p.  
    The… the… the… the recording device, it doesn’t exist, only the present moment really does. We take impressions of it, store it in our brain, but they’re only impressions. How could we fit the whole world in our heads? Each moment multiplied by the passage of time… now that’s a large prism.  
  p.  
    Birds, they keep what’s necessary, and throw away what isn’t. The problem with us is we have absolutely no idea what’s necessary, that’s why we’re here now, lost and floating around, burdened by our perceived burden.  
    God made a covenant with the whole earth, not just us, it’s true, I read it. With the animals too, and all the living creatures. We’re in it together.
  p.  
    It’s still hard though, to respect life.  
  p.  
    Especially when we think we’ve created real sharp edges, and 90 degree angles, and we think that’s real beauty, that’s real fundamental truth. Infinitesimally small slopes. But the edges wear over time, precision doesn’t really exist for our clumsy hands. If this is living, it’s everything we can’t do. Machines must be alive too, but they live different lives, changing and breaking down more slowly, not preoccupied with why they’re doing anything. They finish up and get on with it. Life, death, life, death.  
  p.  
    It occurred to me how hard it must be for every single one of God’s children to die, for Him to kill every single one of them. It really is us from Him rather than Him from us. If I were God, I wouldn’t have even created any of this.  
  p.  
    The sun looked like a moon that day, hiding behind the clouds, with wisdom to share that was hard to hear.

  include write_home
