include ./../layout

link(rel='stylesheet', href='/stylesheets/write_style.css')

block content
  h1.poetry-heading twice
  //- 
  //- p.sub
  //-   i There is no end
  //- 
  br
  
  .poem-title.poem king's canyon
  pre.poem.
    i took a detour,
    found the absolute worst case,
    convinced myself that in it,
    i survive,
    then returned.
    
  .poem-title.poem is it
  pre.poem.
    different pain everyday, or is it the same pain everyday?
    it’s still pain, it’s still everyday.
  
  .poem-title.poem civic center  
  pre.poem.
    nothing to see here and
    nothing good comes from
    me forcing
    anything
    at all to happen or to
    fix itself inside of
    me and
    it wont last forever this
    wont be true forever not
    even next week but for now
    nothing to see
    here

    i saw them pretend to
    jump and i
    took the bus instead

    this time i could be
    a toolbox instead of a
    puddle of water

    with my last few
    drops
    of strength
    i have enough to
    dig myself out of
    this

    what are you digging for?
    more like
    what am i
    digging towards?
    to which i reply
    the sweet
    full
    air
    above ground

    and on the bus i’m guaranteed to
    stay above ground
    
  .poem-title.poem anxious morning
  pre.poem.
    morning here
    morning here here
    morning here there
    morning there there
    morning there here
    morning hello
    morning arrived
    morning hello hello
    morning caffeine
    morning here is what i’ve been up to
    morning caffeine decaffeine
    morning anx
    
  .poem-title.poem a call for help
  pre.poem.
    trouble sleeping – nothing new –

    but here
    but new
    but sleeping
    but trouble
    
  .poem-title.poem [second]
  pre.poem.
    in between bliss is
    darkness
  
  .poem-title.poem res ipsa
  pre.poem.
    old/new friend, not my friend,
    to the end to the end to the end
    i can’t move forward
    anymore
    you’re forcing me to ask myself the worst question in the world,
    right on top of

    i'm paralyzed, i'm swimming in circles
    i'm drowning i'm drowning i'm drowning
    i exist i exist i exist
    
  .poem-title.poem your hard edges
  pre.poem.
    your hard edges
    every day now, my eyes
    unfocused
    without the same liberties, and running around 
    in circles, no,
    walking, crawling,
    (sixty percent of last night on the floor),
    resorting to rituals, to irene, to fall asleep,
    stress awake, asleep,
    allow me a single moment to be selfish, i'm taking a pause to take a
    peek into what's living here,
    in my cold skin,
    and softer edges.
    
  .poem-title.poem slowburn
  pre.poem.
    let me next find
    music i like.
    we all agree,
    "i like to talk about it, it's fun, that came out weird."
    "i saw you everyday last week, i need to masturbate, first thing."
    you live with me, you live
    in your room,
    you live in my hand,
    how much less anxiety will i
    have when we all find our 
    partners, and none 
    of us live here 
    anymore?
    two or three out of four
    or i can close my eyes for six months
    and wait for it to happen,
    close my mouth for two months
    and find the peace that I had
    with you.
    i mean you taught me how,
    it's like taking off my glasses,
    it's like giving you a chocolate,
    i mean you can't hold me accountable
    for a hint,
    can you?


  include write_home
