include ./../layout

link(rel='stylesheet', href='/stylesheets/writestyle.css')

block content
  h1
    i #{title}
    
  p.title poetry
  div.link
    a(href='/twice') &nbsp; /twice (ongoing) &nbsp;
  
  p.title fiction
  div.link
    a(href='/the-driver') &nbsp; /the-driver &nbsp;
  div.link
    a(href='/the-fence') &nbsp; /the-fence &nbsp;
    
  p.title articles
  div.link
    a(href='/on-goal-orientation') &nbsp; /on-goal-orientation &nbsp;
    
  p.title artbook
  div.link
    a(href='/help-self') &nbsp; /help-self &nbsp;
