include ./../layout

link(rel='stylesheet', href='/stylesheets/write_style.css')

block content
  a(href='/write/to-the-writer')
    h3 do the flowers bloom overnight<br>like a change of heart?

  p.title little sets of poems

  div.link
    span.year 2025
    a(href='/write/rain-1') rain 1

  div.link
    span.year 2023
    a(href='/write/screen') screen

  div.link
    span.year 2022
    a(href='/write/dusk') dusk, suspended

  div.link
    span.year 2022
    a(href='/write/silence') As Nothing as Silent

  //- div.link
  //-   span.year 2019
  //-   a(href='/write/letters') Letters

  div.link
    span.year 2019
    a(href='/write/if-i-am-to-be-filled') If I Am to Be Filled

  div.link
    span.year 2018
    a(href='/write/catharine-bliss') catharine bliss

  div.link
    span.year 2018
    a(href='/write/dreams-drive-canyons-between-the-days') dreams drive canyons between the days

  //- div.link
  //-   span.year 2017
  //-   a(href='write/chestnut') chestnut

  //- div.link
  //-   span.year 2017
  //-   a(href='write/twice') twice




  p.title fiction
  div.link
    span.year 2021
    a(href='write/my-june-bug-and-other-stories') My June Bug and Other Stories

  //- div.link
  //-   span.year 2019
  //-   a(href='https://www.notion.so/Summer-Stories-a97cc6bd0ddb4349b6060ef472c21e38', target='_blank') Summer Stories
  //- div.link
  //-   span.year 2018
  //-   a(href='write/golden') Golden and the Beginning of Understanding

  div.link
    span.year 2018
    a(href='write/the-fence') The Fence

  div.link
    span.year 2018
    a(href='write/the-driver') The Driver

  p.title artbooks & zines
  div.link
    span.year 2023
    a(href='/files/SNOW_ZINE.pdf') snow zine
  div.link
    span.year 2017
    a(href='/files/HELPSELF_FINAL_FULL.pdf') HELP/SELF



  //- p.title prose, essays, & non-fiction
  p.title essays
  div.link
    span.year 2018
    a(href='write/revisiting-the-embarrassment-of-pain') Revisiting the Embarrassment of Pain

  //- div.link
  //-   span.year 2018
  //-   a(href='write/ars-poetica') Ars Poetica: I Don't Know How Else I Could've Told You

  //- div.link
  //-   span.year 2017
  //-   a(href='write/on-goal-orientation') On Goal Orientation

  //- lol if you're reading this i see you




  p.title published, supposedly
  div.link
    span.year 2018
    a "Of Place," "rhoda pair," "Taxicab rose," <i>Project As[I]Am</i>, 2018.
    //- http://project-as-i-am.com/of-place-poetry-suzanne-knop/
    //- this link doesnt seem to work anymore


  // - shhhhhhhh - //

  //- p.title.secret will i ever be ready?
  //- div.link.secret
  //-   a(href='write/the-embarrassment-of-pain') /the-embarrassment-of-pain
