include ./../layout

link(rel='stylesheet', href='/stylesheets/write_style.css')

block content
  h1 write
    
  p.title poetry
  div.link
    a(href='/twice') /twice (ongoing) 
  
  p.title fiction
  div.link
    a(href='/the-driver') /the-driver 
  div.link
    a(href='/the-fence') /the-fence 
    
  p.title articles
  div.link
    a(href='/on-goal-orientation') /on-goal-orientation 
    
  p.title artbook
  div.link
    a(href='/help-self') /help-self 
