include ./../layout

link(rel='stylesheet', href='/stylesheets/write_style.css')

block content
  //- h1 write
  h3 do the flowers bloom overnight<br>like a change of heart?
    
  p.title poetry 
  div.link
    a(href='write/dreams-drive-canyons-between-the-days') /dreams-drive-canyons-between-the-days 
  div.link
    a(href='write/chestnut') /chestnut 
  div.link
    a(href='write/twice') /twice 
    

  
  p.title fiction 
  div.link
    a(href='write/the-fence') /the-fence 
  div.link
    a(href='write/the-driver') /the-driver 
    
  
  p.title non-fiction & prose
  div.link
    a(href='write/ars-poetica') /ars-poetica
  div.link
    a(href='write/on-goal-orientation') /on-goal-orientation   
  //- div.link
  //-   a(href='write/thirty-two-pm-prose') /thirty-two-pm-prose
  
  
  //- 
  //- div.link
  //-   a(href='write/the-embarrassment-of-pain') /the-embarrassment-of-pain
  
  //- div.link
  //-   a(href='/once') /once
  
    
  p.title artbook 
  div.link
    a(href='/files/HELPSELF_FINAL_FULL.pdf') /help-self 
    
  br
  br

  
  // - shhhhhhhh - //
  
  p.title.secret will i ever be ready?
  div.link.secret
    a(href='write/the-embarrassment-of-pain') /the-embarrassment-of-pain
