include ./../layout

link(rel='stylesheet', href='/stylesheets/write_style.css')

block content
  h1 On Goal Orientation

  //- p.sub
  //-   i (there is no end)
    
  p.sub Fall 2017 Reflections 
  
  br

  p.
    Wanting to be happy and being goal-oriented are becoming increasingly incompatible. There is more than enough anecdotal evidence in my life, and I’m surprised it took me this long to figure out. Just the nature of Penn’s environment works against coming to this conclusion. Penn encourages goal orientation, society encourages goal orientation.
  p.
    Goal orientation as a framework for achieving things works great, but what happens after we achieve the goal? What’s left? This framework is unhealthy for the neurotypical, but it’s downright dangerous for the neurodivergent, who may also be managing depression, anxiety, and imposter syndrome (among other things).
  p.
    I’ve been stressed for the past two months because of recruiting — I was trying to get a job for next summer, while also assuring myself that it would be okay if I didn’t work at a big tech company, while also critiquing myself for being so susceptible to imposed ideas of success, while also trying to stay grounded and focus on what mattered to me, while also struggling to remember what I want, while also trying to find a way to be happy and love myself, while also worrying about how it all looks to everyone else. 
  p.
    At best, this was an uncertain and confusing time. At worst I’d be paralyzed by stress, anxiety, and self-hatred. During this time, depression was actually a relief, because it would be coupled with exhaustion. Depression with exhaustion allowed me to not care about my future, because it was miracle I was still even alive. 
  p.
    After an emotionally draining and anxious week of interviews and traveling, I received an offer from a big company that I had many months ago added to my list of “companies I would like to work at despite capitalism.” I was surprised, but also overwhelmingly, ecstatically happy.
  p.
    The next day I wanted to die. It was the most depressed I’d been in many weeks, and I once again desperately wanted to leave this world, once again knew how I would eventually leave this world. I biked down Chestnut while crying, I walked around 34th street in the biting cold drinking an iced coffee, I tried to call my friend with no answer, I stopped being able to talk or think because of the pounding in my head from trying not to burst into tears, and from the pain of being alive.
  p.
    The depression came on strong, at full force, almost predictably so after I had reached a goal I had been striving toward for months. I had daydreamed (and aggressively forced myself to not daydream) about reaching this moment. I imagined it would be a moment of relief. It wasn’t, and I should have known it wouldn’t be.
  p.
    I felt the meaninglessness about the ways that goals are achieved. So much randomness plays a factor, that I usually can’t even congratulate myself for achieving the goals. The goals also don’t seem to have a direct correlation to happiness. For example, my thought process this time was, “Okay, so I can work at this good company, but that doesn’t change the fact that I don’t love myself.”
  p.
    I asked, “What’s left?” What do I do now that my goal is achieved? I still had to go through with my semester, my life, as if nothing changed. I still had all but one of the same problems. It felt like I went through all that just to remove a small anxiety, easily replaceable by another. The other side is not greener. If this is all I get for achieving my goals why achieve them? Why even have a life with goals? My only goal should be to find a reliable will to live.
  p.
    Having been left with the major emptiness of a major goal achieved enough times in my life, I’d like to say that it’s not worth it. I think achievement is great but it’s not everything, and it doesn’t have to come this way. I’ve achieved plenty by focusing on doing what I liked, rather than focusing on achieving the thing itself.
  p.
    Reorienting myself away from goals allows me to fail as well. There is no clear definition of success or failure — they are not even binary or distinct. The way things are currently going, I feel like both a success and failure simultaneously, all the time. Something isn’t right, something needs to change.
  p.
    I’m not sure what the best framework is for a fulfilling and happy life, but it’s not goal orientation.
    
  
  //- br
  //- br
  //- a(href='/').home 
  //-   i &larr; i want to go home
  include write_home
