include ./../layout

link(rel='stylesheet', href='/stylesheets/write_style.css')

block content
  a(href='/write/to-the-writer')
    h3 do the flowers bloom overnight<br>like a change of heart?
    
  p.title poetry collections

  div.link
    span.year 2022
    a(href='/write/silence') As Nothing as Silent

  div.link
    span.year 2019
    a(href='/write/letters') Letters

  div.link
    span.year 2019
    a(href='/write/if-i-am-to-be-filled') If I Am to Be Filled

  div.link
    span.year 2018
    a(href='/write/catharine-bliss') catharine bliss
    
  div.link
    span.year 2018
    a(href='/write/dreams-drive-canyons-between-the-days') dreams drive canyons between the days
      
  div.link
    span.year 2017
    a(href='write/chestnut') chestnut

  div.link
    span.year 2017
    a(href='write/twice') twice
      
    

  
  p.title fiction 
  //- div.link 
  //-   span.year 2019
  //-   a(href='https://www.notion.so/Summer-Stories-a97cc6bd0ddb4349b6060ef472c21e38', target='_blank') Summer Stories
  div.link
    span.year 2018
    a(href='write/golden') Golden and the Beginning of Understanding
      
  div.link
    span.year 2018
    a(href='write/the-fence') The Fence
      
  div.link
    span.year 2018
    a(href='write/the-driver') The Driver
      
  
  p.title prose, essays, & non-fiction
  div.link
    span.year 2018
    a(href='write/revisiting-the-embarrassment-of-pain') Revisiting the Embarrassment of Pain

  div.link
    span.year 2018
    a(href='write/ars-poetica') Ars Poetica: I Don't Know How Else I Could've Told You
      
  div.link
    span.year 2017
    a(href='write/on-goal-orientation') On Goal Orientation
       
  
    
  p.title artbook 
  div.link
    span.year 2017
    a(href='/files/HELPSELF_FINAL_FULL.pdf') HELP/SELF
      
    

  p.title published
  div.link
    span.year 2018
    a(href='http://project-as-i-am.com/of-place-poetry-suzanne-knop/' target="_blank") "Of Place," "rhoda pair," "Taxicab rose," <i>Project As[I]Am</i>, 2018.

  
  // - shhhhhhhh - //
  
  //- p.title.secret will i ever be ready?
  //- div.link.secret
  //-   a(href='write/the-embarrassment-of-pain') /the-embarrassment-of-pain
